{% extends "_wizard-form.html" %}
{% set title = 'About donated devices' %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <h2 class="govuk-heading-m">Devices can vary</h2>

  <p>A variety of devices are being donated. The devices you could get might not be the same.</p>

  <p>Every device will meet the minimum requirements needed for remote learning.</p>

  <h2 class="govuk-heading-m">
    Configure at your own cost
  </h2>

  <p class="govuk-!-margin-bottom-7">Devices are provided with factory settings and you will need to configure them at your own cost before lending them to children and young people.</p>
{% endblock %}
