{% extends "_wizard-form.html" %}
{% set title = 'There’s a queue for these devices' %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p>We do not know how many devices will be donated. Opting in to this offer will put you in a queue.</p>

  <p>Newly donated devices will be distributed to opted-in schools and colleges at the top of the queue.</p>

  <p>There’s no guarantee you will get any devices.</p>

  <h2 class="govuk-heading-m">You do not need to place an order</h2>

  <p>When it’s your turn, your devices will be automatically delivered to your school. Computacenter will email you if you’re going to receive devices.</p>

  <p>You could receive up to 25 donated devices, in boxes of 5.</p>

  <p>Donated devices are in addition to your allocation.</p>
{% endblock %}
