{% extends "_wizard-form.html" %}
{% set title = 'Do you want to opt in?' %}
{% set buttonText = 'Continue' %}

{% block form %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-4",
        isPageHeading: true
      }
    },
    items: [
      {
        text: 'Yes',
        value: 'yes'
      },
      {
        text: 'No, do not opt in',
        value: 'no'
      }
    ]
  } | decorateFormAttributes(["donated-opt-in"]) ) }}
{% endblock %}
