<h2 class="govuk-heading-m">Mail Force are collecting donations</h2>
<p><a href="https://www.mailforcecharity.co.uk/">Mail Force</a> are collecting:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>donations to buy new laptops</li>
  <li>used laptops donated by companies</li>
</ul>

<p>This is not a Department for Education offer. You can only use this service to opt-in to receive laptops.</p>

<p>These donated laptops are being checked, refurbished if used, and distributed to schools and colleges.</p>
