<p>Mail Force are collecting:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>donations to buy new laptops</li>
  <li>used laptops donated by companies</li>
</ul>

<p>Donated laptops are being checked, refurbished if used, and distributed to schools and colleges.</p>

<h2 class="govuk-heading-m">About the laptops</h2>

<p>Every laptop will meet our minimum requirements, but they are not all the same.</p>

<p>All laptops will be Microsoft Windows devices. They are provided with factory settings and you should configure them at your own cost before lending them to children and young people.</p>
