<p>The charity campaign Mail Force Computers for Kids and Vodafone are offering 150,000 SIM cards to schools and colleges.</p>

<p>Each SIM card comes with 30GB of data that must be used within 90 days.</p>
<p>You can request up to 50 SIM cards. They are available on a first come first served basis.</p>

<p>If you want to make a request, you will need to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>visit the Vodafone website</li>
  <li>find your school or college using its postcode</li>
  <li>give headteacher details</li>
  <li>choose how many SIM cards you want</li>
</ul>

<p><a href="https://www.vodafone.co.uk/mobile/pay-as-you-go-plans/schools-connected">Request SIM cards from Vodafone</a></p>
