{% extends "layout.html" %}
{% if data.features["further-education"] %}
  {% set title = "Check your details" %}
  {% set orderChomebookRowHeading = "Will you need to order Chromebooks?" %}
{% else %}
  {% set title = "Check your school details" %}
  {% set orderChomebookRowHeading = "Will your school need to order Chromebooks?" %}
{% endif %}
{% block pageTitle %}{{ title }}{% endblock %}

{% if data.features["further-education"] %}
 {% set orderChomebookRowHeading = "Will you need to order Chromebooks?" %}
{% else %}
  {% set orderChomebookRowHeading = "Will your school need to order Chromebooks?" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/school"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  {% if data.features.iss %}
    <span class="govuk-caption-xl">State-funded pupils at independent settings</span>
  {% else %}
    <span class="govuk-caption-xl">{{ data['school-details'].name }}</span>
  {%  endif %}
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
  </div>
  <div class="govuk-grid-column-full">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Allocation"
          },
          value: {
            text: data['school-details'].allocation + " devices"
          },
          actions: {
            items: [
              {
                href: "https://get-help-with-tech.education.gov.uk/devices/device-allocations",
                text: "Query allocation"
              }
            ]
          }
        },
        {
          key: {
            text: "Setting"
          },
          value: {
              text: data['school-details'].type
          }
        },
        {
          key: {
            text: orderChomebookRowHeading
          },
          value: {
            text: "Yes"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Google Chromebook: Domain"
          },
          value: {
            text: data['domain']
          },
          actions: {
            items: [
              {
                href: "/responsible-body/devices/schools/" + school.URN + "/chromebooks",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        } if data['domain'],
        {
          key: {
            text: "Google Chromebook: Recovery email address"
          },
          value: {
            text: data['recovery']
          },
          actions: {
            items: [
              {
                href: "/responsible-body/devices/schools/" + school.URN + "/chromebooks",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        } if data['recovery']
      ]
    }) }}
  </div>

  <div class='govuk-grid-column-two-thirds'>

    <h2 class="govuk-heading-m">
      About allocations
    </h2>

    {% if data.features.iss %}
    {% include "_shared/responsible-body/la-funded-places/_allocation-description.html" %}
    {% else %}
      <p>Allocations are based on:</p>
      {% include "_shared/school/_allocation-description.html" %}
      <p>If the number of {% if data.features["further-education"] %}students unable to take part in face-to-face education{% else %}pupils unable to attend school{% endif %} and in need of laptops and tablets is greater than your allocation, you can <a href='#'>request more devices</a>.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
