{% extends "layout.html" %}
{% set title = "Order devices" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/school"
      },
      {
        text: "Order devices"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <div class="app-order-card">
      <h1 class="govuk-panel__title govuk-!-font-size-36 govuk-!-margin-bottom-2">
        {{ data.devicesAllocation - data.devicesOrdered }} devices<br />and 10 routers available
      </h1>
      <div class="govuk-panel__body">
        <p class="govuk-!-font-size-24">You’ve ordered {{ data.devicesOrdered }} of {{ data.devicesAllocation }} devices</p>

        {{ govukButton({
          text: 'Place an order',
          href: '/school/shop',
          classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-0'
        }) }}
      </div>
    </div>

    <h2 class="govuk-heading-m">
      Your allocation
    </h2>

    <h3 class="govuk-heading-s">Laptops and tablets</h3>

    <p>You’ve been allocated {{ data.devicesAllocation - data.devicesOrdered }} laptops and tablets so pupils who do not have sole access to a laptop or tablet can be provided with one.</p>

    <p><a href="#">Tell us if you need more devices</a></p>

    <h3 class="govuk-heading-s">4G wireless routers</h3>

    <p>You can get wireless routers for pupils who do not have internet access at home.</p>

    <p><a href="#">Tell us if you need wireless routers</a></p>
  </div>
</div>
{% endblock %}
