{% extends "layout.html" %}
{% set title = "Order devices soon" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {% set customBreadcrumbTitle = 'Order devices' %}
  {% include '_shared/breadcrumbs/_get-laptops-and-tablets-school.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <p>Your school is now eligible to place orders.</p>

    <p>You need to do this on a website called TechSource.</p>

    <h2 class="govuk-heading-m">Your TechSource account will be ready soon</h2>

    <p>You cannot order devices until your TechSource account is ready. This should be in the next 24 hours. We’ll email you when you can order.</p>
  </div>
</div>
{% endblock %}
