{% extends "layout.html" %}
{% set title = "Order history" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/school"
      },
      {
        text: "Order history"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <p>Orders placed on TechSource are not shown. Sign in to <a href="#">TechSource</a> to see details of orders placed before 1 May 2021.</p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Date</th>
          <th class="govuk-table__header">Order</th>
          <th class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">10 May 2021</td>
          <td class="govuk-table__cell">
            <span class="app-!-font-family-tabular govuk-!-margin-right-1">5</span> 4G wireless routers<br />
            <span class="govuk-hint">Order reference: HDJ2123F</span> <a href="/school/devices/previous-order">View order</a>
          </td>
          <td class="govuk-table__cell">Processing</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2 May 2021</td>
          <td class="govuk-table__cell">
            <span class="app-!-font-family-tabular govuk-!-margin-right-1">20</span> Microsoft Windows laptops<br />
            <span class="govuk-hint">Order reference: ABC2123E</span> <a href="/school/devices/previous-order">View order</a>
          </td>
          <td class="govuk-table__cell">Dispatched</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
