{% extends "layout.html" %}
{% set title = "You cannot order devices yet" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Get devices for your school",
        href: "/school"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <!-- {{ govukWarningText({
      text: 'Your school is not within a local lockdown',
      iconFallbackText: 'Warning'
    }) }} -->

    <h2 class="govuk-heading-m">Request devices for children who are shielding</h2>

    <p>If you need devices for children who are extremely clinically vulnerable and must continue shielding, contact us with details of how many devices you need: <a href="#">COVID.TECHNOLOGY@education.gov.uk</a>.</p>

    <h2 class="govuk-heading-m">Ordering devices during a local outbreak</h2>

    <p>You can only place orders when local coronavirus restrictions are confirmed.</p>

    <p>We’ll contact you as soon as you’re able to place orders.</p>
  </div>
</div>
{% endblock %}
