{% extends "layout.html" %}
{% set title = "You cannot order devices yet" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Get devices for your school",
        href: "/school"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {% include '_shared/order/_cant-order.html' %}

    {% set requestLink = '/school/devices/request-devices' %}
    {% include '_shared/request-devices/_who.html' %}
  </div>
</div>
{% endblock %}
