{% extends "layout.html" %}
{% set isOrderUser = data['school-details'].order_user %}
{% set title = "Order devices now" if isOrderUser else "Order devices" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Get devices for your school",
        href: "/school"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if isOrderUser %}
        {{ title }}
      {% else %}
        <span class="govuk-caption-xl">
          {{ title }}
        </span>
        Your school can order {{ data['school-details'].allocation }} devices now
      {% endif %}
    </h1>

    {% if isOrderUser %}
      <h2 class="govuk-heading-m">You can order {{ data['school-details'].allocation }} devices</h2>
      <p class="govuk-body">Order your devices now, do not delay.</p>
      <p>They will arrive on the next working day if you order before 4pm.</p>

      {% include '_shared/order/_help-signing-in.html' %}
      {% include '_shared/order/_start-now.html' %}
    {% else %}
      <p>You do not have a TechSource account. Someone else must place your school’s orders.</p>

      <p><a href="/school/users">Go to manage users to see who can place orders, or give yourself access</a>.</p>
    {% endif %}


  </div>
</div>
{% endblock %}
