{% extends "layout.html" %}
{% set isOrderUser = data['school-details'].order_user %}
{% set title = "Order devices" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/school"
      },
      {
        text: "Order devices"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if isOrderUser %}
        {{ title }}
      {% else %}
        <span class="govuk-caption-xl">
          {{ title }}
        </span>
        Your school can order devices
      {% endif %}
    </h1>

    <div class="app-order-card">
      <h1 class="govuk-panel__title govuk-!-font-size-36 govuk-!-margin-bottom-2">
        82 devices available
      </h1>
      <div class="govuk-panel__body govuk-!-font-size-24">
        You’ve ordered 0 of 82 devices
      </div>
    </div>

    {% if isOrderUser %}
      <h2 class="govuk-heading-m">
        How to order
      </h2>

      <p>You need to place orders on a website called TechSource.</p>

      <p>If you try to order more than 82 devices {% if routersCap > 0 %}or more than {{ routersCap }} routers{% else %} (or any routers){% endif %}, the order will be cancelled.</p>


      <p>Most devices will be delivered within 2 working days.</p>


      {# This is conditional on devices available being 150 or more in the app #}
      {# <p>For large orders (more than 150 devices), we’ll call your delivery contact to arrange delivery.</p> #}

      <p class="govuk-body">Order your devices now. Do not delay.</p>

      {% if not data.features.push %}
        <p>Ordering will close when your school reopens.</p>
      {% endif %}

      {% include '_shared/order/_help-signing-in.html' %}
      {% include '_shared/order/_start-now.html' %}
    {% else %}
      <p>You do not have a TechSource account. Someone else must place your school’s orders.</p>

      <p><a href="/school/users">Go to manage users to see who can place orders, or give yourself access</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
