{% extends "layout.html" %}
{% set isOrderUser = data['school-details'].order_user %}
{% set title = "Order devices" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/school"
      },
      {
        text: 'Order devices'
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if isOrderUser %}
        {{ title }}
      {% else %}
        <span class="govuk-caption-xl">
          {{ title }}
        </span>
        Your school can order devices
      {% endif %}
    </h1>

    <div class="app-order-card">
      <h1 class="govuk-panel__title govuk-!-font-size-36 govuk-!-margin-bottom-2">
        2 devices available<br />for specific circumstances
      </h1>
      <div class="govuk-panel__body govuk-!-font-size-24">
        You cannot order your full allocation yet
      </div>
    </div>

    {% if isOrderUser %}
      <p>Now you’ve contacted us to <a href="/school/devices/request-devices">request devices for specific circumstances</a>, you can go ahead with your order.</p>

      <p>You cannot order your full allocation yet because there are no local coronavirus restrictions.</p>

      {% include '_shared/order/_help-signing-in.html' %}
      {% include '_shared/order/_start-now.html' %}
    {% else %}
      <p>You do not have a TechSource account. Someone else must place your school’s orders.</p>

      <p><a href="/school/users">Go to manage users to see who can place orders, or give yourself access</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
