{% extends "layout.html" %}
{% set isOrderUser = data['school-details'].order_user %}
{% set title = "Order devices" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {% include '_shared/breadcrumbs/_get-laptops-and-tablets-school.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {% if isOrderUser %}
        {{ title }}
      {% else %}
        <span class="govuk-caption-xl">
          {{ title }}
        </span>
        Your school can order devices
      {% endif %}
    </h1>

    <div class="app-order-card">
      <h1 class="govuk-panel__title govuk-!-font-size-36 govuk-!-margin-bottom-2">
        82 devices available
      </h1>
      <div class="govuk-panel__body govuk-!-font-size-24">
        You’ve ordered 0 of 82 devices
      </div>
    </div>

    {% if isOrderUser %}
      {% if data.features['order-only-what-you-need'] %}
        <p class="govuk-body">Only order devices for children who cannot attend school and do not have access to a laptop or tablet.</p>
      {% else %}
        <p class="govuk-body">Order your devices now. Do not delay.</p>
      {% endif %}

      {% if data.features['delay-delivery']%}
        <p class="govuk-body">We’re experiencing high demand at the moment, but we’re working hard to get devices delivered within 5 working days.</p>
      {% else %}
        <p>They will arrive on the next working day if you order before 4pm.</p>
      {% endif %}

      <p>Ordering will close when your school reopens. If your school closes again in the future, you can come back and order your remaining allocation.</p>

      {% include '_shared/order/_help-signing-in.html' %}
      {% include '_shared/order/_start-now.html' %}
    {% else %}
      <p>You do not have a TechSource account. Someone else must place your school’s orders.</p>

      <p><a href="/school/users">Go to manage users to see who can place orders, or give yourself access</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}
