{# SPECIFIC CIRCUMSTANCES #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
    {% if data.features['further-education'] %}
      <h3 class="govuk-heading-m ">Schools and colleges with approved requests for <span class='app-no-wrap'>specific circumstances</span></h3>
    {% else %}
      <h3 class="govuk-heading-m ">Schools with approved requests for specific circumstances</h3>
    {% endif %}
  </div>
</div>

<table class="govuk-table">
  {% if data['responsible-body'] %}
    <caption class="govuk-table__caption govuk-visually-hidden">Schools and colleges with approved requests for specific circumstances</caption>
  {% else %}
    <caption class="govuk-table__caption govuk-visually-hidden">Schools with approved requests for specific circumstances</caption>
  {% endif %}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th class="govuk-table__header" style="width: 50%">School{% if data.features['further-education'] %} or college{% endif %}</th>
      <th class="govuk-table__header">Who will order?</th>
      <th class="govuk-table__header">Allocation</th>
      <th class="govuk-table__header" style="width: 200px"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="#" class="js-open-on-submit">Example school (000000)</a><br />
          Primary
        </td>
        <td class="govuk-table__cell">
          Trust
        </td>
        <td class="govuk-table__cell">
          1 device<br>
          0 routers
        </td>
        <td class="govuk-table__cell">
        </td>
      </tr>
  </tbody>
</table>
{# END SPECIFIC CIRCUMSTANCES #}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
    {% if data.features['further-education'] %}
      <h3 class="govuk-heading-m ">Schools and colleges reporting a closure <span class='app-no-wrap'>or self-isolating group</span></h3>
    {% else %}
      <h3 class="govuk-heading-m ">Schools reporting a closure or self-isolating group</h3>
    {% endif %}
    <p>
      When a school{% if data.features['further-education'] %} or college{% endif %} has reported either a closure or a group of 15 or more pupils self-isolating at the same time, you can order its allocation of devices or routers.
    </p>
  </div>
</div>

<table class="govuk-table">
  {% if data['responsible-body'] %}
    <caption class="govuk-table__caption govuk-visually-hidden">Schools and colleges reporting a closure or self-isolating group</caption>
  {% else %}
    <caption class="govuk-table__caption govuk-visually-hidden">Schools reporting a closure or self-isolating group</caption>
  {% endif %}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" style="width: 50%">School{% if data.features['further-education'] %} or college{% endif %}</th>
      <th class="govuk-table__header">Who will order?</th>
      <th class="govuk-table__header">Allocation</th>
      <th class="govuk-table__header" style="width: 200px"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for school in data.schools %}
      {% if school.can_order %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="/responsible-body/devices/schools/{{ school.URN }}" class="js-open-on-submit">{{ school.name }} ({{ school.URN }})</a><br />
          {% if school.type == 'Special schools' %}
            Special school
          {% else %}
            {{ school.phase }}
          {% endif %}
        </td>
        <td class="govuk-table__cell">
          {% if data['responsible-body'][school.URN].who %}
            {% if data['responsible-body'][school.URN].who == 'central' %}
              {% if data.trust %}Trust{% else %}Local authority{% endif %}
            {% elseif data['responsible-body'][school.URN].who == 'school' %}
              School
            {% else %}
              Unknown
            {% endif %}
          {% else %}
            {{ whoOrders }}
          {% endif %}
        </td>
        <td class="govuk-table__cell">
          {{ school.total }} device{% if school.total != 1 %}s{% endif %} <br>
          0 routers
        </td>
        <td class="govuk-table__cell">
          {% set urn = school.URN %}
          {% include 'responsible-body/devices/school/_status-tag.html' %}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
    {% if data.features['further-education'] %}
      <h3 class="govuk-heading-m ">Schools and colleges without a reported closure <span class='app-no-wrap'>or self-isolating group</span></h3>
    {% else %}
      <h3 class="govuk-heading-m ">Schools without a reported closure or self-isolating group></h3>
    {% endif %}
  </div>
</div>

<table class="govuk-table">
  {% if data['responsible-body'] %}
    <caption class="govuk-table__caption govuk-visually-hidden">Schools and colleges without a reported closure or self-isolating group</caption>
  {% else %}
    <caption class="govuk-table__caption govuk-visually-hidden">Schools without a reported closure or self-isolating group</caption>
  {% endif %}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" style="width: 50%">School{% if data.features['further-education'] %} or college{% endif %}</th>
      <th class="govuk-table__header">Who will order?</th>
      <th class="govuk-table__header">Allocation</th>
      <th class="govuk-table__header" style="width: 200px"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for school in data.schools %}
     {% if not school.can_order %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="/responsible-body/devices/schools/{{ school.URN }}" class="js-open-on-submit">{{ school.name }} ({{ school.URN }})</a><br />
          {% if school.type == 'Special schools' %}
            Special school
          {% else %}
            {{ school.phase }}
          {% endif %}
        </td>
        <td class="govuk-table__cell">
          {% if data['responsible-body'][school.URN].who %}
            {% if data['responsible-body'][school.URN].who == 'central' %}
              {% if data.trust %}Trust{% else %}Local authority{% endif %}
            {% elseif data['responsible-body'][school.URN].who == 'school' %}
              School
            {% else %}
              Unknown
            {% endif %}
          {% else %}
            {{ whoOrders }}
          {% endif %}
        </td>
        <td class="govuk-table__cell">
          {{ school.total }} device{% if school.total != 1 %}s{% endif %} <br>
          0 routers
        </td>
        <td class="govuk-table__cell">
          {% set urn = school.URN %}
          {% include 'responsible-body/devices/school/_status-tag.html' %}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
