<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
    {% if data['further-education'] %}
      <h3 class="govuk-heading-m ">Schools and colleges needing information <span class='app-no-wrap'>before they can order</span></h3>
    {% else %}
      <h3 class="govuk-heading-m ">Schools needing information before they can order</h3>
    {% endif %}
  </div>
</div>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Schools {% if data['further-education'] %} and colleges{% endif %} needing information before they can order</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" style="width: 50%">School{% if data['further-education'] %} or college{% endif %}</th>
      <th class="govuk-table__header">Who will order?</th>
      <th class="govuk-table__header">Allocation</th>
      <th class="govuk-table__header" style="width: 200px"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for school in data.schools %}
      {% if school.can_order %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="/responsible-body/devices/schools/{{ school.URN }}" class="js-open-on-submit">{{ school.name }} ({{ school.URN }})</a><br />
          {% if school.type == 'Special schools' %}
            Special school
          {% else %}
            {{ school.phase }}
          {% endif %}
        </td>
        <td class="govuk-table__cell">
          {% if data['responsible-body'][school.URN].who %}
            {% if data['responsible-body'][school.URN].who == 'central' %}
              {% if data.trust %}Trust{% else %}Local authority{% endif %}
            {% elseif data['responsible-body'][school.URN].who == 'school' %}
              School
            {% else %}
              Unknown
            {% endif %}
          {% else %}
            {{ whoOrders }}
          {% endif %}
        </td>
        <td class="govuk-table__cell">
          {{ school.total }} device{% if school.total != 1 %}s{% endif %} <br>
          0 routers
        </td>
        <td class="govuk-table__cell">
          <!-- {% set urn = school.URN %}
          {% include 'responsible-body/devices/school/_status-tag.html' %} -->
          <span class="govuk-tag govuk-tag--grey">Needs information</span>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
    {% if data['further-education'] %}
      <h3 class="govuk-heading-m ">Schools and colleges ready to order</h3>
    {% else %}
      <h3 class="govuk-heading-m ">Schools ready to order</h3>
    {% endif %}
  </div>
</div>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Schools{% if data['further-education'] %} and colleges{% endif %} ready to order</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" style="width: 50%">School{% if data['further-education'] %} or college{% endif %}</th>
      <th class="govuk-table__header">Who will order?</th>
      <th class="govuk-table__header">Allocation</th>
      <th class="govuk-table__header" style="width: 200px"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for school in data.schools %}
     {% if not school.can_order %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="/responsible-body/devices/schools/{{ school.URN }}" class="js-open-on-submit">{{ school.name }} ({{ school.URN }})</a><br />
          {% if school.type == 'Special schools' %}
            Special school
          {% else %}
            {{ school.phase }}
          {% endif %}
        </td>
        <td class="govuk-table__cell">
          {% if data['responsible-body'][school.URN].who %}
            {% if data['responsible-body'][school.URN].who == 'central' %}
              {% if data.trust %}Trust{% else %}Local authority{% endif %}
            {% elseif data['responsible-body'][school.URN].who == 'school' %}
              School
            {% else %}
              Unknown
            {% endif %}
          {% else %}
            {{ whoOrders }}
          {% endif %}
        </td>
        <td class="govuk-table__cell">
          {{ school.total }} device{% if school.total != 1 %}s{% endif %} <br>
          0 routers
        </td>
        <td class="govuk-table__cell">
          {% set urn = school.URN %}
          {% include 'responsible-body/devices/school/_status-tag.html' %}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
