{% extends "_wizard-form.html" %}
{% set title = "Who will place orders for laptops and tablets?" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {{ govukRadios({
    items: [
      {
        html: '<span class="govuk-!-font-weight-bold">Most schools will place their own orders (recommended)</span>',
        value: 'schools',
        hint: {
          html: 'We’ll need contact details for each school'
        }
      },
      {
        html: '<span class="govuk-!-font-weight-bold">Most orders will be placed centrally</span>',
        value: 'central',
        hint: {
          html: 'You’ll need to place orders for schools and give technical information for any school that wants to order Chromebooks.<br>' | safe
        }
      }
    ]
  } | decorateFormAttributes('who-orders-laptops') ) }}

  <p>You can change this setting for each school later.</p>
{% endblock %}
