{% extends "layout.html" %}
{% set title = "Get laptops and tablets" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Get help with technology",
        href: "/responsible-body"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<!-- {{ appBanner({
  html: "<h2 class=\"govuk-heading-m\">Thank you. We’ve received your information.</h2>",
  type: "success",
  icon: false
}) }} -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {% if data['who-orders-laptops'] %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/responsible-body/devices/schools">Get schools ready</a>
      </h2>
    {% else %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/responsible-body/devices/tell-us">Get schools ready</a>
      </h2>
    {% endif %}

    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>tell us who will place orders for schools</li>
      <li>give schools access to the services they need</li>
      <li>see your list of schools and their allocations</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/responsible-body/devices/order">Order devices</a>
    </h2>
    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>place orders in the event of local coronavirus restrictions</li>
      <li>access the Computacenter TechSource website</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/responsible-body/devices/request-devices">Request devices for specific circumstances</a>
    </h2>
    <p>Use this section to request devices for children who:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>are shielding on official advice</li>
      <li>cannot attend school because they live in a different area with coronavirus restrictions</li>
    </ul>
  </div>
</div>
{% endblock %}
