{% extends "layout.html" %}
{% set title = "Get laptops and tablets" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/responsible-body"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/responsible-body/devices/schools">Your schools {% if data.features['further-education'] %}and colleges{% endif %}</a>
    </h2>

    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>see your list of schools {% if data.features['further-education'] %}and colleges, {% endif %} and their device allocations</li>
      <li>tell us if schools {% if data.features['further-education'] %}or colleges{% endif %} will place their own orders</li>
      <li>give contacts and technical information{% if not data.features['further-education'] %} for each school{% endif %}</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      {% if data.covid or data.features.push %}
        <a href="/responsible-body/devices/order-virtual-cap">Order devices</a>
      {% else %}
        <a href="/responsible-body/devices/order">Order devices</a>
      {% endif %}
    </h2>
    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% if data.features.push %}
        <li>place orders</li>
      {% else %}
        <li>place orders in the event of disruption</li>
        <li>place orders for specific circumstances</li>
      {% endif %}
      <li>access the Computacenter TechSource website</li>
    </ul>

    {% if not data.features.push %}
    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/responsible-body/devices/request-devices">Request devices for specific circumstances</a>
    </h2>
    {% if data.features['further-education'] %}
      <p>Use this section to request devices for students who cannot take part in face&#8209;to&#8209;face education because they:</p>
    {% else %}
      <p>Use this section to request devices for children who:</p>
    {% endif %}
    <ul class="govuk-list govuk-list--bullet">
      <li>are shielding on official advice</li>
      {% if data.features['further-education'] %}
        <li>live in a different area to their school or college and are subject to local coronavirus restrictions</li>
      {% else %}
        <li>cannot attend school because restrictions prevent them from going</li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
