{% extends "_wizard-page.html" %}
{% set buttonText = 'Go to your list of schools' %}

{% block banner %}
  {{ appBanner({
    html: "
      <h2 class=\"govuk-heading-m\">We’ve saved your choice</h2>
  ",
    type: "success",
    icon: false
  }) }}
{% endblock %}

{% if hasDevolvedAll %}
  {% set title = "Each school will place their own orders" %}
  {% set description %}
    <p>If a school cannot order its own devices, you can change this setting on a school-by-school basis.</p>

    <h2 class="govuk-heading-m">What you need to do now</h2>

    <p>We need you to nominate a contact for each school.</p>

    <p>They can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>manage who can order devices for their school</li>
      <li>order devices for their school</li>
    </ul>

    <p>If a school does not respond, we’ll ask you to chase them or give us different contact details.</p>
  {% endset %}
{% endif %}

{% if hasCentralAll %}
  {% set title = "Orders will be placed centrally" %}
  {% set description %}
    <p>If a school needs to order its own devices, you can change this setting on a school-by-school basis.</p>

    <h2 class="govuk-heading-m">What you need to do now</h2>

    <p>For each school you’ll need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>find out if they want Chromebooks </li>
      <li>give details of the school domain and recovery email address needed to configure them. We’ll explain how to find these.</li>
    </ul>
  {% endset %}
{% endif %}

{% block page %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {{ description | safe }}
{% endblock %}
