{% extends "layout.html" %}
{% set title = "Order devices now" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {% set customBreadcrumbTitle = 'Order devices' %}
  {% include '_shared/breadcrumbs/_get-laptops-and-tablets.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {% include '_shared/order/_each-school.html' %}
  </div>
</div>

<table class="govuk-table govuk-!-margin-top-3">
  <caption class="govuk-table__caption">
    <span class="govuk-heading-m">Schools you need to place orders for</span>
  </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" style="width: 50%">School</th>
      <th class="govuk-table__header">What to order</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="/responsible-body/devices/schools/{{ data.schools[0].URN }}">{{ data.schools[0].name }}</a>
      </td>
      <td class="govuk-table__cell">
        Order {{ data.schools[0].total }} devices
        <br /><span class="govuk-!-font-size-16" style="color: #505a5f">You’ve ordered 0 of {{ data.schools[0].total }} devices</span>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="/responsible-body/devices/schools/{{ data.schools[0].URN }}">{{ data.schools[1].name }}</a>
      </td>
      <td class="govuk-table__cell">
        Order 2 devices for specific circumstances
        <br /><span class="govuk-!-font-size-16" style="color: #505a5f">You cannot order this school’s full allocation yet</span>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="/responsible-body/devices/schools/{{ data.schools[0].URN }}">{{ data.schools[2].name }}</a>
      </td>
      <td class="govuk-table__cell">
        Order 1 device for specific circumstances
        <br /><span class="govuk-!-font-size-16" style="color: #505a5f">You’ve ordered 1 of 2 devices for specific circumstances</span>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="/responsible-body/devices/schools/{{ data.schools[2].URN }}">{{ data.schools[3].name }}</a>
      </td>
      <td class="govuk-table__cell">
        Order 5 devices
        <br /><span class="govuk-!-font-size-16" style="color: #505a5f">You’ve ordered {{ data.schools[2].total - 5 }} of {{ data.schools[2].total }} devices</span>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="/responsible-body/devices/schools/{{ data.schools[2].URN }}">{{ data.schools[4].name }}</a>
      </td>
      <td class="govuk-table__cell">
        Order {{ data.schools[2].total - 56 }} devices and 4 routers
        <br /><span class="govuk-!-font-size-16" style="color: #505a5f">You’ve ordered 56 of {{ data.schools[2].total }} devices and 0 of 4 routers</span>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="/responsible-body/devices/schools/{{ data.schools[2].URN }}">{{ data.schools[5].name }}</a>
      </td>
      <td class="govuk-table__cell">
        All devices ordered
        <br /><span class="govuk-!-font-size-16" style="color: #505a5f">You’ve ordered {{ data.schools[2].total }} of {{ data.schools[2].total }} devices</span>
      </td>
    </tr>
    <!-- <tr class="govuk-table__row">
      <td colspan="2" class="govuk-table__cell">
        <a href="#">View all schools (25)</a>
      </td>
    </tr> -->
  </tbody>
</table>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include '_shared/order/_help-signing-in.html' %}
    {% include '_shared/order/_start-now.html' %}
  </div>
</div>
{% endblock %}
