{% extends "layout.html" %}
{% set title = "You cannot order devices yet" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Get help with technology",
        href: "/responsible-body"
      },
      {
        text: "Get laptops and tablets",
        href: "/responsible-body/devices"
      },
      {
        text: "Order devices"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Order devices</span>
      {{ title }}
    </h1>

    <p>None of the {{ data.schools.length }} schools you’re responsible for placing orders for are currently affected by local coronavirus restrictions.</p>

    <p>You can only place orders when local coronavirus restrictions are confirmed.</p>

    <p>We’ll contact you as soon as you’re able to place orders.</p>

    {% set requestLink = '/responsible-body/devices/request-devices' %}
    {% include '_shared/request-devices/_who.html' %}
  </div>
</div>
{% endblock %}
