{% extends "layout.html" %}
{% set title = "You can order devices for specific circumstances" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {% set customBreadcrumbTitle = 'Order devices' %}
  {% include '_shared/breadcrumbs/_get-laptops-and-tablets.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Order devices</span>
      {{ title }}
    </h1>

    <p>Now you’ve emailed us to <a href="/responsible-body/devices/request-devices">request devices for specific circumstances</a>, you can go ahead with your order.</p>

    <p>You cannot order a school’s full allocation yet because there are no local coronavirus restrictions. The number of devices you can currently place for each school is shown.</p>

    {% include '_shared/order/_each-school.html' %}
  </div>
</div>

<table class="govuk-table govuk-!-margin-top-3">
  <caption class="govuk-table__caption">
    <span class="govuk-heading-m">Schools you need to place orders for:</span>
  </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" style="width: 50%">School</th>
      <th class="govuk-table__header">What to order</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="/responsible-body/devices/schools/{{ data.schools[0].URN }}">{{ data.schools[0].name }}</a>
      </td>
      <td class="govuk-table__cell">
        Order 2 devices for specific circumstances
        <br /><span class="govuk-!-font-size-16" style="color: #505a5f">You cannot order this school’s full allocation yet</span>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="/responsible-body/devices/schools/{{ data.schools[0].URN }}">{{ data.schools[0].name }}</a>
      </td>
      <td class="govuk-table__cell">
        Order 1 device for specific circumstances
        <br /><span class="govuk-!-font-size-16" style="color: #505a5f">You’ve ordered 1 of 2 devices for specific circumstances</span>
      </td>
    </tr>
  </tbody>
</table>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include '_shared/order/_help-signing-in.html' %}
    {% include '_shared/order/_start-now.html' %}
  </div>
</div>
{% endblock %}
