{% extends "layout.html" %}
{% set title = "Order devices" %}
{% set rbContent = true %}
{% set devicesAllocated = 14 %}
{% set devicesAvailableToOrder = devicesAllocated - data.devicesOrdered %}
{% set routersAvailableToOrder = data.routersAllocated - data.routersOrdered %}

{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {% set customBreadcrumbTitle = 'Order devices' %}
  {% include '_shared/breadcrumbs/_get-laptops-and-tablets.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
    {% include '_shared/responsible-body/_group-items-available.html' %}
    {% if not data.features.push %}
      <p class="govuk-body">
        The number of devices you can order is the remaining allocation of devices&nbsp;for:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>approved requests <a href="/responsible-body/devices/request-devices">for specific circumstances</a></li>
        <li><a href="/responsible-body/devices/schools">schools that have reported a closure</a> or 15 or more pupils self-isolating at the same time</li>
      </ul>
    {% endif %}
    <h2 class="govuk-heading-m">
      How to order
    </h2>
    <p>You need to place orders on a website called TechSource.</p>
      {% if data.routersAllocated %}
        <p>
          If you try to order more than {{ devicesAvailableToOrder }} devices {% if routersCap > 0 %}or more than {{ routersCap }} routers{% else %} (or any routers){% endif %}, the order will be cancelled.
        </p>
      {% else %}
        <p>
          If you try to order more than {{ devicesAvailableToOrder }} devices the order will be cancelled.
        </p>
      {% endif %}
    <p>
      Most devices will be delivered within 2 working days.
    </p>
    {% if data.features['further-education'] %}
      <h3 class="govuk-heading-s">
        Combining allocations into one order
      </h3>
      <p>
        You can combine allocations for your schools and colleges, and have devices delivered to one location. If you want devices delivered directly to different locations, place a separate order for each delivery address.
      </p>
    {% else %}
      <h3 class="govuk-heading-s">
        Ordering devices for more than one school
      </h3>
      <p>
        You can combine allocations for all your schools, and have the devices delivered to one place. If you want a school to get devices directly, place a separate order for each delivery address.
      </p>
    {% endif %}
    {# <h3 class="govuk-heading-s">Chromebooks</h3>
    <p>
      If you place an order for Chromebooks, TechSource will contact you about which ‘G Suite for Education’ domains you want to use.
    </p> #}
    <h3 class="govuk-heading-s">Using TechSource for the first time</h3>
    <p>Use these details to sign in:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>User ID: [email address]</li>
      <li>Password: Use the ‘Forgotten password’ link to set a password the first time you sign in</li>
    </ul>
    {% include '_shared/order/_start-now.html' %}
  </div>
</div>
{% endblock %}
