{% extends "layout.html" %}
{% set title = "You’ve ordered all the devices you can" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {% set customBreadcrumbTitle = 'Order devices' %}
  {% include '_shared/breadcrumbs/_get-laptops-and-tablets.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Order devices</span>
      {{ title }}
    </h1>

    <div class="app-order-card">
      <h2 class="govuk-!-margin-0 govuk-!-margin-bottom-6">
        <span class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-size-24">
          {{ data.rb }} has:
        </span>
        <span class="govuk-panel__title govuk-!-font-size-36">
          No devices left to order
        </span>
      </h2>
      <div class="govuk-panel__body govuk-!-font-size-24">
        You ordered 582 of 582 devices
      </div>
    </div>

    <p>We’ll contact you if you’re able to place more orders.</p>

    <p><a href="#">View your order history on TechSource</a></p>
  </div>
</div>

{% if not data.features.push %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- {% include '_shared/order/_some-schools.html' %} -->

    <h2 class="govuk-heading-m govuk-!-margin-top-2">Get devices for specific circumstances</h2>
    {% set requestLink = '/responsible-body/devices/request-devices' %}
    {% include '_shared/request-devices/_who.html' %}
  </div>
</div>
{% endif %}

{% endblock %}
