{% extends "layout.html" %}
{% set title = "Order devices now" %}

{% set devicesOrdered = 2 %}
{% set routersOrdered = 4 %}

{% set devicesTotalAllocation = 176 %}
{% set routersTotalAllocation = 4 %}

{% set devicesCap = devicesTotalAllocation - devicesOrdered %}
{% set routersCap = routersTotalAllocation - routersOrdered %}


{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {% set customBreadcrumbTitle = 'Order devices' %}
  {% include '_shared/breadcrumbs/_get-laptops-and-tablets.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {% include '_shared/order/_each-school.html' %}
    <div class="app-order-card">
      <h1 class="govuk-panel__title govuk-!-font-size-36 govuk-!-margin-bottom-2">
        {{ devicesCap }} devices and<br>
        {{ routersCap }} routers available
      </h1>
    </div>
    <p class=''>
      You’ve already ordered:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        {{ devicesOrdered }} devices
      </li>
      <li>
        {{ routersOrdered }} routers
      </li>
    </ul>
    <h2 class='govuk-heading-m'>
      Schools reporting disruption
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ data.schools[0].name }}</li>
      <li>{{ data.schools[1].name }}</li>
      <li>{{ data.schools[2].name }}</li>
      <li>{{ data.schools[3].name }}</li>
      <li>{{ data.schools[4].name }}</li>
      <li>{{ data.schools[5].name }}</li>
    </ul>
    {% include '_shared/order/_help-signing-in.html' %}
    {% include '_shared/order/_start-now.html' %}
  </div>
</div>
{% endblock %}
