{% extends "layout.html" %}
{% set title = "You’ve ordered all the devices you can" %}
{% set lockdown = false %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {% set customBreadcrumbTitle = 'Order devices' %}
  {% include '_shared/breadcrumbs/_get-laptops-and-tablets.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Order devices</span>
      {{ title }}
    </h1>

    <p>We’ll contact you if you’re able to place more orders.</p>

    <p><a href="#">View your order history on TechSource</a></p>
  </div>
</div>

<table class="govuk-table govuk-!-margin-top-3">
  <caption class="govuk-table__caption">
    <span class="govuk-heading-m">Schools you ordered for</span>
  </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" style="width: 50%">School</th>
      <th class="govuk-table__header">What was ordered</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="/responsible-body/devices/schools/{{ data.schools[0].URN }}">{{ data.schools[2].name }}</a>
      </td>
      <td class="govuk-table__cell">
        All devices for specific circumstances ordered
        <br /><span class="govuk-!-font-size-16" style="color: #505a5f">You’ve ordered 2 of 2 devices for specific circumstances</span>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <a href="/responsible-body/devices/schools/{{ data.schools[2].URN }}">{{ data.schools[5].name }}</a>
      </td>
      <td class="govuk-table__cell">
        All devices ordered
        <br /><span class="govuk-!-font-size-16" style="color: #505a5f">You’ve ordered {{ data.schools[2].total }} of {{ data.schools[2].total }} devices</span>
      </td>
    </tr>
    <!-- <tr class="govuk-table__row">
      <td colspan="2" class="govuk-table__cell">
        <a href="#">View all schools (25)</a>
      </td>
    </tr> -->
  </tbody>
</table>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include '_shared/order/_some-schools.html' %}

    <h2 class="govuk-heading-m govuk-!-margin-top-2">Get devices for specific circumstances</h2>
    {% set requestLink = '/responsible-body/devices/request-devices' %}
    {% include '_shared/request-devices/_who.html' %}
  </div>
</div>

{% endblock %}
