{% extends "layout.html" %}
{% set title = "Request devices for children" %}

{% block pageNavigation %}
  {% include '_shared/breadcrumbs/_get-laptops-and-tablets.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {% include '_shared/request-devices/_who.html' %}

    {% set multipleSchools = true %}
    {% include '_shared/request-devices/_make-request.html' %}
  </div>
</div>
{% endblock %}
