{% extends "layout.html" %}
{% set title = "Request more devices for specific circumstances" if data.features.push else "Request devices for specific circumstances" %}

{% block pageNavigation %}
  {% include '_shared/breadcrumbs/_get-laptops-and-tablets.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {% set multipleSchools = true %}
    {% include '_shared/request-devices/_who.html' %}
    {% include '_shared/request-devices/_make-disadvantaged-request.html' %}
  </div>
</div>
{% endblock %}
