{% extends "layout.html" %}
{% switch data['who-orders-laptops'] %}
  {% case 'schools' %}
    {% set title = "Give us contact details for each school" %}
    {% set description = "Schools will manage their own orders" %}
    {% set devolvedAll = true %}
  {% case 'central' %}
    {% set title = "Schools you’ll need to order devices for" %}
    {% set description = "All device orders are managed centrally" %}
    {% set centralAll = true %}
  {% default %}
    {% set title = "Tell us who will manage orders for each school" %}
    {% set description = "Some schools will manage their own orders" %}
    {% set someSchools = true %}
{% endswitch %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body/devices/devolve"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <!-- <p class="govuk-body-l">{{ description }}. <br /><a href="/responsible-body/devices/devolve">Change who orders devices</a>.</p> -->
  </div>
</div>

<!-- <p>Give access to people who:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>are planning the response to a local lockdown</li>
  <li>understand what devices are needed and who they will be for</li>
  <li>know how to configure the devices</li>
</ul>

<p class="govuk-!-margin-bottom-8">Examples might include headteachers, deputy heads and IT leads.</p> -->

<div data-module="filterable-table">
  <table class="govuk-table">
    <caption class="govuk-table__caption">
      <span class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-2">{{ data.schools.length }} schools</span>
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" style="width: 50%">School</th>
        <th class="govuk-table__header">Allocation</th>
        <th class="govuk-table__header">Who orders?</th>
        <th class="govuk-table__header" style="width: 200px">Status</th>
      </tr>
      <tr>
        <th class="govuk-table__header" colspan="4">
          <form>
            <div class="govuk-form-group govuk-!-margin-top-1 govuk-!-margin-bottom-1">
              <label class="govuk-visually-hidden" for="filter">
                Filter schools
              </label>
              <input placeholder="Search list of schools" class="govuk-input js-filter-table-input" id="filter" name="filter" type="text">
            </div>
          </form>
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for school in data.schools %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/responsible-body/devices/schools/{{ school.URN }}" class="js-open-on-submit">{{ school.name }}</a><br />
            {% if school.type == 'Special schools' %}
              Special school
            {% else %}
              {{ school.phase }}
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {{ school.total }}
          </td>
          <td class="govuk-table__cell">
            {% if data['responsible-body'][school.URN] %}
              {% if data['responsible-body'][school.URN].who == 'central' %}
                Local authority
              {% else %}
                School
              {% endif %}
            {% elseif centralAll %}
              Local authority
            {% elseif devolvedAll %}
              School
            {% else %}
              Unknown
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {% if data['responsible-body'][school.URN] %}
              {% if data['responsible-body'][school.URN].who == 'central' %}
                <span class="govuk-tag govuk-tag--completed">Completed</span>
              {% else %}
                <span class="govuk-tag govuk-tag--yellow">School contacted</span>
              {% endif %}
              <!-- <span class="govuk-tag govuk-tag--yellow">School contacted</span>
              <span class="govuk-tag govuk-tag--blue">School signed in</span>
              <span class="govuk-tag govuk-tag--completed">School ready</span> -->
            {% else %}
              {% if centralAll %}
                <span class="govuk-tag govuk-tag--completed">Completed</span>
              {% else %}
                <span class="govuk-tag govuk-tag--grey">Needs a contact</span>
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
