{% extends "layout.html" %}
{% set title = "Schools that might need devices" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Get help with technology",
        href: "/responsible-body"
      },
      {
        text: "Get laptops and tablets"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">Get laptops and tablets</span>
  {{ title }}
</h1>

{% set missingSchools %}
  {% if not data.trust %}
    <p>This is a list of all local authority maintained and special schools.</p>
  {% endif %}
  <p>Email <a href="#">COVID.TECHNOLOGY@education.gov.uk</a> about a missing school.</p>
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">{{ data.schools.length }} schools</h2>

    {{ govukDetails({
      summaryText: "Is there a school missing from this list?",
      html: missingSchools
    }) }}
  </div>
</div>

<div data-module="filterable-table">
  {% if schools.length > 10 %}
  <form class="app-filter-container">
    <div class="govuk-form-group govuk-!-margin-top-1 govuk-!-margin-bottom-4">
      <label class="govuk-label govuk-label--s" for="filter">
        Filter the list of schools
      </label>
      <div id="account-number-hint" class="govuk-hint">
        Try searching for “Secondary” or a status like “Needs a contact”
      </div>
      <input class="govuk-input js-filter-table-input" id="filter" name="filter" type="text">
    </div>
  </form>
  {% endif %}

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" style="width: 50%">School</th>
        <th class="govuk-table__header">Allocation</th>
        <th class="govuk-table__header">Who will order?</th>
        <th class="govuk-table__header" style="width: 200px">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for school in data.schools %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/responsible-body/devices/schools/{{ school.URN }}" class="js-open-on-submit">{{ school.name }}</a><br />
            {% if school.type == 'Special schools' %}
              Special school
            {% else %}
              {{ school.phase }}
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {{ school.total }}
          </td>
          <td class="govuk-table__cell">
            {% if data['responsible-body'][school.URN].who %}
              {% if data['responsible-body'][school.URN].who == 'central' %}
                Local authority
              {% elseif data['responsible-body'][school.URN].who == 'school' %}
                School
              {% else %}
                Unknown
              {% endif %}
            {% else %}
              {{ whoOrders }}
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {% set urn = school.URN %}
            {% include 'responsible-body/devices/school/_status-tag.html' %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
