{% extends "layout.html" %}
{% set title = "Get schools ready" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {% include '_shared/breadcrumbs/_get-laptops-and-tablets.html' %}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
  {{ title }}
</h1>

{% set missingSchools %}
  {% if not data.trust %}
    <p>This is a list of all local authority maintained and special schools.</p>
  {% endif %}
  <p>Email <a href="#">COVID.TECHNOLOGY@education.gov.uk</a> about a missing school.</p>
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ data.schools.length }} schools will place their own orders</li>
      <!-- <li>100 need a contact</li> -->
      <li>0 out of {{ data.schools.length }} have been contacted</li>
      <li>0 out of {{ data.schools.length }} are ready to place orders</li>
    </ul>

    <!--<h2 class="govuk-heading-m">Summary</h2>
    <p>You need to nominate a contact for 100 schools.</p>
    <p>You need to tell us if 10 schools will be ordering Chromebooks.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{ data.schools.length }} schools will be placing their own orders</li>
      <li><a href="#">100 need a contact</a></li>
      <li><a href="#">22 have been contacted</a></li>
      <li><a href="#">5 are ready</a> if local coronavirus restrictions are confirmed</li>
    </ul>-->

    {{ govukDetails({
      summaryText: "Is there a school missing from this list?",
      html: missingSchools
    }) }}
  </div>
</div>

<div data-module="filterable-table">
  {% if data.schools.length > 10 %}
  <form class="app-filter-container">
    <div class="govuk-form-group govuk-!-margin-top-1 govuk-!-margin-bottom-4">
      <label class="govuk-label govuk-label--s" for="filter">
        Filter the list of schools
      </label>
      <div id="account-number-hint" class="govuk-hint">
        Try searching for “Secondary” or a status like “Needs a contact”
      </div>
      <input class="govuk-input js-filter-table-input" id="filter" name="filter" type="text">
    </div>
  </form>
  {% endif %}

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" style="width: 50%">School</th>
        <th class="govuk-table__header">Allocation</th>
        <th class="govuk-table__header">Who will order?</th>
        <th class="govuk-table__header" style="width: 200px">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for school in data.schools %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/responsible-body/devices/schools/{{ school.URN }}" class="js-open-on-submit">{{ school.name }}</a><br />
            {% if school.type == 'Special schools' %}
              Special school
            {% else %}
              {{ school.phase }}
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {{ school.total }}
          </td>
          <td class="govuk-table__cell">
            {% if data['responsible-body'][school.URN].who %}
              {% if data['responsible-body'][school.URN].who == 'central' %}
                {% if data.trust %}Trust{% else %}Local authority{% endif %}
              {% elseif data['responsible-body'][school.URN].who == 'school' %}
                School
              {% else %}
                Unknown
              {% endif %}
            {% else %}
              {{ whoOrders }}
            {% endif %}
          </td>
          <td class="govuk-table__cell">
            {% set urn = school.URN %}
            {% include 'responsible-body/devices/school/_status-tag.html' %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
