{% extends "layout.html" %}
{% set hasSetContactDetails = data['responsible-body'][school.URN]['person-type'] %}

{% if hasSetContactDetails %}
  {% set isHeadteacher = data['responsible-body'][school.URN]['person-type'] == 'headteacher' %}
  {% set emailAddress %}
    {% if isHeadteacher %}
      {{ school.headteacher_email }}
    {% else %}
      {{ data['responsible-body'][school.URN]['new-invite-email-address'] }}
    {% endif %}
  {% endset %}

  {% set schoolContactHtml %}
    {% if isHeadteacher %}
      {{ school.headteacher }}<br />
      {{ school.headteacher_email }}
    {% else %}
      {{ data['responsible-body'][school.URN]['new-invite-name'] }}<br />
      {{ data['responsible-body'][school.URN]['new-invite-email-address'] }}<br />
      {{ data['responsible-body'][school.URN]['new-invite-number'] }}
    {% endif %}
  {% endset %}
{% endif %}

{% set whoOrders %}
  {% if data['responsible-body'][school.URN] %}
    {% if data['responsible-body'][school.URN].who == 'central' %}
      The local authority orders devices
    {% else %}
      The school orders devices
    {% endif %}
  {% elseif hasCentralAll %}
    The local authority orders devices
  {% elseif hasDevolvedAll %}
    The school orders devices
  {% else %}
    Unknown
  {% endif %}
{% endset %}

{% set title = school.name %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body/devices/schools"
  }) }}
{% endblock %}

{% block content %}

{{ appBanner({
  html: "<h2 class=\"govuk-heading-m\">Saved. We’ve emailed " + emailAddress + "</h2>",
  type: "success",
  icon: false
}) if success }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/responsible-body/devices/schools/{{ school.URN }}" method="post">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        {{ title }}
      </h1>

      <div class="govuk-inset-text govuk-!-padding-top-0">
        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-0 govuk-!-margin-top-0',
          rows: [
            {
              key: {
                text: "Allocation"
              },
              value: {
                text: school.total + ' devices'
              }
            },
            {
              key: {
                text: "Type of school"
              },
              value: {
                text: "Special school" if school.type == 'Special schools' else school.phase + ' school'
              }
            },
            {
              key: {
                text: "Who orders?"
              },
              value: {
                text: whoOrders
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "School contact"
              },
              value: {
                html: schoolContactHtml
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            } if hasSetContactDetails
          ]
        }) }}
      </div>

      {% set contactFields %}
        <div class="govuk-!-margin-top-3">
          <p>Nominate someone who:</p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
            <li>is planning the response to a local lockdown</li>
            <li>understands what devices are needed and who they will be for</li>
            <li>knows how to configure the devices</li>
          </ul>
        </div>

        {{ govukInput({
          label: {
            text: "Name"
          }
        } | decorateFormAttributes(["responsible-body", school.URN, "new-invite-name"]) )}}

        {{ govukInput({
          label: {
            text: "Email address"
          }
        } | decorateFormAttributes(["responsible-body", school.URN, "new-invite-email-address"]) )}}

        {{ govukInput({
          classes: "govuk-input--width-10",
          label: {
            text: "Telephone number"
          }
        } | decorateFormAttributes(["responsible-body", school.URN, "new-invite-number"]) )}}
      {% endset %}

      {% if hasDevolvedAll %}
        {% if not hasSetContactDetails %}
          {{ govukRadios({
            fieldset: {
              legend: {
                text: "Who can we contact at the school?",
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                text: 'Headteacher',
                value: 'headteacher',
                hint: {
                  text: school.headteacher + ' (' + school.headteacher_email + ')'
                }
              },
              {
                text: 'Someone else',
                value: 'someone',
                conditional: {
                  html: contactFields
                }
              }
            ]
          } | decorateFormAttributes(["responsible-body", school.URN, "person-type"]) ) }}

          {{ govukButton({
            text: "Save and send email"
          }) }}
        {% endif %}
      {% else %}
        <h2 class="govuk-heading-l">Will they be ordering Chromebooks?</h2>
        <div class="govuk-inset-text">
          Feature not yet available in prototype
        </div>
      {% endif %}

      <p><a href="/responsible-body/devices/schools">Return to list of schools</a></p>
    </form>
  </div>
</div>

{% endblock %}
