// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Components that aren't in Frontend
@import "components/banner";
@import "components/task-list";
@import "components/related-items";
@import "components/related";
@import "components/cookie-banner";
@import "components/card";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-summary-list--wide-terms {
  .govuk-summary-list__key {
    width: 70%;
  }

  .govuk-summary-list__value {
    width: 30%;
  }
}

.requests-table {
  .govuk-table__header,
  .govuk-table__cell {
    vertical-align: middle;
  }

  .govuk-table__header {
    border-width: 2px;
    border-color: govuk-colour("black");
  }
}

.guide-next-prev-link {
  display: block;
  text-decoration: none;

  &:link strong,
  &:link p {
    color: $govuk-link-colour;
  }

  &:visited strong,
  &:visited p {
    color: $govuk-link-visited-colour;
  }

  &:hover strong,
  &:hover p {
    color: $govuk-link-hover-colour;
  }

  &:active strong,
  &:active p {
    color: $govuk-link-active-colour;
  }

  &:focus {
    background-color: $govuk-focus-colour;

    strong, p {
      color: $govuk-focus-text-colour;
    }
  }
}

.guide-next-prev-icon {
  position: relative;
  top: -2px;
  margin-right: govuk-spacing(1);

  .guide-next-prev-link:link & {
    fill: $govuk-link-colour;
  }

  .guide-next-prev-link:focus & {
    fill: $govuk-focus-text-colour;
  }

  .guide-next-prev-link:visited & {
    fill: $govuk-link-visited-colour;
  }

  .guide-next-prev-link:active & {
    fill: $govuk-link-active-colour;
  }

  .guide-next-prev-link:hover & {
    fill: $govuk-link-hover-colour;
  }
}

.guide-next-prev-description {
  text-decoration: underline;
}

// Markdown styles
.markdown {
  table {
    @extend .govuk-table;

    tr {
      @extend .govuk-table__row !optional;
    }

    tbody {
      @extend .govuk-table__body !optional;
    }

    thead {
      @extend .govuk-table__head !optional;
    }

    th {
      @extend .govuk-table__header;
    }

    td {
      @extend .govuk-table__cell;
    }
  }

  > ul {
    @extend .govuk-list;
    @extend .govuk-list--bullet;
  }

  > ol {
    @extend .govuk-list;
    @extend .govuk-list--number;
  }

  h1 {
    @extend .govuk-heading-xl;
  }

  h2 {
    @extend .govuk-heading-l;
  }

  h3 {
    @extend .govuk-heading-m;
  }

  h4 {
    @extend .govuk-heading-s;
  }
}
