{% extends "layout.html" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home"
      },
      {
        text: "Your account",
        href: "/school/index"
      },
            {
        text: "Your account"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Get internet access
    </h1>
    <div class="govuk-inset-text">
      <h3 class="govuk-heading-s">
        Broadband for families who receive Universal Credit
      </h3>

      <p>
        <a href="https://www.virginmedia.com/help/register-for-essential-broadband" target="none">Virgin media (opens in a new tab)</a> is providing broadband for £15 per month for families who receive Universal Credit.
      </p>
    </div>

    <h2 class="govuk-heading-m">
      Request internet access now
    </h2>

    <p>As soon as your school experiences a disruption to face-to-face education, we’ll aim to provide the connectivity you’ve requested. Having some information ahead of time will help us move faster to give your pupils what they need.</p>

    <p>
      Request internet access now for each pupil who does not have:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>fixed broadband at home</li>
      <li>a mobile phone with enough data</li>
    </ul>

    <p>
      We can increase a pupil’s (or a family member’s) mobile phone data allowance if they are on a participating network.
    </p>

    <p>
      If they do not have access to a mobile phone, or is not on a participating network, we can provide a wireless 4G router.
    </p>

    <h2 class="govuk-heading-m">Follow these steps now</h2>

    <h3 class="govuk-heading-s">
      1. Collect the information you’ll need to request internet access
    </h3>

    <p>
      You’ll need to find out if the pupil has access to a phone (or multiple phones) they can use for tethering to connect to the internet and access remote learning.
    </p>

    <p>
      For each phone number a {{ data.setting.learner }} uses, we need:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the account holder’s name</li>
      <li>their mobile number (beginning with ‘07’)</li>
      <li>their mobile network</li>
      <li>to know whether they pay monthly or Pay-as-you-go</li>
    </ul>

    <h3 class="govuk-heading-s">
      2. Share the privacy policy with the account holder
    </h3>
    <p>
      Before you add any personal information to this service, we want you to share the DfE privacy policy with the account holder. It explains how the mobile network will use the account holder’s data.
    </p>
    <p>
      <a href="/pages/about-increasing-mobile-data">
        View the privacy policy
      </a>
    </p>

    <h3 class="govuk-heading-s">
      3. Request internet access
    </h3>
    <p>
      When you have shared the policy with the account holder you can <a href="#">make a request</a>
    </p>
  </div>
</div>

{% endblock %}
