{% extends "layout.html" %}
{% set title = "What network are they on?" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <form method="post" action="{{ paths.next }}" class="govuk-grid-column-two-thirds">
    {{ govukRadios({
      fieldset: {
        legend: {
          text: title,
          isPageHeading: true,
          classes: "govuk-label--xl govuk-!-margin-bottom-6"
        }
      },
      items: [
        {
          text: "BT Mobile"
        },
        {
          text: "BT Plusnet"
        },
        {
          text: "EE"
        },
        {
          text: "Giff Gaff"
        },
        {
          text: "O2"
        },
        {
          text: "Tesco Mobile"
        },
        {
          text: "Three"
        },
        {
          text: "Sky Mobile"
        },
        {
          text: "Virgin Mobile"
        },
        {
          text: "Vodafone"
        },
        {
          divider: "or"
        },
        {
          text: "Another network",
          conditional: {
            html: notAccountHolderHtml
          }
        }
      ]
    } | decorateFormAttributes('network') ) }}

    {{ govukButton({
      html: 'Continue'
    }) }}
  </form>
</div>
{% endblock %}
