{% extends "_wizard-form.html" %}
{% set title = "They can’t benefit from a BT hotspot" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p class="govuk-!-margin-bottom-6">Because there is no suitable BT Wifi network available in their household, we will now try to request extra mobile data for them.</p>

  {{ govukRadios({
      fieldset: {
        legend: {
          text: 'Do they have a smart phone?',
          classes: 'govuk-fieldset__legend--m'
        }
      },
      items: [
        {
          text: 'Yes'
        },
        {
          text: 'No'
        }
      ]
  } | decorateFormAttributes('has-smart-phone') ) }}
{% endblock %}
