{% extends "_wizard-form.html" %}
{% set title = 'About donated devices' %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <h2 class="govuk-heading-m">Devices can vary</h2>

  {% if isSchool %}
    <p>A variety of devices are being donated. The devices you could get might not be the same.</p>
  {% else %}
    <p>A variety of devices are being donated. The devices a school could get might not all be the same.</p>
  {% endif %}

  <p>Every device will meet the minimum requirements needed for remote learning.</p>

  <h2 class="govuk-heading-m">
    Configure at your own cost
  </h2>
  {% if isSchool %}
    <p class="govuk-!-margin-bottom-7">Devices are provided with factory settings and you will need to configure them at your own cost before lending them to children and young people.</p>
  {% else %}
    <p class="govuk-!-margin-bottom-7">Devices are provided with factory settings and schools will need to configure them at their own cost before lending them to children and young people.</p>
  {% endif %}
{% endblock %}
