{% extends "_wizard-form.html" %}
{% set title = 'About donated devices' %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <h2 class="govuk-heading-m">Devices can vary</h2>

  {% if isSchool %}
    <p>A variety of devices are being donated. The devices you could get might not be the same.</p>
  {% else %}
    <p>A variety of devices are being donated. The devices a school or college could get might not all be the same.</p>
  {% endif %}

  <p>Every device will meet the <a href="https://www.computacenter.com/uk/daily-mail" target="_blank" rel="noopener noreferrer">minimum requirements needed for remote learning</a>.</p>

  <h2 class="govuk-heading-m">
    Configure at your own cost
  </h2>
  {% if isSchool %}
    <p>Devices are provided with factory settings and you will need to configure them at your own cost before lending them to children and young people.</p>
    <p class="govuk-!-margin-bottom-7">You will need to purchase licences for any Google Chromebooks you receive.</p>
  {% else %}
    <p>Devices are provided with factory settings and schools will need to configure them at their own cost before lending them to children and young people.</p>
    <p class="govuk-!-margin-bottom-7">Schools and colleges will need to purchase licences for any Google Chromebooks they receive.</p>
  {% endif %}
{% endblock %}
