{% extends "_wizard-form.html" %}
{% set title = 'How your details will be shared and associated with the delivery' if isSchool else 'How your details will be shared and associated with each delivery' %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p>
    We share with Computacenter the following information that you provide to us:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      the number and device types in which you have expressed an interest
    </li>
    <li>
      your organisation’s name, address and URN (as available on <a href="https://www.get-information-schools.service.gov.uk/" class="govuk-link" target="none">Get Information About Schools</a>)
    </li>
  </ul>

  <p>
    <a href="/pages/dm-privacy-notice">Read about how we use your data in our privacy policy</a>
  </p>

  <p>When these devices are delivered they will be addressed to you.</p>

  {% if isSchool %}
    <p>They will be delivered to:</p>

    <div class="govuk-inset-text">
      <p><strong>[Your name]</strong><br />{{ data['school-details'].name }}<br />123 Street<br />Town<br />County<br />SW1 1AA</p>
    </div>
  {% else %}
    <p>For example, for {{ data['donated-opt-in-schools'][0] if data['donated-opt-in-schools'] else '[School name]'  }}:</p>

    <div class="govuk-inset-text">
      <p><strong>[Your name]</strong><br />{{ data['donated-opt-in-schools'][0] if data['donated-opt-in-schools'] else '[School name]'  }}<br />123 Street<br />Town<br />County<br />SW1 1AA</p>
    </div>
  {% endif %}
{% endblock %}
