{% extends "_wizard-form.html" %}
{% set title = 'Check your answers before confirming' %}
{% set buttonText = 'Confirm and opt in' %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {% set schoolsHtml %}
    {% for school in data['donated-opt-in-schools'] %}
      {{ school }}<br />
    {% endfor %}
  {% endset %}

  {% if isRb %}
    {% set schoolsHtml %}
      {% for school in data['donated-opt-in-schools'] %}
        {{ school }}<br />
      {% endfor %}
    {% endset %}
  {% endif %}

  {% set typesHtml %}
    {% for type in data['donated-types'] %}
      {{ type }}<br />
    {% endfor %}
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Delivery details"
        },
        value: {
          html: "<strong>[Your name]</strong><br />School name<br />123 Street<br />Town<br />County<br />SW1 1AA"
        }
      } if isSchool,
      {
        key: {
          text: "Schools"
        },
        value: {
          html: schoolsHtml
        }
      } if isRb,
      {
        key: {
          text: "Preferred devices"
        },
        value: {
          html: typesHtml
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "preferred devices"
            }
          ]
        }
      }
    ]
  }) }}
{% endblock %}
