{% extends "_wizard-form.html" %}
{% set title = 'Disclaimer' %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p>Computers For Kids is an initiative run by the Mail Force charity. It’s separate from the Get Help with Technology programme run by the Department for Education (DfE).</p>
  <p>If you opt in to Computers for Kids, your details will be shared with Mail Force and its third party supplier.</p>
  <p>School, colleges, trusts and responsible bodies must make sure that devices and/or related software are suitable for children and young people. The DfE does not provide any guarantee or warranty for the reliability, suitability or completeness of the devices, and/or related software, or third party service.</p>

  <h2 class="govuk-heading-m">What the DfE is not responsible for</h2>
  <p>The DfE is not responsible for the currency, security, availability, compatibility, suitability, reliability or freedom from damaging software, or for any other qualities or features of the devices, and/or related software, and third party service.</p>
  <p>It is also not responsible for the results of any actions taken with the devices and/or related software, or how the devices are used.</p>
  <p>The DfE is not liable for any loss or damage that might come from the devices, and/or related software, or third party service.</p>
  <p>This includes:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>loss or corruption of data or information</li>
    <li>any loss arising from licensing of software or third party claims relating to this</li>
    <li>loss of reputation</li>
  </ul>
  <p>This applies whether such loss is direct, indirect, consequential or foreseeable, arises in the normal course, or you advised us that it might happen.</p>
  <p>It excludes any losses which cannot be excluded or limited under applicable law.</p>
  <p>This disclaimer may be updated from time to time, and will be accepted by you by continued use of the opt in option described on this page.</p>
  <p class="govuk-!-margin-bottom-7">
    Any dispute or claim arising from, or connected with, this the opt-in arrangement described on this page, will be resolved by senior representatives of the concerned parties.
  </p>
{% endblock %}
