{% extends "layout.html" %}
{% set title = "Get help with technology" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<!-- {{ appBanner({
  html: "<h2 class=\"govuk-heading-m\">Thank you. We’ve received your information.</h2>",
  type: "success",
  icon: false
}) }} -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ data.rb }}</span>
      {{ title }}
    </h1>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/responsible-body/devices">Get devices</a>
    </h2>

    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>manage how schools order devices</li>
      <li>give contact details for each school</li>
      <li>set up accounts for ordering devices through TechSource</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/responsible-body/internet">Get the internet</a>
    </h2>

    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>download BT wifi vouchers to distribute</li>
      <li>request extra data for mobile devices</li>
    </ul>
  </div>
</div>
{% endblock %}
