{% extends "layout.html" %}
{% set title = "Get help with technology" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ data.rb }}</span>
      {{ title }}
    </h1>

    {% if data['who-orders-laptops'] %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/responsible-body/devices">Get laptops</a>
      </h2>
    {% else %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/responsible-body/devices/tell-us">Get laptops</a>
      </h2>
    {% endif %}

    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>place orders</li>
      <li>add{% if not data.features['further-education'] %} school{% endif %} contacts</li>
      <li>tell us who will place orders{% if not data.features['further-education'] %} for schools{% endif %}</li>
      {% if data.features['further-education'] %}
        <li>give school and college staff access to this service and TechSource</li>
      {% else %}
        <li>give schools access to the services they need</li>
      {% endif %}
      {% if data.features.donated %}
        <li>opt in schools to the Daily Mail’s donated devices scheme</li>
      {% endif %}
    </ul>

    {% if data.features['in-connectivity-pilots'] %}
    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/responsible-body/internet">Get internet access</a>
    </h2>

    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>request extra mobile data for pupils and students</li>
      <li>check the status of your data requests</li>
      <li>request 4G wireless routers</li>
    </ul>
    {% endif %}

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/responsible-body/users">Manage {% if data.trust %}trust{% else %}local authority{% endif %} users</a>
    </h2>

    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>give others in your {% if data.trust %}trust{% else %}local authority{% endif %} access to this service</li>
      <li>set up accounts for your {% if data.trust %}trust{% else %}local authority{% endif %} to order devices</li>
    </ul>
  </div>
</div>
{% endblock %}
