{% extends "layout.html" %}
{% set title = "Tell us who needs internet access" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<!-- {{ appBanner({
  html: "<h2 class=\"govuk-heading-m\">Thank you. We’ve received your information.</h2>",
  type: "success",
  icon: false
}) }} -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <p class="govuk-body">
      Increased internet access is available to children from early years up to 16, and care leavers up to 25 if they:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        don’t have access to a <a class="govuk-link" href="https://www.ofcom.org.uk/phones-telecoms-and-internet/advice-for-consumers/advice/broadband-speeds/broadband-basics">fixed broadband connection</a>
      </li>
      <li>
        cannot afford the additional data needed to access educational resources or social care services
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-4">
      <span class="govuk-caption-m">Step 1</span>
        <a href="/responsible-body/hotspot/download">Download your BT hotspot&nbsp;log-ins</a>
    </h2>
    <div class="govuk-!-margin-bottom-4">
      {% if data['downloaded'] == 'yes' %}
        {{ govukTag({ text: "Downloaded" })}}
      {% else %}
        {{ govukTag({
          text: "Not started yet",
          classes: "govuk-tag--grey"
        }) }}
      {% endif %}
    </div>
    {% if data['total-eligible'] %}
      {{ govukSummaryList({
        classes: "govuk-summary-list--wide-terms",
        rows: [
          {
            key: {
              text: "Eligible young people"
            },
            value: {
              text: data['total-eligible'] if data.features['give-bt-numbers'] else 300
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            } if data.features['give-bt-numbers']
          },
          {
            key: {
              text: "Number who can see a BT hotspot"
            },
            value: {
              text: data['total-hotspot'] if data.features['give-bt-numbers'] else 150
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            } if data.features['give-bt-numbers']
          }
        ]
      }) }}
    {% else %}
      <p class="govuk-body">We’ve allocated 300 BT hotspot log-ins for you to pass on to schools and families. A log-in is a username and password. BT calls these ‘vouchers’.</p>
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--m">

    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-4">
      <span class="govuk-caption-m">Step 2</span>
      <a href="/responsible-body/mobile">Request extra mobile data</a>
    </h2>
    <div class="govuk-!-margin-bottom-4">
      {% if data['total-eligible'] %}
        {{ govukTag({
          text: "1 request",
          classes: "govuk-tag--blue"
        }) }}
      {% else %}
        {{ govukTag({
          text: "Not started yet",
          classes: "govuk-tag--grey"
        }) }}
      {% endif %}
    </div>
    <p class="govuk-body">Give us mobile numbers and network details and we’ll request extra data for these devices. How much data someone gets will depend on their network.</p>
  </div>
</div>
{% endblock %}
