{% extends "layout.html" %}
{% set title = "Manage local authority users" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Get help with technology",
        href: "/responsible-body"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <p>Up to 5 users can be added. Everyone with access can:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>add or edit existing users</li>
      <li>place device orders for schools that are being managed centrally</li>
      {% if data.features['in-connectivity-pilots'] %}
        <li>download BT vouchers</li>
        <li>make requests for mobile data</li>
      {% endif %}
    </ul>

    {{ govukButton({
      text: 'Invite a new user',
      href: '/responsible-body/users/new'
    }) }}

    <h2 class="govuk-heading-l">Users</h2>
    {% for user in data['rb-users'] %}
      {% include "_shared/_user.html" %}
    {% endfor %}
  </div>
</div>
{% endblock %}
