{% set title = 'Will your order include Google Chromebooks?' %}
{% extends "layout.html" %}
{% if data.features.iss %}
  {% set typeOfPlaceholderSchool = "State-funded pupils in independent settings" %}
{% else %}
  {% set typeOfPlaceholderSchool = "Care leavers" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: typeOfPlaceholderSchool,
        href: "/school"
      },
      {
        text: "Get laptops",
        href: "/responsible-body/devices/placeholder-schools"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
    <p class="govuk-body">
      We need to know this so we can apply the right settings to the laptops you order. You can change your answer later.
    </p>
    <form action="/responsible-body/devices/placeholder-schools/order" method="post" novalidate>
      {{ govukRadios({
        idPrefix: "la-chromebook-preference",
          name: "la-chromebook-preference",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--xl govuk-visually-hidden"
            }
          },
      items: [
        {
          value: "yes-la-chromebooks",
          text: "Yes, we’ll order Chromebooks",
          conditional: {
            html: '<p class="govuk-body">After you place your order you’ll get an email asking for Google Workspace for Education Fundamentals (formerly G Suite for Education) license information. If a Google Chromebook is not enrolled into a Google Workspace for Education domain it cannot be managed remotely, and it will not be possible to apply security settings to keep users safe online. </p>'
          }
        },
        {
          value: "no-la-chromebooks",
          text: "No, we will not order Chromebooks"
        },
        {
          value: FALSE,
          text: "I’m not sure",
          conditional: {
            html: '<p class="govuk-body">If you order Chromebooks without letting us know first, they’ll be delivered without being enrolled into a Google Workspace for Education domain. This means they cannot be managed remotely, and it will not be possible to apply security settings to keep users safe online.</p>'
          }
        }
      ]
    }) }}
    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
</div>
{% endblock %}
