
{% set allocation = data.laPlaceholderSchoolAllocation %}
{% set laptopsOrdered = data.laPlaceholderSchoolOrdered %}
{% if data.features.iss %}
  {% set typeOfPlaceholderSchool = "State-funded pupils in independent settings" %}
{% else %}
  {% set typeOfPlaceholderSchool = "Care leavers" %}
{% endif %}

{% extends "layout.html" %}
  {% set title = 'Get laptops' %}
{% block pageTitle %}Get laptops for funded pupils{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: typeOfPlaceholderSchool,
        href: "/school"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
    <div class="app-order-card">
    {% if allocation != laptopsOrdered %}
      <h2 class="govuk-heading-m">
        Laptops available:
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        You can order {{ allocation - laptopsOrdered }} laptop{% if allocation != 1 %}s{% endif %} now.
      </p>
      {% if laptopsOrdered > 0 %}
      <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        You’ve ordered {{ laptopsOrdered }}.
      </p>
      {% endif %}
    {% else %}
      <h2 class="govuk-heading-m">
        You’ve ordered your full allocation of laptops
      </h2>
    {% endif %}
    </div>

      <p class="govuk-body">
        You’ve been allocated {{ allocation }} laptop{% if allocation != 1 %}s{% endif %}.
      </p>
      {% if data.features.iss %}
        <p class="govuk-body">
          {% include "_shared/responsible-body/la-funded-places/_allocation-description.html" %}
        </p>
      {% else %}
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          How your allocation has been calculated
          </span>
        </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">This allocation estimate is based on your LA's individual care leaver population since August 2020. 
        </p>
         <p class="govuk-body">You can request internet access for these care leavers if they need it too.</p>
        <h2 class="govuk-heading-m">
        Tell us if your allocation is wrong
      </h2>
        <p class="govuk-body">Tell us how many care leavers your local authority is responsible for who:</p>  
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
         <li>are aged 16 to 25</li>
         <li>do not have access to a laptop or tablet from any other source</li>
        </ul>
        <p class="govuk-body">Do not send any personal information, like names of care leavers or dates of birth.</p>
        
        <p class="govuk-body">Email this information to COVID.TECHNOLOGY@education.gov.uk.</p>
        <p>You can still order your current allocation straight away.</p>
      </div>
      </details>
      {% endif %}

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Before you order
      </h2>
      {% if data.features.iss %}
        <p class="govuk-body">
          We recommend checking with schools, families or pupils as soon as possible to find out which device type and <span class="app-no-wrap">IT settings</span> would be most suitable.
        </p>
      {% else %}
        <p class="govuk-body">We recommend that you work with your IT team to decide which device type and IT settings will be best for care leavers to use.
        </p>
      {% endif %}
      <p class="govuk-body">
        <a href="placeholder-schools/laptops-types-for-placeholder-schools">Check what types of laptop are available</a>
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Ownership and responsibility
      </h2>
      {% if data.features.iss %}
        <p class="govuk-body">
          {{ data.rb }} will own these laptops and is responsible for:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
         <li>making sure laptops have appropriate safety and security measures installed and maintained – <a href="#">read about laptop safeguarding</a></li>
         <li>fixing any technical issues – <a href="#">read about how to organise repairs</a></li>
         <li>distributing the laptops safely – <a href="#">read about how to get devices to pupils</a></li>
         <li>redistributing the laptops if pupils move school or leave education</li>
        </ul>
      {% else %}
        <p class="govuk-body">
          {{ data.rb }} will own these laptops and is responsible for:  
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        <li>deciding whether to temporarily lend or permanently gift devices to care leavers - <a href="#">read about ownership</a></li>
         <li>making sure laptops have appropriate safety and security measures installed and maintained – <a href="#">read about laptop safeguarding</a></li>
         <li>fixing any technical issues – <a href="#">read about how to organise repairs</a></li>
         <li>distributing the laptops safely – <a href="#">read about how to get devices to care leavers</a></li>
        </ul>
      {% endif %}

      {% if allocation != laptopsOrdered %}
        {% if data["la-chromebook-preference"] %}
        {{ govukButton({
          text: "Continue",
          href: "/responsible-body/devices/placeholder-schools/order"
        }) }}
        {% else %}
        {{ govukButton({
          text: "Continue",
          href: "/responsible-body/devices/placeholder-schools/chromebooks"
        }) }}
        {% endif %}
      {% endif %}
  </div>
</div>
{% endblock %}
