
{% if data.features.iss %}
  {% set typeOfPlaceholderSchool = "State-funded pupils in independent settings" %}
{% else %}
  {% set typeOfPlaceholderSchool = "Care leavers" %}
{% endif %}

{% set laptopsOrdered = 0 %}

{% extends "layout.html" %}
{% if data.features.iss %}
  {% set title = 'Find out what type of laptop pupils need' %}
{% else %}
  {% set title = 'Choose what type of laptop care leavers need' %}
{% endif %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: typeOfPlaceholderSchool,
        href: "/school"
      },
      {
        text: "Get laptops",
        href: "/responsible-body/devices/placeholder-schools"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
   {% if data.features.iss %}
    <p>
      We recommend checking with schools, families or pupils as soon as possible to find out which device type and IT settings would be most suitable.
    </p>
    {% endif %}
    {% include "_shared/_laptops-you-can-order.html" %}
    
    {% if data.features.iss %}
    <h3 class="govuk-heading-s">
      Setting up Google Chromebooks
    </h3>
    <p class="govuk-body">
      If you order Chromebooks we'll need some technical information. After you place your order, you’ll get an email asking for:
    </p>
    {% include "_shared/responsible-body/la-funded-places/_chromebook-details-description.html" %}
    {% endif %}

  </div>
</div>
{% endblock %}
