{% extends "layout.html" %}
{% set title = "Check your answers before confirming" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body/mobile/new"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: data['name']
          },
          actions: {
            items: [
              {
                href: "/responsible-body/mobile/new",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Mobile number"
          },
          value: {
            text: data['mobile-number']
          },
          actions: {
            items: [
              {
                href: "/responsible-body/mobile/new",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Mobile network"
          },
          value: {
            text: data['mobile-network']
          },
          actions: {
            items: [
              {
                href: "/responsible-body/mobile/new",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }
      ]
    }) }}

    <p>These details will be passed to {{ data['mobile-network'] }}</p>

    {{ govukButton({
      text: 'Confirm request',
      href: '/responsible-body/mobile?finish-mobile=true'
    }) }}
  </div>
</div>
{% endblock %}
