{% extends "layout.html" %}
{% set title = "Request extra mobile data" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body"
  }) }}
{% endblock %}

{% block content %}
<!-- {{ appBanner({
  html: "<h2 class=\"govuk-heading-m\">We’ve received your request</h2>",
  type: "success",
  icon: false
}) }} -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {{ govukButton({
      text: 'Request data for someone',
      href: '/responsible-body/mobile/new'
    }) }}
  </div>
</div>

{% if data['mobile-number'] %}
  <h2 class="govuk-heading-m">Your requests</h2>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Young person’s name</th>
        <th class="govuk-table__header">Account holder</th>
        <th class="govuk-table__header">Mobile number</th>
        <th class="govuk-table__header">Mobile Network</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ data['name'] }}</td>
        <td class="govuk-table__cell">
          {% if data['account-holder'] == "No" %}
            {{ data['account-holder-name'] }}
          {% else %}
            –
          {% endif %}
        </td>
        <td class="govuk-table__cell">{{ data['mobile-number'] }}</td>
        <td class="govuk-table__cell">{{ data['mobile-network'] }}</td>
      </tr>
    </tbody>
  </table>
{% endif %}
{% endblock %}
