{% extends "layout.html" %}
{% set title = "Request extra mobile data" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body"
  }) }}
{% endblock %}

{% set markdown %}
This pilot is open to children from early years up to 16, and care leavers up to 25 if they:

* don’t have access to a fixed broadband connection
* cannot afford the additional data needed to access educational resources or social care services
* cannot access a BT hotspot
* are an existing customer of a participating mobile network operator

[Read our guide on collecting mobile information](/guide)

{% endset %}

{% block content %}
<!-- {{ appBanner({
  html: "<h2 class=\"govuk-heading-m\">We’ve received your request</h2>",
  type: "success",
  icon: false
}) }} -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {{ markdown | markdownToHTML }}

    {{ govukButton({
      text: 'Request data for someone',
      href: '/responsible-body/mobile/new',
      classes: 'govuk-!-margin-top-5'
    }) }}

    {% if data.features['bulk-upload'] %}
      <p>You can also upload multiple requests at once using a spreadsheet:</p>
      <ol class="govuk-list govuk-list--number">
        <li><a href="#">Download the spreadsheet template</a></li>
        <li><a href="/responsible-body/mobile/bulk">Upload completed spreadsheet</a></li>
      </ol>
    {% endif %}
  </div>
</div>

{% if dataValue(["responsible-body", "mobile"]) %}
  <h2 class="govuk-heading-l govuk-!-margin-top-6">Your requests</h2>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Account holder</th>
        <th class="govuk-table__header">Mobile number</th>
        <th class="govuk-table__header">Mobile Network</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for id, request in dataValue(["responsible-body", "mobile"]) %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ request['name'] }}</td>
          <td class="govuk-table__cell">{{ request['mobile-number'] }}</td>
          <td class="govuk-table__cell">{{ request['mobile-network'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
