{% extends "layout.html" %}
{% set title = "Who needs the extra mobile data?" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body/mobile"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Who needs the extra mobile&nbsp;data?
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <form method="post" action="/responsible-body/mobile/{{ mobileId }}/check-answers" class="govuk-grid-column-two-thirds">
    {{ govukInput({
      label: {
        text: "Account holder name",
        classes: "govuk-label--m"
      },
      hint: {
        html: "The account holder for a pay monthly contract must be over 18"
      }
    } | decorateFormAttributes(["responsible-body", "mobile", mobileId, "name"]) )}}

    {{ govukInput({
      label: {
        text: "Mobile phone number",
        classes: "govuk-label--m"
      },
      hint: {
        text: 'All UK mobile numbers begin with ‘07’'
      }
    } | decorateFormAttributes(["responsible-body", "mobile", mobileId, "mobile-number"]) )}}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "Mobile network",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: 'Only mobile networks participating in the service are listed',
        classes: 'govuk-!-margin-bottom-3'
      },
      items: [
        {
          text: "BT Mobile",
          hint: {
            text: 'May offer data when service launches'
          }
        },
        {
          text: "BT Plusnet",
          hint: {
            text: 'May offer data when service launches'
          }
        },
        {
          text: "EE",
          hint: {
            text: 'Offers data now'
          }
        },
        {
          text: "Giff Gaff",
          hint: {
            text: 'May offer data when service launches'
          }
        },
        {
          text: "O2",
          hint: {
            text: 'May offer data when service launches'
          }
        },
        {
          text: "Tesco Mobile",
          hint: {
            text: 'May offer data when service launches'
          }
        },
        {
          text: "Three",
          hint: {
            text: 'Offers data now'
          }
        },
        {
          text: "Smarty",
          hint: {
            text: 'Offers data now'
          }
        },
        {
          text: "Sky Mobile",
          hint: {
            text: 'May offer data when service launches'
          }
        },
        {
          text: "Virgin Mobile",
          hint: {
            text: 'Offers data now. Does not support Pay as you go customers.'
          }
        },
        {
          text: "Vodafone",
          hint: {
            text: 'May offer data when service launches'
          }
        }
      ]
    } | decorateFormAttributes(["responsible-body", "mobile", mobileId, "mobile-network"])) }}

    {{ govukCheckboxes({
      fieldset: {
        legend: {
          text: "Has the account holder agreed with the privacy statement?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        html: '<p class="govuk-hint">Account holders must allow us to:</p><ul class="govuk-hint govuk-list govuk-list--bullet">
  <li>store their data</li>
  <li>share their data with their mobile network provider</li>
</ul><p class="govuk-hint"><a href="#">View privacy statement</a></p>'
      },
      items: [
        {
          text: "Yes, they agree with the privacy statement"
        }
      ]
    } | decorateFormAttributes(["responsible-body", "mobile", mobileId, "privacy"])) }}

    <!-- {{ govukRadios({
      fieldset: {
        legend: {
          text: "Are they a Pay as you go (PAYG) customer?",
          classes: "govuk-label--m"
        }
      },
      items: [
        {
          text: "Yes"
        },
        {
          text: "No"
        }
      ]
    }) }} -->

    {{ govukButton({
      html: 'Continue'
    }) }}
  </form>
  <div class="govuk-grid-column-one-third">
    {{ appRelated({
      title: "Guidance",
      content: {
        html: "<a href=\"/guide\">Read our guide on collecting mobile information</a>"
      }
    }) }}
  </div>
</div>
{% endblock %}
