{% extends "layout.html" %}
{% set title = "How many requests are you making?" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body/mobile"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <form method="post" action="/responsible-body/mobile/type" class="govuk-grid-column-two-thirds">

    {{ govukRadios({
      fieldset: {
        legend: {
          text: title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
        }
      },
      items: [
        {
          text: "One request"
        },
        {
          text: "Multiple requests using a spreadsheet"
        }
      ]
    } | decorateFormAttributes(["responsible-body", "type"])) }}

    {{ govukButton({
      html: 'Continue'
    }) }}
  </form>
</div>
{% endblock %}
