{% extends "layout.html" %}
{% set title = "Who can order devices" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body/devices/devolve"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <p class="govuk-body-l">You are managing devices centrally. All devices must be delivered to schools.</p>
  </div>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Name</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for user in data['responsible-body']['school-users'] %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <strong>{{ user.name }}</strong><br />
          {{ user.email }}<br />
          {{ user.number }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{{ govukButton({
  text: 'Tell us about someone new',
  href: '/responsible-body/devices/invite/new'
}) }}

{% endblock %}
