{% extends "_wizard-form.html" %}
{% set title = "Delivery address" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="app-order-card">
    <p class="govuk-!-margin-bottom-0">
      {% if isRb %}
        <strong>{{ schoolToDeliverTo.name }}</strong><br />
        {% if schoolToDeliverTo.street %}{{ schoolToDeliverTo.street }}<br />{% endif %}
        {% if schoolToDeliverTo.address3 %}{{ schoolToDeliverTo.address3 }}<br />{% endif %}
        {% if schoolToDeliverTo.town %}{{ schoolToDeliverTo.town }}<br />{% endif %}
        {% if schoolToDeliverTo.county %}{{ schoolToDeliverTo.county }}<br />{% endif %}
        {% if schoolToDeliverTo.postcode %}{{ schoolToDeliverTo.postcode }}{% endif %}
      {% else %}
        <strong>Pool Hayes Primary</strong><br>
        72 Guild Street<br>
        London<br>
        SE23 6FH
      {% endif %}
    </p>
  </div>

  {% set detailsHtml %}
    <p>This is the school or college address we have on record.</p>
    <p>If it’s not right, email <a href="#">COVID.TECHNOLOGY@education.gov.uk</a> and tell us what to change.</p>
  {% endset %}

  {{ govukDetails({
    summaryText: "Is there a problem with this address?",
    html: detailsHtml
  }) }}
{% endblock %}
