{% extends "_wizard-form.html" %}
{% set title = "Delivery address" %}
{% set action = "/school/shop/delivery-contact" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="app-order-card">
      {% if isRb %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ schoolToDeliverTo.name }}</h2>
        <p class="govuk-!-margin-bottom-0">
          {% if schoolToDeliverTo.street %}{{ schoolToDeliverTo.street }}<br />{% endif %}
          {% if schoolToDeliverTo.address3 %}{{ schoolToDeliverTo.address3 }}<br />{% endif %}
          {% if schoolToDeliverTo.town %}{{ schoolToDeliverTo.town }}<br />{% endif %}
          {% if schoolToDeliverTo.county %}{{ schoolToDeliverTo.county }}<br />{% endif %}
          {% if schoolToDeliverTo.postcode %}{{ schoolToDeliverTo.postcode }}{% endif %}
        </p>
      {% else %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">{{ data.user.setting.name }}</h2>
        <p class="govuk-!-margin-bottom-0">
          Johnsville Avenue<br>
          Blackpool<br>
          FY4 3LN
        </p>
      {% endif %}
  </div>

  {% set detailsHtml %}
    <p>This is the school or college address we have on record.</p>
    <p>If it’s not right, email <a href="#">COVID.TECHNOLOGY@education.gov.uk</a> and tell us what to change.</p>
  {% endset %}

  {{ govukDetails({
    summaryText: "Is there a problem with this address?",
    html: detailsHtml
  }) }}
{% endblock %}
