{% extends "_wizard-form.html" %}
{% set title = "Delivery address" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="app-order-card">
    <p class="govuk-!-margin-bottom-0">
      <strong>Pool Hayes Primary</strong><br>
      72 Guild Street<br>
      London<br>
      SE23 6FH
    </p>
  </div>

  {% set detailsHtml %}
    <p>This is the school address we have on record.</p>
    <p>If it’s not right, email <a href="#">COVID.TECHNOLOGY@education.gov.uk</a> and tell us what to change.</p>
  {% endset %}

  {{ govukDetails({
    summaryText: "Is there a problem with this address?",
    html: detailsHtml
  }) }}
{% endblock %}
