{% extends "_wizard-form.html" %}
{% set title = "Check your devices when they arrive" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p>You should check all devices within 3 working days of receiving them. If you find a faulty device, contact us to request a repair or replacement.</p>

  <p class="govuk-!-margin-bottom-6">If you find a fault after more than 3 days after, you’ll need to speak to the manufacturer to get a repair or replacement.</p>
{% endblock %}
