{% extends "_wizard-form.html" %}
{% set buttonText = "Place order" %}
{% set title = "Check your order before confirming" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {% set devicesHtml %}
    {% if data['shop-amount-Microsoft Windows laptop'] %}
      <span class="app-!-font-family-tabular govuk-!-margin-right-1">{{ data['shop-amount-Microsoft Windows laptop'] }}</span> Microsoft Windows laptops<br />
    {% endif %}
    {% if data['shop-amount-Google Chromebook'] %}
      <span class="app-!-font-family-tabular govuk-!-margin-right-1">{{ data['shop-amount-Google Chromebook'] }}</span> Google Chromebooks<br />
    {% endif %}
    {% if data['shop-amount-Microsoft Windows tablet'] %}
      <span class="app-!-font-family-tabular govuk-!-margin-right-1">{{ data['shop-amount-Microsoft Windows tablet'] }}</span> Microsoft Windows tablets<br />
    {% endif %}
    {% if data['shop-amount-Apple iPad'] %}
      <span class="app-!-font-family-tabular govuk-!-margin-right-1">{{ data['shop-amount-Apple iPad'] }}</span> Apple iPads<br />
    {% endif %}
  {% endset %}

  {% set routersHtml %}
    <span class="app-!-font-family-tabular govuk-!-margin-right-1">10</span> 4G wireless routers
  {% endset %}

  {% set deliveryContactHtml %}
    {% if data['shop-delivery-who'] == 'someone-else' %}
      {{ data['shop-delivery-contact-name'] }}<br />
      {{ data['shop-delivery-contact-email'] }}<br />
      {{ data['shop-delivery-contact-number'] }}
    {% else %}
      Jane Doe<br />
      email@email.com<br />
      01234 345678
    {% endif %}
  {% endset %}

  {% set orderingList %}
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Devices"
          },
          value: {
            html: devicesHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "which devices"
              }
            ]
          }
        },
        {
          key: {
            text: "Routers"
          },
          value: {
            html: routersHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "how many routers"
              }
            ]
          }
        } if data.routersAllocated > 0
      ]
    }) }}
  {% endset %}

  {% set deliveryAddress %}
    {% if isRb %}
      {{ schoolToDeliverTo.name }}<br />
      {% if schoolToDeliverTo.street %}{{ schoolToDeliverTo.street }}<br />{% endif %}
      {% if schoolToDeliverTo.address3 %}{{ schoolToDeliverTo.address3 }}<br />{% endif %}
      {% if schoolToDeliverTo.town %}{{ schoolToDeliverTo.town }}<br />{% endif %}
      {% if schoolToDeliverTo.county %}{{ schoolToDeliverTo.county }}<br />{% endif %}
      {% if schoolToDeliverTo.postcode %}{{ schoolToDeliverTo.postcode }}{% endif %}
    {% else %}
      Pool Hayes Primary<br>
      72 Guild Street<br>
      London<br>
      SE23 6FH
    {% endif %}
  {% endset %}

  {% set deliveryList %}
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Delivery contact"
          },
          value: {
            html: deliveryContactHtml
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "contact information"
              }
            ]
          }
        },
        {
          key: {
            text: "Delivery address"
          },
          value: {
            html: deliveryAddress
          }
        }
      ]
    }) }}
  {% endset %}

  {% set chromebookList %}
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Domain registered for G Suite for Education"
          },
          value: {
            text: data['domain']
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "domain"
              }
            ]
          }
        } if data['domain'],
        {
          key: {
            text: "Recovery email address"
          },
          value: {
            text: data['recovery']
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "recovery email address"
              }
            ]
          }
        } if data['recovery']
      ]
    }) }}
  {% endset %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Your order",
    html: orderingList
  }) }}

  {% if 'Google Chromebook' in data['shop-devices'] %}
    {{ appSummaryCard({
      classes: "govuk-!-margin-bottom-6",
      titleText: "Google Chromebooks",
      html: chromebookList
    }) }}
  {% endif %}

  {{ appSummaryCard({
    classes: "govuk-!-margin-bottom-6",
    titleText: "Delivery",
    html: deliveryList
  }) }}
{% endblock %}
