{% extends "_wizard-form.html" %}
{% set buttonText = "Place order" %}
{% set title = "Confirm your details before placing your order" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {% set devicesHtml %}
    <span class="app-!-font-family-tabular govuk-!-margin-right-1">20</span> Microsoft Windows laptops<br />
    <span class="app-!-font-family-tabular govuk-!-margin-right-1">10</span> Google Chromebooks
  {% endset %}

  {% set routersHtml %}
    <span class="app-!-font-family-tabular govuk-!-margin-right-1">10</span> 4G Wireless routers
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Devices"
        },
        value: {
          html: devicesHtml
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      },
      {
        key: {
          text: "Routers"
        },
        value: {
          html: routersHtml
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      } if data.routersAllocated > 0,
      {
        key: {
          text: "Type of Windows devices"
        },
        value: {
          text: "Standard"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "date of birth"
            }
          ]
        }
      },
      {
        key: {
          text: "Google Chromebook: Domain"
        },
        value: {
          text: data['domain']
        },
        actions: {
          items: [
            {
              href: "/responsible-body/devices/schools/" + school.URN + "/chromebooks",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      } if data['domain'],
      {
        key: {
          text: "Google Chromebook: Recovery email address"
        },
        value: {
          text: data['recovery']
        },
        actions: {
          items: [
            {
              href: "/responsible-body/devices/schools/" + school.URN + "/chromebooks",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      } if data['recovery'],
      {
        key: {
          text: "Delivery address"
        },
        value: {
          html: "Pool Hayes Primary<br>72 Guild Street<br>London<br>SE23 6FH"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "contact information"
            }
          ]
        }
      }
    ]
  }) }}
{% endblock %}
