{% extends "layout.html" %}
{% set title = "Which devices are you ordering?" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Your account",
        href: "/school/"
      },
      {
        text: "Available devices",
        href: "/school/devices/order-in-service"
      },
      {
        text: "Which devices are you ordering?"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ data['order-devices'].name }}
      </h1>
      {{ govukButton({
        text: 'Add to basket',
        href: '/shop/devices/how-many',
        classes: 'govuk-!-margin-top-6'
      }) }}
    </div>
  </div>
{% endblock %}
