{% extends "layout.html" %}
{% set title = "Which devices are you ordering?" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Your account",
        href: "/school/"
      },
      {
        text: "Available devices",
        href: "/school/devices/order-in-service"
      },
      {
        text: "Which devices are you ordering?"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ deviceData.name }}
      </h1>

      {% if deviceData.generic == true  %}
        <p>
          The {{ deviceData.type }}s you get will from 1 or more of these brands:
        </p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          {% for brand in deviceData.brands %}
            <li>
              {{ brand }}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      <table class="govuk-table">
        {% if deviceData.generic == true  %}
          <caption class="govuk-table__caption govuk-table__caption--m">Minimum specification</caption>
        {% else %}
          <caption class="govuk-table__caption govuk-table__caption--m">Specification</caption>
        {% endif %}
        <tbody class="govuk-table__body">
        {% for category, specification in deviceData.overview %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              {{ category }}
            </th>
            <td class="govuk-table__cell">
              {{ specification }}
            </td>
          </tr>
        {% endfor %}
        {% for category, specification in deviceData.specification %}
            <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">
              {{ category }}:
            </th>
            <td class="govuk-table__cell">
              {{ specification }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
      {{ govukButton({
        text: 'Add to basket',
        href: '/shop/devices/how-many',
        classes: 'govuk-!-margin-top-6'
      }) }}
    </div>
  </div>
{% endblock %}
