{% extends "_wizard-form.html" %}
{% set title = "Which devices are you ordering?" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {{ govukCheckboxes({
    items: [
      {
        text: 'Microsoft Windows laptop'
      },
      {
        text: 'Google Chromebook'
      },
      {
        text: 'Apple iPad'
      },
      {
        text: '4G wireless router'
      } if (data.user.routers.allocation > 0) and (data.user.routers.allocation != data.user.routers.ordered)
    ]
  }  | decorateFormAttributes('shop-devices') ) }}

  <p>
    <a href="https://get-help-with-tech.education.gov.uk/devices/device-specification">
      Read more about device specifications
    </a>
  </p>

  <p class="govuk-!-margin-bottom-6">
    Your {{ data.user.setting.institution }} will own the devices. It’s up to you to decide who will benefit most from them.
  </p>
{% endblock %}
