{% extends "_wizard-form.html" %}
{% set title = "Which devices are you ordering?" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p class="govuk-!-margin-bottom-6">
    Your {{ data.user.setting.institution }} will own the devices. It’s up to you to decide who will benefit most from them.
  </p>

  {% for item in data.device_groups %}
    <h2 class="govuk-heading-l">{{ item.group_name }}</h2>
    {% for device in item.devices %}
      <h3 class="govuk-heading-s"><a href="{{ device.url }}">{{ device.name }}</a></h3>
      <dl>
        {% for category, detail in device.details %}
          <dt>
            {{ category }}:
          </dt>
          <dd>
            {{ detail }}
          </dd>
        {% endfor %}
      </dl>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% endfor %}
  {% endfor %}

{% endblock %}
