{% extends "_wizard-form.html" %}
{% set title = "What type of Windows device do you need?" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {{ govukRadios({
    items: [
      {
        text: 'Standard',
        hint: {
          text: 'Can be configured with preferred safeguarding software and brought into an existing device management framework.'
        }
      },
      {
        text: 'DfE restricted',
        hint: {
          text: 'Not configurable, with limitations on downloading certain software and changing the strict content filters that may prevent some browsers and conferencing tools from functioning.'
        }
      }
    ]
  }  | decorateFormAttributes('shop-windows-type') ) }}

  <p>Read more information about <a href="https://get-help-with-tech.education.gov.uk/devices/preparing-microsoft-windows-laptops-and-tablets">preparing Microsoft devices</a>.</p>
{% endblock %}
