{% extends "layout.html" %}
{% set title = "Invite a new user" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body/mobile/invite"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/responsible-body/mobile/invite" method="post">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p>Allow someone to request extra mobile data on behalf of a young person. You will need to authorise each request they make.</p>

      {{ govukInput({
        label: {
          text: "Name",
          classes: "govuk-label--m"
        }
      } | decorateFormAttributes(["responsible-body", "new-invite-name"]) )}}

      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--m"
        }
      } | decorateFormAttributes(["responsible-body", "new-invite-email-address"]) )}}

      {{ govukInput({
        label: {
          text: "Organisation",
          classes: "govuk-label--m"
        }
      } | decorateFormAttributes(["responsible-body", "new-invite-organisation"]) )}}

      {{ govukButton({
          html: 'Send invite'
      }) }}
    </form>
  </div>
</div>

{% endblock %}
