
{% set allocation = 0 %}
{% for item in data.independentSpecialSchools %}
 {% set allocation = allocation + item.numberOfPupils %}
{% endfor %}

{% set laptopsOrdered = 0 %}

{% extends "layout.html" %}
  {% set title = 'Devices allocated to local authority funded pupils' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/responsible-body"
      },
      {
        text: "Order devices",
        href: "/responsible-body/devices"
      },
      {
        text: "Order laptops for local authority funded pupils",
        href: "/responsible-body/devices/la-funded-pupils"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

      <p class="govuk-body">
        {{ data.rb }} has been allocated {{ allocation }} laptops.
      </p>

      <p class="govuk-body">
        This allocation is the number of pupils we estimate {{ data.rb }} supports at independent special schools who are also eligible for free school meals.
      </p>
      <h3 class="govuk-heading-s">
        If your allocation is too low
      </h3>
      <p class="govuk-body">
        Let us know how many pupils {{ data.rb }} supports at independent special schools who are also eligible for free school meals (or other evidence of financial disadvantage) at <a href="#">COVID.TECHNOLOGY@education.gov.uk</a>.
      </p>
      <p class="govuk-body">
        Do not send us any personal information, like names of children or <span class="app-no-wrap">dates of birth</span>.
      </p>
{#       <a href="/responsible-body/devices/la-funded-pupils/laptops-types-for-la-funded-pupils" class="guide-next-prev-link govuk-!-margin-top-6">
        <strong class="govuk-heading-m govuk-!-margin-bottom-1">
          <svg class="guide-next-prev-icon guide-next-prev-icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          Next
        </strong>
        <p class="guide-next-prev-description">
          Find out what laptops pupils needs
        </p>
      </a> #}

  </div>
</div>
{% endblock %}
