
{% set allocation = 0 %}
{% for item in data.independentSpecialSchools %}
 {% set allocation = allocation + item.numberOfPupils %}
{% endfor %}

{% set laptopsOrdered = 0 %}

{% extends "layout.html" %}
  {% set title = 'Order laptops for <span class="app-no-wrap">local authority</span> funded pupils' | safe %}
{% block pageTitle %}Order laptops for local authority funded pupils{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/responsible-body"
      },
      {
        text: "Order laptops",
        href: "/responsible-body/devices"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <div class="app-order-card">
    {% if allocation != laptopsOrdered %}
      <h2 class="govuk-heading-m">
        Laptops available:
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        {{ data.rb }} has {{ allocation - laptopsOrdered }} laptop{% if allocation != 1 %}s{% endif %} available to order for pupils in <span class="app-no-wrap">independent special schools</span>.
      </p>
      {% if laptopsOrdered > 0 %}
      <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        You have ordered {{ laptopsOrdered }}.
      </p>
      {% endif %}
    {% else %}
      <h2 class="govuk-heading-m">
        You’ve ordered laptops for all eligible pupils
      </h2>
    {% endif %}
    </div>

    <p class="govuk-body">
        Laptops are available for pupils with local authority funded places at <span class="app-no-wrap">independent special schools</span>.
      </p>
      <p class="govuk-body">
        To help with these pupil’s education during the Coronavirus pandemic you need to:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
          <a href="/responsible-body/devices/la-funded-pupils/allocation">check if {{ data.rb }} has been allocated enough laptops</a>
        </li>
        <li>
          <a href="/responsible-body/devices/la-funded-pupils/laptops-types-for-la-funded-pupils">find out what laptops pupils need</a>
        </li>
        <li>
          <a href="/responsible-body/devices/la-funded-pupils/chromebooks">tell us if any pupils will need Chromebooks</a>
        </li>
        <li>
          <a href="/responsible-body/devices/la-funded-pupils/order">order laptops</a>
        </li>
      </ul>
      <p class="govuk-body">
        You will then need to arrange for the laptops to be sent to the pupils.
      </p>
      <p class="govuk-body">
        The laptops will belong to {{ data.rb }} and you are responsible for maintance and redistributing them if a pupil moves school or leaves education.
      </p>
      {# <h2 class="govuk-heading-m">
        Looking after the laptops
      </h2>
      <p class="govuk-body">
        These laptops belong to {{ data.rb }} and you are responsible for maintance and redistributing them if a pupil moves school or leaves education.
      </p>
      <h3 class="govuk-heading-s">
        How to get laptops ready for pupils
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#">Preparing Microsoft Windows laptops and tablets</a>
        </li>
        <li>
          <a href="#">Preparing Chromebooks</a>
        </li>
      </ul>
      <h3 class="govuk-heading-s">
        What to do if there’s a problems with a laptop
      </h3>
      <p class="govuk-body">
        Support is provided by Computacentre.
      </p>
      <p class="govuk-body">
        <a href="https://computacenterprod.service-now.com/dfe">Visit the support portal for assitance with your laptops</a>
      </p> #}
  </div>
</div>
{% endblock %}
