
{% set allocation = 0 %}
{% for item in data.independentSpecialSchools %}
 {% set allocation = allocation + item.numberOfPupils %}
{% endfor %}

{% set laptopsOrdered = 0 %}

{% extends "layout.html" %}
  {% set title = 'Get laptops for <span class="app-no-wrap">local authority</span> funded pupils' | safe %}
{% block pageTitle %}Get laptops for funded pupils{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/responsible-body"
      },
      {
        text: "Order laptops",
        href: "/responsible-body/devices"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
    <div class="app-order-card">
    {% if allocation != laptopsOrdered %}
      <h2 class="govuk-heading-m">
        Laptops available:
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        {{ data.rb }} has {{ allocation - laptopsOrdered }} laptop{% if allocation != 1 %}s{% endif %} available to order for pupils in <span class="app-no-wrap">independent special schools</span>.
      </p>
      {% if laptopsOrdered > 0 %}
      <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        You have ordered {{ laptopsOrdered }}.
      </p>
      {% endif %}
    {% else %}
      <h2 class="govuk-heading-m">
        You’ve ordered laptops for all eligible pupils
      </h2>
    {% endif %}
    </div>

    <p class="govuk-body">
        Laptops are available for pupils with local authority funded places at <span class="app-no-wrap">independent special schools</span>.
      </p>
      <p class="govuk-body">
        The laptops will belong to {{ data.rb }} and you are responsible for maintance and redistributing them if a pupil moves school or leaves education.
      </p>

      <h2 class="govuk-heading-m">
        Before you order your laptops
      </h2>
      <p class="govuk-body">
        You will need to:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
          <a href="/responsible-body/devices/la-funded-pupils/allocation">check enough laptops have been allocated</a>
        </li>
        <li>
          <a href="/responsible-body/devices/la-funded-pupils/laptops-types-for-la-funded-pupils">find out what laptop types pupils need</a>
        </li>
      </ul>
      <p class="govuk-body">
        You will then need to arrange for the laptops to be sent to the pupils.
      </p>
      {% if data["la-chromebook-preference"] %}
      {{ govukButton({
        text: "Order devices",
        href: "/responsible-body/devices/la-funded-pupils/order"
      }) }}
      {% else %}
      {{ govukButton({
        text: "Order devices",
        href: "/responsible-body/devices/la-funded-pupils/chromebooks"
      }) }}
      {% endif %}
  </div>
</div>
{% endblock %}
