
{% set allocation = data.laFundedPlacesAllocation %}
{% set laptopsOrdered = data.laFundedPlacesOrdered %}

{% extends "layout.html" %}
  {% set title = 'Get laptops for <span class="app-no-wrap">state-funded</span> pupils in independent settings' | safe %}
{% block pageTitle %}Get laptops for funded pupils{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/responsible-body"
      },
      {
        text: "Get laptops",
        href: "/responsible-body/devices"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
    <div class="app-order-card">
    {% if allocation != laptopsOrdered %}
      <h2 class="govuk-heading-m">
        Laptops available:
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-0">
        {{ data.rb }} has {{ allocation - laptopsOrdered }} laptop{% if allocation != 1 %}s{% endif %} available to order now.
      </p>
      {% if laptopsOrdered > 0 %}
      <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">
        You have ordered {{ laptopsOrdered }}.
      </p>
      {% endif %}
    {% else %}
      <h2 class="govuk-heading-m">
        You’ve ordered your full allocation of laptops
      </h2>
    {% endif %}
    </div>

      <p class="govuk-body">
        These laptops are for pupils you fund to attend<span class="app-no-wrap"> independent special schools</span>, or independent alternative provision.
      </p>

      <p class="govuk-body">
        <a href="/responsible-body/devices/la-funded-pupils/allocation">Tell us if you need more laptops than you’ve been allocated</a>.
      </p>

      <h2 class="govuk-heading-m">
        Ownership and responsibility
      </h2>
      <p class="govuk-body">
        {{ data.rb }} will own these laptops. You’re responsible for making sure devices have <a href="#">appropriate safety and security measures installed and maintained</a>.
      </p> 
      <p class="govuk-body">
        You’re responsible for lending the laptops to pupils who need them, and redistributing them if pupils move school or leave education.
      </p>

      <h2 class="govuk-heading-m">
        Before you order
      </h2>
      <p class="govuk-body">
        It’s important to <a href="/responsible-body/devices/la-funded-pupils/laptops-types-for-la-funded-pupils">find out what type of laptop each pupil needs</a>. We suggest you contact schools to get this information as soon as possible.
      </p>
      <p class="govuk-body">
        You can order all of your laptops at once, or place multiple orders.
      </p>
      <p class="govuk-body govuk-!-margin-bottom-8">
       All devices will be sent to your local authority. You then need to arrange for safe distribution to pupils.
      </p>

      {% if allocation != laptopsOrdered %}
        {% if data["la-chromebook-preference"] %}
        {{ govukButton({
          text: "Continue",
          href: "/responsible-body/devices/la-funded-pupils/order"
        }) }}
        {% else %}
        {{ govukButton({
          text: "Continue",
          href: "/responsible-body/devices/la-funded-pupils/chromebooks"
        }) }}
        {% endif %}
      {% endif %}
  </div>
</div>
{% endblock %}
