{% extends "layout.html" %}
  {% set title = "Independent special schools with eligible pupils" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/responsible-body"
      },
      {
        text: "Order devices",
        href: "/responsible-body/devices"
      },
      {
        text: "Devices for local authority funded pupils",
        href: "/responsible-body/devices/la-funded-pupils"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }} 
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <nav>
      <ul class="govuk-list govuk-list-spaced govuk-body-s">
        <h2 class="govuk-heading-m">
          Schools
        </h2>
      {% for item in data.independentSpecialSchools %}
       <li><a href='#{{ item.id }}' class="govuk-link govuk-link--no-visited-state app-no-underline">{{ item.name }}</a></li>
      {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="govuk-grid-column-two-thirds">
    {% for item in data.independentSpecialSchools %}
      <h3 class="govuk-heading-m" id="{{ item.id }}">
        {{ item.name }}
      </h3>
      {% set name = data.mno.requests[loop.index].name %}
      {% set number = '0208 ' + data.mno.requests[loop.index].number.slice(5) %}
      {% set numberOfPupils = item.numberOfPupils %}
      {% set email = 'office@' + item.emailDomain + '.ac.uk'  %}
      {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
        {
          key: {
            text: "Eligible pupils"
          },
          value: {
            text: numberOfPupils
          }
        },
        {
          key: {
            text: "Contact name"
          },
          value: {
            text: name
          }
        },
        {
          key: {
            text: "Phone number"
          },
          value: {
            text: number
          }
        },
        {
          key: {
            text: "Email address"
          },
          value: {
            text: email
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "72 Guild Street<br>London<br>SE3 6FH"
          }
        }
      ]
    }) }}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% endfor %}
  </div>
</div>
{% endblock %}
