
{% set allocation = 0 %}
{% for item in data.independentSpecialSchools %}
 {% set allocation = allocation + item.numberOfPupils %}
{% endfor %}

{% set laptopsOrdered = 0 %}

{% extends "layout.html" %}
  {% set title = 'Find out what laptop types pupils need' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/responsible-body"
      },
      {
        text: "Order devices",
        href: "/responsible-body/devices"
      },
      {
        text: "Order laptops for local authority funded pupils",
        href: "/responsible-body/devices/la-funded-pupils"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

      <p class="govuk-body">
        Speak to each school to find out what type of laptop the pupils need.
      </p>
      <h3 class="govuk-heading-s">
        The laptops in stock are
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Google Chromebooks
        </li>
        <li>
          Standard and DfE Restricted Windows laptops – low stock, delivery may take longer than 5 working days
        </li>
      </ul>
      <p class="govuk-body">
        <a href='#' class="govuk-link">Read more about the devices and specifications available</a>
      </p>
      <h3 class="govuk-heading-s">
        Pupils who need Chromebooks
      </h3>
      <p class="govuk-body">
        If any pupil needs a Chromebook, you will need to provide:
      </p>
      <p class="govuk-body">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            the domain the school has registered for G Suite for Education, for example ‘school.co.uk’
          </li>
          <li>
            a recovery email address. This should be on a seperate domain to the one registered for G Suite for Education. For example, if the domain registered for G Suite for Education is ‘school.com’, the recovery email cannot be ‘recovery@school.com’
          </li>
        </ul>
      </p>
      {# <a href="/responsible-body/devices/la-funded-pupils/chromebooks" class="guide-next-prev-link govuk-!-margin-top-6">
        <strong class="govuk-heading-m govuk-!-margin-bottom-1">
          <svg class="guide-next-prev-icon guide-next-prev-icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
            <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
          Next
        </strong>
        <p class="guide-next-prev-description">
          Tell us if any pupils will need Chromebooks
        </p>
        <hr class="govuk-section-break govuk-section-break--m">
        <a href="/responsible-body/devices/la-funded-pupils/allocation" class="guide-next-prev-link">
        <strong class="govuk-heading-m govuk-!-margin-bottom-1">
          <svg class="guide-next-prev-icon guide-next-prev-icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
          Previous
        </strong>
        <p class="guide-next-prev-description">
          Devices allocated to local authority funded pupils
        </p>
      </a> #}

  </div>
</div>
{% endblock %}
