
{% set allocation = data.laFundedPlacesAllocation %}

{% set laptopsOrdered = data.laFundedPlacesOrdered %}

{% extends "layout.html" %}
  {% set title = 'How to order' %}
{% block pageTitle %}Order laptops for local authority funded pupils{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "State-funded pupils in independent settings",
        href: "/school"
      },
      {
        text: "Get laptops",
        href: "/responsible-body/devices/la-funded-pupils"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

      <h2 class="govuk-heading-m">
        These laptops are currently in stock:
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Google Chromebooks
        </li>
        <li>
          Standard Windows laptops
        </li>
        <li>
          DfE Restricted Windows laptops — low stock, delivery may take longer than 5 working days
        </li>
      </ul>
      <p class="govuk-body">
        <a href="/responsible-body/devices/la-funded-pupils/laptops-types-for-la-funded-pupils" class="govuk-link">It’s important to check you’re ordering the best type of laptop for each pupil.</a>
      </p>

    <h2 class="govuk-heading-m">Chromebooks</h2>
      {% if data["la-chromebook-preference"] == "yes-la-chromebooks" %}
          <p>You’ve told us you’ll order Chromebooks – <a href="/responsible-body/devices/la-funded-pupils/chromebooks">Change <span class="govuk-visually-hidden">Chromebook preference</span></a></p>
        <div class="govuk-inset-text">
        <p>
          After you place your order you’ll get an email asking for:
        </p>
        {% include "_shared/responsible-body/la-funded-places/_chromebook-details-description.html" %}
        </div>
      {% elif data["la-chromebook-preference"] == "no-la-chromebooks" %}
          <p>You have told us you will not order Chromebooks – <a href="/responsible-body/devices/la-funded-pupils/chromebooks">Change</a></p>
      {% else %}
          <p>
            <strong>
              You need to tell us if you’ll order Google Chromebooks
            </strong>
          </p>
        <div class="govuk-inset-text">
          <p>
            If you order Google Chromebooks without letting us know first, they may be set up incorrectly or the order may be cancelled.
          </p>
          <a href="/responsible-body/devices/la-funded-pupils/chromebooks" class="govuk-link">Tell us if you’ll order Google Chromebooks</a>
        </div>
      {% endif %}

      <h2 class="govuk-heading-m">Your laptops will be delivered to:</h2>
      <p class="govuk-body">
        {% for items in data.rbAddress %}
          {{ items }}<br>
        {% endfor %}
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link">Contact us to change your delivery address.</a>
      </p>
    <h2 class="govuk-heading-m">Information for your order</h2>
      <p class="govuk-body">
        You’ll place your order on a website called TechSource.
      </p>
      {# Could cap this length or use the first word? #}
      <p class="govuk-body">
        When you’re asked for a URN, use ‘<strong>{{ data.rb | lower }}</strong>’.
      </p>
      <p class="govuk-body">
        If you place an order for more than {{ allocation - laptopsOrdered }} laptops, your order will be cancelled.
      </p>
      <p>
        You can order all of your laptops at once, or place multiple orders.
      </p>
      <h2 class="govuk-heading-m">How to sign in to TechSource for the first time</h2>
        <p>Use these details to sign in:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>User ID: steve.liddicott@newham.gov.uk</li>
        <li>Password: Use the ‘Forgotten password’ link to set a password the first time you sign in</li>
      </ul>
      {% include '_shared/order/_start-now.html' %}

  </div>
</div>
{% endblock %}
