{% extends "layout.html" %}
{% set title = "Get the internet" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/responsible-body"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<!-- {{ appBanner({
  html: "<h2 class=\"govuk-heading-m\">Thank you. We’ve received your information.</h2>",
  type: "success",
  icon: false
}) }} -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <h2 class="govuk-heading-l govuk-!-font-size-27">Give free access to wifi hotspots</h2>

    <p class="govuk-body">We’ve allocated 300 BT hotspot log-ins for you to pass on to schools and families. A log-in is a username and password. BT calls these ‘vouchers’.</p>

    <h2 class="govuk-heading-s">
      <a href="/responsible-body/hotspot/download">Download log-ins for BT wifi hotspots</a>
    </h2>

    <hr class="govuk-section-break govuk-section-break--m">

    <h2 class="govuk-heading-l govuk-!-font-size-27">Increase data allowances</h2>

    <p class="govuk-body">Give us mobile numbers and network details and we’ll request extra data for these devices. How much data someone gets will depend on their network.</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-4">
      <a href="/responsible-body/internet/mobile">Request extra data for mobile devices</a>
    </h3>
  </div>
</div>
{% endblock %}
