{% extends "layout.html" %}
{% set count = 2 %}
{% set title = count + " requests in progress" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/mno/index-3"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
  </div>
</div>

{{ govukButton({
  text: 'Download in progress requests as CSV',
  href: '#'
}) }}

{% set overrideTag = { classes: "govuk-tag--yellow", text: "In progress" } %}
{% include 'mno/_shared/_requests-table.html' %}
{% include 'mno/_shared/_change-status-form.html' %}
{% endblock %}
