{% extends "layout.html" %}
{% set title = "Requests for extra mobile data" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<!-- {{ appBanner({
  html: "<h2 class=\"govuk-heading-m\">Thank you. Your information has been received.</h2>",
  type: "success",
  icon: false
}) }} -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Lycamobile</span>
      Requests for extra mobile&nbsp;data
    </h1>
  </div>
</div>

{{ govukButton({
    text: 'Download requests as a CSV',
    href: '/public/images/sample.csv'
}) }}

<p>
  <a href="/mno/upload-csv">Update requests using a CSV</a>
</p>

<h2 class="govuk-heading-l govuk-!-margin-top-4">{{ data.mno.requests | length }} requests</h2>

{% include 'mno/_shared/_requests-table.html' %}
{% include 'mno/_shared/_change-status-form.html' %}
{% endblock %}
