{% extends "layout.html" %}
{% set title = "Requests for extra mobile data" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<!-- {{ appBanner({
  html: "<h2 class=\"govuk-heading-m\">Thank you. Your information has been received.</h2>",
  type: "success",
  icon: false
}) }} -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Lycamobile</span>
      Requests for extra mobile&nbsp;data
    </h1>
  </div>
</div>

<p>
  <a href="/mno/upload-csv">Update requests using a CSV</a>
</p>

{{ govukButton({
  text: 'Download requests as a CSV',
  href: '#'
}) }}

<div class="app-card govuk-!-margin-bottom-6 govuk-!-margin-top-4">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          Find requests by telephone number
        </legend>
        <!-- <p>Find requests by telephone number and update them.</p> -->
        {{ govukTextarea({
          label: {
            text: "Telephone numbers",
            classes: "govuk-label--s"
          },
          hint: {
            text: 'One per line'
          },
          classes: "govuk-!-margin-bottom-0",
          id: "mno-name-or-number",
          name: "mno-name-or-number"
        }) }}

        {{ govukButton({
          text: "Find requests",
          href: "/mno/find-requests",
          classes: "govuk-!-margin-bottom-1"
        }) }}
      </fieldset>
    </div>
  </div>
</div>

<h2 class="govuk-heading-l govuk-!-margin-top-4">All requests ({{ data.mno.requests | length }})</h2>

{% include 'mno/_shared/_requests-table.html' %}
{% include 'mno/_shared/_change-status-form.html' %}
{% endblock %}
