{% extends "layout.html" %}
{% set title = "Requests for extra mobile data" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<!-- {{ appBanner({
  html: "<h2 class=\"govuk-heading-m\">Thank you. Your information has been received.</h2>",
  type: "success",
  icon: false
}) }} -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Requests for extra mobile&nbsp;data
    </h1>
  </div>
</div>

{{ govukButton({
    text: 'Download requests as a CSV',
    href: '#'
}) }}

<h2 class="govuk-heading-l govuk-!-margin-top-4">4 requests</h2>

<table class="govuk-table requests-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="all-rows" name="all-rows" type="checkbox" value="all-rows">
          <label class="govuk-label govuk-label--s govuk-checkboxes__label" for="all-rows">
            Account holder
          </label>
        </div>
      </th>
      <th class="govuk-table__header">Mobile number</th>
      <th class="govuk-table__header"><a href="#">Requested</a></th>
      <th class="govuk-table__header"><a href="#">Status</a></th>
      <th class="govuk-table__header">Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="row-1" name="row" type="checkbox" value="row-1">
          <label class="govuk-label govuk-checkboxes__label" for="row-1">
            Dusty McQueen
          </label>
        </div>
      </td>
      <td class="govuk-table__cell">07912345678</td>
      <td class="govuk-table__cell">16 June 2020</td>
      <td class="govuk-table__cell">
        {{ govukTag({
          text: "New",
          classes: "govuk-tag--blue"
        }) }}
      </td>
      <td class="govuk-table__cell"><a href="#">Report a problem</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="row-2" name="row" type="checkbox" value="row-2">
          <label class="govuk-label govuk-checkboxes__label" for="row-2">
            Cruz Dipper
          </label>
        </div>
      </td>
      <td class="govuk-table__cell">07702345678</td>
      <td class="govuk-table__cell">16 June 2020</td>
      <td class="govuk-table__cell">
        {{ govukTag({
          text: "In progress",
          classes: "govuk-tag--yellow"
        }) }}
      </td>
      <td class="govuk-table__cell"><a href="#">Report a problem</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="row-3" name="row" type="checkbox" value="row-3">
          <label class="govuk-label govuk-checkboxes__label" for="row-3">
            Hudson Hicks
          </label>
        </div>
      </td>
      <td class="govuk-table__cell">07800345678</td>
      <td class="govuk-table__cell">16 June 2020</td>
      <td class="govuk-table__cell">
        {{ govukTag({
          text: "Complete",
          classes: "govuk-tag--green"
        }) }}
      </td>
      <td class="govuk-table__cell"><a href="#">Report a problem</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="row-4" name="row" type="checkbox" value="row-4">
          <label class="govuk-label govuk-checkboxes__label" for="row-4">
            Luigi Windmaker
          </label>
        </div>
      </td>
      <td class="govuk-table__cell">07801345678</td>
      <td class="govuk-table__cell">16 June 2020</td>
      <td class="govuk-table__cell">
        {{ govukTag({
          text: "Not valid",
          classes: "govuk-tag--red"
        }) }}
      </td>
      <td class="govuk-table__cell"><a href="#">Report a problem</a></td>
    </tr>
  </tbody>
</table>

<form action="#" method="post">
  <div class="govuk-form-group govuk-!-margin-bottom-2">
    <label class="govuk-label" for="sortby">Set status of selected to</label>
    <select class="govuk-select" name="sortby" id="sortby" style="width: 200px">
      <option value=""></option>
      <option value="in_progress">In progress</option>
      <option value="completed">Completed</option>
      <option value="not_valid">Not valid</option>
    </select>
    <button class="govuk-button govuk-buton--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
      Update
    </button>
  </div>
</form>
{% endblock %}
