{% extends "layout.html" %}
{% set title = "Requests for extra mobile data" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">[Network name]</span>
      Requests for extra mobile&nbsp;data
    </h1>
  </div>
</div>

<!-- {{ govukButton({
  text: 'Download all requests as CSV',
  href: '/public/images/sample.csv'
}) }} -->

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" style="width: 25%">Status</th>
      <th class="govuk-table__header">Number of requests</th>
      <th class="govuk-table__header">View requests</th>
      <td class="govuk-table__header">Download CSV</td>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">All requests</td>
      <td class="govuk-table__cell">400</td>
      <td class="govuk-table__cell"><a href="/mno/all">View all requests</a></td>
      <td class="govuk-table__cell"><a href="#">Download CSV</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">New</td>
      <td class="govuk-table__cell">300</td>
      <td class="govuk-table__cell"><a href="/mno/all-new">View new requests</a></td>
      <td class="govuk-table__cell"><a href="#">Download CSV</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">In progress</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell"><a href="/mno/all-in-progress">View in progress requests</a></td>
      <td class="govuk-table__cell"><a href="#">Download CSV</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Completed</td>
      <td class="govuk-table__cell">70</td>
      <td class="govuk-table__cell"><a href="/mno/all-completed">View completed requests</a></td>
      <td class="govuk-table__cell"><a href="#">Download CSV</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Problem reported</td>
      <td class="govuk-table__cell">28</td>
      <td class="govuk-table__cell"><a href="/mno/all-problem">View requests with problems</a></td>
      <td class="govuk-table__cell"><a href="#">Download CSV</a></td>
    </tr>
  </tbody>
</table>

<div class="app-card govuk-!-margin-bottom-4">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          Find requests by telephone number
        </legend>
        <!-- <p>Find requests by telephone number and update them.</p> -->
        {{ govukTextarea({
          label: {
            text: "Telephone numbers",
            classes: "govuk-label--s"
          },
          hint: {
            text: 'One per line'
          },
          classes: "govuk-!-margin-bottom-0",
          id: "mno-name-or-number",
          name: "mno-name-or-number"
        }) }}

        {{ govukButton({
          text: "Find requests",
          href: "/mno/find-requests",
          classes: "govuk-!-margin-bottom-1"
        }) }}
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}
