<h2 class="govuk-heading-m">Request devices if 15 or more children are self isolating</h2>
<p>You can request your full device allocation if you have 15 or more children (in years 3 to 11) who are self-isolating having been exposed to a confirmed coronavirus case outside the school community.</p>

<h3 class="govuk-heading-m">What to put in your request</h3>

<p>Tell us:</p>
{% if multipleSchools %}
<ul class="govuk-list govuk-list--bullet">
  <li>which school this applies to</li>
  <li>how many children are self-isolating at the same time, having been exposed to a confirmed coronavirus case outside the school community</li>
  <li>the year groups of the children who are self-isolating</li>
  <li>if the school has spoken to their health protection team about rates of transmission in their area</li>
</ul>
{% else %}
<ul class="govuk-list govuk-list--bullet">
  <li>how many children are self-isolating at the same time, having been exposed to a confirmed coronavirus case outside the school community</li>
  <li>the year groups of the children who are self-isolating</li>
  <li>if you’ve spoken to your health protection team about rates of transmission in your area</li>
</ul>
{% endif %}

{% include '_shared/request-devices/_where-send-request.html' %}
