<h3 class="govuk-heading-m">What to put in your request</h3>

<p>Tell us:</p>
{% if multipleSchools %}
  <ul class="govuk-list govuk-list--bullet">
    <li>which schools need the devices</li>
    <li>how many laptops and tablets they need</li>
    <li>how many 4G wireless routers they need</li>
    <li>the year groups of the children who need devices</li>
    <li>why they need the devices</li>
  </ul>
{% else %}
  <ul class="govuk-list govuk-list--bullet">
    <li>how many laptops and tablets you will need</li>
    <li>how many routers you will need</li>
    <li>the year groups of the children who need devices</li>
    <li>why you need them</li>
  </ul>
{% endif %}

<p>If shielding is not recommended in your area (see the <a href="#">guidance on local restrictions</a>), you’ll need to show evidence that children have received official advice to continue shielding outside of national guidelines.</p>

<h3 class="govuk-heading-m">If you are requesting routers</h3>

<!-- <p>Tell us how many routers you will need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>for specific circumstances</li>
  <li>in the event of a closure or if more than 15 children are self-isolating</li>
</ul> -->

<p>Try <a href="#">requesting extra mobile data</a> first. <a href="#">Compare routers and mobile data requests</a> to check which is best for a household.</p>

<p>We have a limited number of routers available and may not be able to give you the number you request.</p>

<p>To help us, please give evidence of:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>how you’ve identified disadvantage, such as the number of children receiving free school meals or pupil premium</li>
  <li>your understanding of children’s access to the internet</li>
  <li>disadvantaged pupils joining the school since the Schools Census</li>
</ul>

<p>Evidence can be surveys, calls home, awareness of families, demographic data, or questions asked to parents. Do not send personal information, like names of children or dates of birth.</p>

{% include '_shared/request-devices/_where-send-request.html' %}
