{% set dHtml %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Request devices for disadvantaged children</h2>
    {% include '_shared/request-devices/_who.html' %}
    {% include '_shared/request-devices/_make-disadvantaged-request.html' %}
  </div>
</div>
{% endset %}

{% set sHtml %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include '_shared/request-devices/_make-self-isolating-request.html' %}
  </div>
</div>
{% endset %}

{{ govukTabs({
  items: [
    {
      label: "For disadvantaged children",
      id: "disadvantaged",
      panel: {
        html: dHtml
      }
    },
    {
      label: "If children are self-isolating",
      id: "self-isolating",
      panel: {
        html: sHtml
      }
    }
  ]
}) }}
