{% if data.features.push %}
  <p>If your current provision of devices is not enough, you can request more devices (on top of your allocation) for disadvantaged children from any year group who:</p>
{% elseif requestLink %}
  <p>You can still <a href="{{ requestLink }}">request devices for disadvantaged children</a> from any year group who:</p>
{% else %}
  <p>You can request devices for disadvantaged children from any year group who:</p>
{% endif %}
<ul class="govuk-list govuk-list--bullet">
  <li>are <a href="#">clinically extremely vulnerable</a> and need to shield on current official advice (this could be from a doctor or hospital consultant)</li>
  <li>live in a household that’s been advised to shield because a family member is clinically extremely vulnerable</li>
  <li>cannot attend school – even though theirs is open – because they live in a different area with local coronavirus restrictions</li>
</ul>
