{% if requestLink %}
  <p>You can still <a href="{{ requestLink }}">request devices for disadvantaged children</a> who:</p>
{% else %}
  <p>You can request devices at any time for disadvantaged children who:</p>
{% endif %}
<ul class="govuk-list govuk-list--bullet">
  <li>are extremely clinically vulnerable and must continue shielding on&nbsp;official&nbsp;advice</li>
  <li>cannot attend school – even though theirs is open – because they live in a different area with local coronavirus restrictions</li>
</ul>
