{% filter markdownToHTML %}
## Get help with technology – How we look after personal data

### Who this information is for

This information is for individuals employed by a school, local authority or trust. It tells them how their name and contact details will be used for the Get help with technology initiative.

### Get help with technology

The Get help with technology initiative is run by the Department for Education (DfE) to enable schools, local authorities, trusts and further education providers to order computing devices and other related products and services. These are made available to help young people in their education.

### How DfE will use personal information

We will collect your name and contact details (specifically, your work email and telephone number) and share this with a contracted third party (see below) to create an account for you. This will enable you to order computing devices or other related products and services for your school or one within your local authority or trust. We may also contact you to gather feedback in order to review and improve the Get help with technology initiative.

### How personal information will be shared

We share the following information with a contracted third party (currently Computacenter (UK) Ltd) which administers the ordering and supply of computing devices and other related products and services under the Get help with technology initiative on behalf of DfE:

* your name and contact details (specifically, your work email and telephone number)
* the school’s name and address

The contracted third party only receives this information so that it can administer the ordering and delivery of computing devices or other related products and services under the Get help with technology initiative.

### Why we can use personal information

To use personal information, we need to meet one of the conditions specified under data protection legislation. In providing this service, DfE uses and shares personal information as part of its legitimate interest, which is one of the specified conditions.  This service, which requires your personal information for ordering computing devices and other related products and services, is considered necessary and proportionate to support young people in their education during disruption caused by the current coronavirus (COVID-19) pandemic. This includes scenarios where there’s a local lockdown or where a young person needs to shield for clinical reasons.

### How long we hold personal information

Personal information will only be held as long as is necessary for the above purposes. It is currently anticipated that the Get help with technology initiative will be made available until 31 December 2021. We currently expect that personal information relating to ordering and delivery of computing devices and other related products and services will be retained for up to 6 months following the termination of the Get help with technology initiative for evaluation purposes (i.e. until 30 June 2022), after which it will be securely destroyed. However, these periods may be extended where necessary for the achievement of the purposes above.

### Your rights

You have certain rights under data protection law, including the right to find out what data we hold about you. If you want to find this out, you can make a ‘subject access request’ using our [contact form](#).

You can find more information about how DfE handles personal data in our [personal information charter](#).
You can also find out more about [data protection rights](#) from the [Information Commissioner’s Office](#).
{% endfilter %}
