<h2 class="govuk-heading-m govuk-!-margin-bottom-1">{{ user.name }}</h2>
<p>
  <a href="#">Edit user</a>
</p>

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-8',
  rows: [
    {
      key: {
        text: "Email address"
      },
      value: {
        text: user.email
      }
    },
    {
      key: {
        text: "Telephone"
      },
      value: {
        text: user.number
      }
    },
    {
      key: {
        text: "Can place orders"
      },
      value: {
        text: 'Yes' if user['order-devices'] else 'No'
      }
    } if isSchoolUser and not data.features['order-in-service'],
    {
      key: {
        text: "Last sign-in"
      },
      value: {
        text: user['last-sign-in']
      }
    }
  ]
}) }}
