<h2 class="govuk-heading-l govuk-!-margin-bottom-2">{{ user.name }}</h2>
<p>
  <a href="#">Edit user</a>
</p>

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-8',
  rows: [
    {
      key: {
        text: "Email address"
      },
      value: {
        text: user.email
      }
    },
    {
      key: {
        text: "Telephone"
      },
      value: {
        text: user.number
      }
    },
    {
      key: {
        text: "Order devices"
      },
      value: {
        text: 'Yes' if user['order-devices'] else 'No'
      }
    } if user.type == 'rb'
  ]
}) }}
