{% extends "_markdown.html" %}
{% set title = 'Increasing internet access for vulnerable and disadvantaged children' %}

{% block markdown %}
# Increasing internet access for vulnerable and disadvantaged children

Internet access supports remote education, as well as virtual contact between children, their social workers and other services.

We know that many children don’t have reliable internet access, and we’re acting to change this.

## We’re giving children free access to wifi hotspots

The Department for Education has teamed up with BT to give children and young people free access to BT wifi hotspots. If they live in range of a BT hotspot, their school will give them log-in details to access the network.

## Who can get help

Increased internet access is available in England to families with children from early years up to 16, and care leavers up to 25 if they:

*   don’t have access to a [fixed broadband connection](https://www.ofcom.org.uk/phones-telecoms-and-internet/advice-for-consumers/advice/broadband-speeds/broadband-basics)
*   cannot afford the additional data needed to access educational resources or social care services

## How the scheme works

At the moment, we’re trialling the scheme. We’ve asked a small number of local authorities and academy trusts to let us know who needs connectivity support and who can access a BT wifi hotspot.

Once we get this information, we’ll allocate a suitable number of hotspot accounts for local authorities and academy trusts to distribute to schools and families.

We hope to make this scheme available to more families across England in the coming months.

## How schools, local authorities and trusts can get involved

We know this support is needed urgently, and we plan to make it available to everyone as soon as we can. We’ll be in touch when we’re ready to bring you on board.

In the meantime, you can prepare by:

*   identifying who needs help
*   finding out if those who need help can access a BT hotspot

You can see hotspot coverage by:

*   doing a postcode check on [https://www.btwifi.com/find/](https://www.btwifi.com/find/), or
*   checking whether BT wifi is an available network at home (this will appear as BTWi-fi when you look at available networks on your device)

## How individuals can get involved

If you don’t have access to a fixed line broadband connection at home and you need help to access remote education or social care, please find out what support is currently available.

If you’re at school, talk to your school. If you have a social worker, talk to your social care team.

## There’s also support for those who can’t access hotspots

Hotspot coverage varies across the country, so we’re also working with telecommunications companies to explore how to increase internet access for children and young people who rely on mobile data to connect to the internet at home.

## If you have questions

If you have any questions, email [COVID.TECHNOLOGY@education.gov.uk](mailto:COVID.TECHNOLOGY@education.gov.uk?subject=Increasing%20internet%20access) using the subject line ‘Increasing internet access’.
{% endblock %}
