{% extends "layout.html" %}
{% set title = "Check your answers before confirming" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: mobilePath + "/new"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Account holder"
          },
          value: {
            text: dataValue(["mobile", mobileId, "name"])
          },
          actions: {
            items: [
              {
                href: mobilePath + "/new",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Mobile number"
          },
          value: {
            text: dataValue(["mobile", mobileId, "mobile-number"])
          },
          actions: {
            items: [
              {
                href: mobilePath + "/new",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Mobile network"
          },
          value: {
            text: dataValue(["mobile", mobileId, "mobile-network"])
          },
          actions: {
            items: [
              {
                href: mobilePath + "/new",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Pay monthly or pay as you go"
          },
          value: {
            text: dataValue(["mobile", mobileId, "mobile-contract-type"])
          },
          actions: {
            items: [
              {
                href: mobilePath + "/new",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Privacy"
          },
          value: {
            text: dataValue(["mobile", mobileId, "privacy"])
          },
          actions: {
            items: [
              {
                href: mobilePath + "/new",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        }
      ]
    }) }}

    <p>These details will be passed to {{ dataValue(["mobile", mobileId, "mobile-network"]) }}</p>

    {{ govukButton({
      text: 'Confirm request',
      href: mobilePath + '?finish-mobile=true'
    }) }}
  </div>
</div>
{% endblock %}
