{% extends "layout.html" %}
{% set title = "Request extra data for mobile devices" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/responsible-body" if isRb else "/school"
      },
      {
        text: "Get the internet",
        href: "/responsible-body/internet" if isRb else "/school/internet"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<!-- {{ appBanner({
  html: "<h2 class=\"govuk-heading-m\">We’ve received your request</h2>",
  type: "success",
  icon: false
}) }} -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {% if not dataValue(["mobile"]) %}
    <div class="govuk-inset-text">
      <p class="govuk-body">
        Use the guide to tell people what’s available and collect the information you&nbsp;need:
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="/guide">Guide to collecting mobile information</a>
      </p>
    </div>
    {% endif %}

    <!-- <h2 class="govuk-heading-l">You cannot request data at the&nbsp;moment</h2>
    <p>Our initial pilot ended on 30 September 2020, and we are now working with mobile network providers to prepare for the next phase.</p>
    <p>If you were planning to request a data increase, please hold on to the information you’ve gathered and wait for an update on the scheme.</p>
    <p>Data increases already received will continue until 31 December 2020.</p> -->

    {{ govukButton({
      text: 'New request',
      href: mobilePath + '/type'
    }) }}
  </div>
</div>

{% if dataValue(["mobile"]) %}
  <h2 class="govuk-heading-l govuk-!-margin-top-6">Your requests</h2>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Account holder</th>
        <th class="govuk-table__header">Mobile number</th>
        <th class="govuk-table__header">Mobile Network</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for id, request in dataValue(["mobile"]) %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ request['name'] }}</td>
          <td class="govuk-table__cell">{{ request['mobile-number'] }}</td>
          <td class="govuk-table__cell">{{ request['mobile-network'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
