{% extends "layout.html" %}
{% set title = "Request extra data for mobile devices" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/responsible-body" if isRb else "/school"
      },
      {
        text: "Get internet access",
        href: "/responsible-body/internet" if isRb else "/school/internet"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<!-- {{ appBanner({
  html: "<h2 class=\"govuk-heading-m\">We’ve received your request</h2>",
  type: "success",
  icon: false
}) }} -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <h2 class="govuk-heading-m">1. Check who is eligible for extra mobile data</h2>

    <p>You can request extra mobile data for children who:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>have no broadband connection at home</li>
      <li>cannot afford additional data</li>
    </ul>

    <p>You can make up to 10 requests for <a href="/school/specific-circumstances">specific circumstances</a>.</p>

    <p>More requests will be available when you report a closure or that 15 children are self-isolating.</p>

    <h2 class="govuk-heading-m">2. Use our guide to gather the information you need</h2>

    <p class="govuk-body">
      You will need to collect names, telephone numbers and network details from households. They also need to understand how we’ll use their personal information.
    </p>
    <p>Use our guide to tell people what’s available and collect the information you&nbsp;need: </p>
    <p class="govuk-body">
      <a class="govuk-link" href="/guide">Guide to collecting mobile information from families</a>
    </p>

    <h2 class="govuk-heading-m">3. Enter the information you collect</h2>

    <p>Once you submit mobile numbers and network details through our service, we’ll request extra data. How much data someone gets will depend on their network.</p>

    {{ govukButton({
      text: 'New request',
      href: mobilePath + '/type'
    }) }}

    <h2 class="govuk-heading-m">4. Check your requests</h2>

    <p>Check whether a network has received and approved your requests.</p>

    <p><a href="{% if isRb %}/responsible-body/internet/mobile/requests{% else %}/school/internet/mobile/requests{% endif %}">Check your requests</a></p>
  </div>
</div>
{% endblock %}
