{% extends "layout.html" %}
{% set title = "Who needs the extra mobile data?" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: mobilePath + "/type"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Who needs the extra mobile&nbsp;data?
    </h1>

    <h2 class="govuk-heading-m">Use the guide</h2>
    <p class="govuk-body">
      Use the guide to tell people what’s available, collect the information needed, and share the privacy statement:
    </p>
    <p class="govuk-body govuk-!-margin-bottom-6">
      <a class="govuk-link" href="/guide">Guide to collecting mobile information</a>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <form method="post" action="{{ mobilePath }}/{{ mobileId }}/check-answers" class="govuk-grid-column-two-thirds">
    {{ govukInput({
      label: {
        text: "Account holder name",
        classes: "govuk-label--m"
      },
      hint: {
        html: 'The account holder for a Pay Monthly contract must be over 18.<br /><a href="/guide/asking-for-account-holder">Guidance on asking for account holder details</a>'
      }
    } | decorateFormAttributes(["mobile", mobileId, "name"]) )}}

    {{ govukInput({
      label: {
        text: "Mobile phone number",
        classes: "govuk-label--m"
      },
      hint: {
        html: 'All UK mobile numbers begin with ‘07’<br /><a href="/guide/asking-for-account-holder">Guidance on asking for mobile numbers</a>'
      }
    } | decorateFormAttributes(["mobile", mobileId, "mobile-number"]) )}}

    {% set genericOfferDetailsHTML %}
      <ul class="govuk-list govuk-list--bullet">
        <li>The recipient will get unlimited data until 31 July 2021.</li>
        <li>The offer is available to both Pay Monthly and Pay-As-You-Go customers.</li>
        <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
        <li>The network will aim to process the request within 14 days.</li>
      </ul>
    {% endset %}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "Mobile network",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        html: 'Only mobile networks participating in the service are listed<br /><a href="/guide/asking-for-network">Guidance on asking for mobile network</a> and <a href="/guide/telling-about-offer">telling people about their offer</a>',
        classes: 'govuk-!-margin-bottom-3'
      },
      items: [
        {
          text: "EE",
          conditional: {
            html: genericOfferDetailsHTML
          }
        },
        {
          text: "Lycamobile",
          conditional: {
            html: genericOfferDetailsHTML
          }
        },
        {
          text: "O2",
          conditional: {
            html: genericOfferDetailsHTML
          }
        },
        {
          text: "Tesco Mobile",
          conditional: {
            html: genericOfferDetailsHTML
          }
        },
        {
          text: "Three",
          conditional: {
            html: genericOfferDetailsHTML
          }
        },
        {
          text: "Smarty",
          conditional: {
            html: genericOfferDetailsHTML
          }
        },
        {
          text: "Sky Mobile",
          conditional: {
            html: genericOfferDetailsHTML
          }
        },
        {
          text: "Virgin Mobile",
          conditional: {
            html: genericOfferDetailsHTML
          }
        }
      ]
    } | decorateFormAttributes(["mobile", mobileId, "mobile-network"])) }}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: 'Pay Monthly or Pay-as-you-go (PAYG)?',
          classes: "govuk-label--m"
        }
      },
      hint: {
        html: '<a href="/guide/asking-for-network">Guidance on asking for Pay Monthly or Pay-as-you-go</a>'
      },
      items: [
        {
          text: "Pay Monthly"
        },
        {
          text: "Pay-as-you-go"
        }
      ]
    } | decorateFormAttributes(["mobile", mobileId, "mobile-contract-type"]) ) }}

    {{ govukCheckboxes({
      fieldset: {
        legend: {
          text: "Has someone shared the privacy statement with the account holder?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        html: 'The account holder does not need to sign or agree to the <a href="/guide/privacy">privacy statement</a>, but it must be shared with them, verbally or in writing.'
      },
      items: [
        {
          text: "Yes, the privacy statement has been shared"
        }
      ]
    } | decorateFormAttributes(["mobile", mobileId, "privacy"])) }}

    {{ govukButton({
      html: 'Continue'
    }) }}
  </form>
</div>
{% endblock %}
