{% extends "layout.html" %}
{% set title = "How would you like to submit information?" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: mobilePath
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <form method="post" action="{{ mobilePath }}/type" class="govuk-grid-column-two-thirds">

    {{ govukRadios({
      fieldset: {
        legend: {
          text: title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-6"
        }
      },
      items: [
        {
          text: "Manually (entering details one at a time)"
        },
        {
          text: "Using a spreadsheet"
        }
      ]
    } | decorateFormAttributes(["mobile-entry-type"])) }}

    {{ govukButton({
      html: 'Continue'
    }) }}
  </form>
</div>
{% endblock %}
