{% extends "_wizard-form.html" %}
{% set title = "You’ve been allocated " + data['school-details'].allocation + " laptops" %}

{% block form %}

  {% if data.features.iss %}
    <h1 class="govuk-heading-xl">
      {{ data.rb }} has been allocated <span class="app-no-wrap">{{ data['school-details'].allocation }} laptops</span>
    </h1>
    {% include "_shared/responsible-body/la-funded-places/_allocation-description.html" %}
  {% else %}
    <h1 class="govuk-heading-xl">
      You’ve been allocated <span class="app-no-wrap">{{ data['school-details'].allocation }} laptops</span>
    </h1>
    <p>Your allocation of {{ data['school-details'].allocation }} laptops is based on:</p>
    {% include "_shared/school/_allocation-description.html" %}
    <p class="govuk-!-margin-bottom-6"><a href="https://get-help-with-tech.education.gov.uk/devices/device-allocations" target="_blank">Read more about allocations</a></p>
  {% endif %}

  <!-- <p>Numbers will be reassessed at the time of ordering based on availability and the extent of coronavirus restrictions.</p> -->

{% endblock %}
