{% extends "_wizard-form.html" %}
{% set title = "You’ve been allocated " + " devices" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    You’ve been allocated <span class="app-no-wrap">{{ data.user.deviceAllocation }} devices</span>
  </h1>
  {% include "_shared/school/_allocation-description.html" %}
  <p class="govuk-!-margin-bottom-6">
    <a href="https://get-help-with-tech.education.gov.uk/devices/device-allocations" target="_blank">
      Read more about allocations
    </a>
  </p>
{% endblock %}
