{% extends "_wizard-form.html" %}
{% set isOrderUser = data['school-details'].order_user %}
{% if data.features.iss %}
  {% set title = "Laptops you can order" %}
{% else %}
  {% set title = "You can order a range of laptops and tablets" if isOrderUser else "Your school can order a range of laptops and tablets" %}
{% endif %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

{% if data.features.iss %}
  {% include '_shared/responsible-body/la-funded-places/_laptops-you-can-order.html' %}
{% else %}
  <p>Your school{% if data.features['further-education'] %}, or college,{% endif %} will own the devices. It’s up to you to decide who will benefit most from them.</p>

  <p>You can choose from:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Microsoft Windows laptop</li>
    <li>Google Chromebook</li>
  </ul>
  <p class="govuk-!-margin-bottom-6"><a href="#">Read more about the device specifications</a></p>
{% endif %}

{% endblock %}
