{% extends "_wizard-form.html" %}
{% set isOrderUser = data['school-details'].order_user %}
{% set title = "You can order a range of laptops and tablets" if isOrderUser else "Your school can order a range of laptops and tablets" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p>Your school will own the devices. It’s up to you to decide who will benefit most from them.</p>

  <p>You can choose from:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Microsoft Windows laptop</li>
    <li>Microsoft Windows tablet</li>
    <li>Google Chromebook</li>
    <li>Apple iPad</li>
  </ul>

  <p class="govuk-!-margin-bottom-6"><a href="#">Read more about the device specifications</a></p>
{% endblock %}
