{% extends "_wizard-form.html" %}
{% if  data.features['order-in-service'] %}
  {% set buttonText = 'Finish and go to homepage' %}
{% endif %}

{% set title = "You can order a range of devices" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p>Your school or college will own the devices. It’s up to you to decide who will benefit most from them.</p>

  <p>You can choose from:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Microsoft Windows laptops</li>
    <li>Microsoft Windows laptops with DfE settings installed</li>
    <li>Google Chromebooks</li>
  </ul>

  <p>You can also request 4G wireless routers.</p>
{% endif %}

{% endblock %}
