{% extends "layout.html" %}
{% if data.features.iss or data.features.socialCare %}
  {% set title = "Get laptops and internet access" %}
{% else %}
  {% set title = data['school-details'].name %}
{% endif %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home"
      },
      {
        text: "Your account"
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  {% if data.features.iss %}
    <span class="govuk-caption-xl">
      State-funded pupils in independent schools and alternative provision
    </span>
  {% elif data.features.socialCare %}
    <span class="govuk-caption-xl">
      Care leavers
    </span>
  {% endif %}
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data.features['autumn-service'] %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/school/devices/order-in-service">Order devices</a>
      </h2>
      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>see your allocation and how many devices you have available</li>
        <li>order laptops, tablets and 4G wireless routers</li>
      </ul>

      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/school/users">Manage users</a>
      </h2>
      {% if data.features['order-in-service'] %}
        <p>Use this section to give others access to this service.</p>
      {% else %}
        <p>Use this section to give others:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>access to this service</li>
          <li>access to the TechSource website (where they’ll place orders)</li>
        </ul>
      {% endif %}

    {% else %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
      {% if data.features['order-in-service'] %}
        <a href="/school/devices/order-in-service">Order devices</a>
      {% elseif data.features.iss or data.features.socialCare %}
        <a href="/responsible-body/devices/placeholder-schools">Get laptops</a>
      {% else %}
        <a href="/school/devices/order-lockdown">Order devices</a>
      {% endif %}
      </h2>
      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
      {% if data.features['order-in-service'] %}
        <li>tell us which devices you want to order</li>
      {% else %}
        <li>see how many laptops you’ve been allocated</li>
        <li>place orders on the TechSource website</li>
      {% endif %}
      </ul>

      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/school/internet">Get internet access</a>
      </h2>
      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>request extra data for mobile devices</li>
        <li>check the status of your data requests</li>
        <li>request 4G wireless routers</li>
        <li>see your Huawei router password</li>
      </ul>

      {% if data.features.donated and not (data.features.iss or data.features.socialCare) %}
        {% if data['donated-opted-in'] %}
          <h2 class="govuk-heading-l govuk-!-font-size-27">
            <a href="/school/donated/opted-in">Daily Mail donated devices scheme</a>
          </h2>
          <p>Your school has opted in. Use this section to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>check your delivery address and device preferences</li>
            <li>read more about the scheme</li>
          </ul>
        {% else %}
          <h2 class="govuk-heading-l govuk-!-font-size-27">
            <a href="/school/donated">Opt in to the Daily Mail’s donated devices scheme</a>
          </h2>
          <p>Use this section to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>opt in and be considered for devices donated through their scheme</li>
            <li>set a preference for devices you want</li>
          </ul>
        {% endif %}
      {% endif %}

      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/school/devices/check">Check your{% if data.features['further-education'] == false %} school{% endif %} details</a>
      </h2>

      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>review your allocation</li>
        <li>change your Chromebook settings</li>
      </ul>

      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/school/users">Manage users</a>
      </h2>
      {% if data.features['order-in-service'] %}
        <p>Use this section to give others access to this service.</p>
      {% else %}
        <p>Use this section to give others:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>access to this service</li>
          <li>access to the TechSource website (where they’ll place orders)</li>
        </ul>
      {% endif %}
    {% endif %}
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="app-survey-container">
      <h3 class="govuk-heading-m">
        Give feedback
      </h3>
      {# For production – change 'school to @school.institution_type' #}
      <p class="govuk-body">
        Help us understand the impact this programme has had on your school.
      </p>
      <p class="govuk-body govuk-!-margin-bottom-1">
        <a href="#">
          Complete a survey
        </a>
      </p>
    </div>
  </div>

</div>
{% endblock %}
