{% extends "layout.html" %}
{% set title = data['school-details'].name %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      {% if data.covid or data.features.push %}
        <a href="/school/devices/order-lockdown">Order devices</a>
      {% else %}
        <a href="/school/devices/order">Order devices</a>
      {% endif %}
    </h2>
    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% if data.features.push %}
        <li>place orders</li>
      {% else %}
        <li>check if you can place orders</li>
      {% endif %}
      <li>access the Computacenter TechSource website</li>
    </ul>

    {% if data.features['school-mno'] %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/school/internet">Get internet access</a>
      </h2>
      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>request extra data for mobile devices</li>
        <li>check the status of your data requests</li>
        <li>request 4G wireless routers</li>
      </ul>
    {% endif %}

    {% if data.features.donated %}
      {% if data['donated-opted-in'] %}
        <h2 class="govuk-heading-l govuk-!-font-size-27">
          <a href="/school/donated/opted-in">Daily Mail donated devices scheme</a>
        </h2>
        <p>Your school has opted in. Use this section to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>check your delivery address and device preferences</li>
          <li>read more about the scheme</li>
        </ul>
      {% else %}
        <h2 class="govuk-heading-l govuk-!-font-size-27">
          <a href="/school/donated">Opt in to the Daily Mail’s donated devices scheme</a>
        </h2>
        <p>Use this section to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>opt in and be considered for devices donated through their scheme</li>
          <li>set a preference for devices you want</li>
        </ul>
      {% endif %}
    {% endif %}

    {% if data.features['school-mno'] and not data.features.push %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/school/specific-circumstances">Get help for specific circumstances</a>
      </h2>
      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>understand when children and students can get support</li>
        <li>see what help they can get</li>
      </ul>
    {% elseif not data.features.push %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/school/devices/request-devices">Request devices for specific circumstances</a>
      </h2>
      <p>Use this section to request devices for children or students who:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>are shielding on official advice</li>
        <li>cannot attend school because they live in a different area with coronavirus restrictions</li>
      </ul>
    {% endif %}

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/school/devices/check">Check your{% if data.features['further-education'] == false %} school{% endif %} details</a>
    </h2>

    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>review your allocation</li>
      <li>change your Chromebook settings</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/school/users">Manage users</a>
    </h2>
    <p>Use this section to give others{% if data.features['further-education'] == false %} in your school{% endif %}:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>access to this service</li>
      <li>access to the TechSource website (where they’ll place orders)</li>
    </ul>
  </div>

  <div class="govuk-column-one-third">
    <h3 class="govuk-heading-l govuk-!-font-size-27">
      Give feedback
    </h3>
    {# For production – change 'school to @school.institution_type' #}
    <p class="govuk-body">
      Help us understand the impact this programme has had on your school.
    </p>
    <p class="govuk-body">
      <a href="#">
        Complete a survey
      </a>
    </p>
  </div>

</div>
{% endblock %}
