{% extends "layout.html" %}
{% set title = data['school-details'].name %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
{% if data.features['increased-allocations'] or data.features['xmas-soon'] or data.features['sixth-form-increase'] %}
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    {% if data.features['increased-allocations'] %}
      <p class="govuk-notification-banner__heading">Your allocation has increased to 82 devices</p>
      <p>As international stocks of laptops and tablets have increased, we’ve restored your allocation to what it was before October half term.</p>
    {% endif %}

    {% if data.features['increased-allocations'] and data.features['xmas-soon'] %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% endif %}

    {% if data.features['xmas-soon'] %}
      <p class="govuk-notification-banner__heading">No orders over Christmas</p>
      <p>You will not be able to place orders over the Christmas break. We’ll accept orders up until 4pm on Thursday 17 December and we’ll then close ordering until Monday 4 January.</p>
    {% endif %}

    {% if data.features['sixth-form-increase'] %}
      <p class="govuk-notification-banner__heading">Your allocation has increased to include students in years 12 and 13</p>
      <p>You can <a href='/school/devices/order-lockdown' class='govuk-link--no-visited-state'>order 30 more devices</a>.</p>
    {% endif %}
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      {% if data.covid or data.features.push %}
        <a href="/school/devices/order-lockdown">Order devices</a>
      {% else %}
        <a href="/school/devices/order">Order devices</a>
      {% endif %}
    </h2>
    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% if data.features.push %}
        <li>place orders</li>
      {% else %}
        <li>check if you can place orders</li>
      {% endif %}
      <li>access the Computacenter TechSource website</li>
    </ul>

    {% if data.features['school-mno'] %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/school/internet">Get internet access</a>
      </h2>
      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>request extra data for mobile devices</li>
        <li>request 4G wireless routers</li>
      </ul>
    {% endif %}

    {% if data.features['school-mno'] and not data.features.push %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/school/specific-circumstances">Get help for specific circumstances</a>
      </h2>
      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>understand when children can get support</li>
        <li>see what help they can get</li>
      </ul>
    {% elseif not data.features.push %}
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <a href="/school/devices/request-devices">Request devices for specific circumstances</a>
      </h2>
      <p>Use this section to request devices for children who:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>are shielding on official advice</li>
        <li>cannot attend school because they live in a different area with coronavirus restrictions</li>
      </ul>
    {% endif %}

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/school/devices/check">Check your details</a>
    </h2>

    <p>Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>review your allocation</li>
      <li>change your Chromebook settings</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/school/users">Manage users</a>
    </h2>
    <p>Use this section to give others:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>access to this service</li>
      <li>access to the TechSource website (where they’ll place orders)</li>
    </ul>
  </div>
</div>
{% endblock %}
