{% extends "_wizard-form.html" %}
{% set title = "Your school can order its own devices" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p>Schools that are closed or partially closed because of a local lockdown will be allowed to place orders for devices.</p>

  <p>You can also request devices, at any time, for children who are shielding because they are clinically extremely vulnerable.</p>

  <p class="govuk-!-margin-bottom-6">Orders placed before 4pm will be delivered to schools the next working day.</p>
{% endblock %}
