{% extends "_wizard-form.html" %}
{% set title = "You can only place orders when local coronavirus restrictions are confirmed" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p>If your school is affected by local coronavirus restrictions, we’ll contact you with instructions as soon as you’re able to place orders.</p>

  <p>Orders placed before 4pm will be delivered to schools the next working day.</p>

  <h2 class="govuk-heading-m">Request devices for children who are shielding</h2>
  <p class="govuk-!-margin-bottom-6">You can request devices at any time for children who are shielding because they’re clinically vulnerable.</p>
{% endblock %}
