{% extends "_wizard-form.html" %}
{% set title = "Do you need to give someone else access?" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {% if data.features.iss %}
    <p>
      Invite someone in your local authority who can help you manage ordering devices and requesting internet access for state-funded pupils in independent settings.
    </p>
  {% else %}
    {% include '_shared/invite/_who.html' %}
  {% endif %}

  {% set contactFields %}
    {% set isNested = true %}
    {% include '_shared/invite/_school-fields.html' %}
  {% endset %}

  {{ govukRadios({
    items: [
      {
        text: 'Yes, I need to add someone',
        conditional: {
          html: contactFields
        }
      },
      {
        text: 'No, not at the moment'
      }
    ]
  }  | decorateFormAttributes('you-ordering') ) }}
{% endblock %}
