{% extends "layout.html" %}
{% set title = "We removed your allocation because of delays in our supply chain" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/school"
      },
      {
        text: "Delays in our supply chain"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ title }}
    </h1>

    <p>Due to delays in our supply chain, primary schools cannot currently place orders for laptops and tablets.</p>

    <p>We made this difficult decision so we can target support at disadvantaged children in key exam years (10 and 11).</p>

    <h2 class="govuk-heading-m">We’re working hard to increase stock levels</h2>

    <p>We’re working hard with suppliers to increase stock levels as quickly as we can, and we hope to restore your original allocation. We’ll let you know when things change.</p>

    <p>We understand this news is disappointing, and we’re sorry.</p>

    <!-- {{ govukButton({
      html: 'Continue'
    }) }} -->
  </div>
</div>
{% endblock %}
