{% extends "_wizard-form.html" %}
{% set isOrderUser = data['school-details'].order_user %}
{% set title = 'Do you want donated Microsoft Windows laptops?' %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p>Mail Force are collecting:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>donations to buy new laptops</li>
    <li>used laptops donated by companies</li>
  </ul>

  <p>Donated laptops are being checked, refurbished if used, and distributed to schools and colleges.</p>

  <p>Every laptop will meet our minimum requirements, but they are not all the same.</p>

  <p>All laptops will be Microsoft Windows devices. They are provided with factory settings and you should configure them at your own cost before lending them to children and young people.</p>

  <h2 class="govuk-heading-m">How many devices you will get</h2>

  <p>We do not know how many laptops will be donated. Newly received laptops will be distributed to a random selection of opted-in schools and colleges each week.</p>

  <p>You could receive up to 25 refurbished devices, in boxes of 5, or you might not get any. We’ll email you if you’re selected.</p>

  <p>Refurbished laptops are in addition to your allocation.</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: "Do you want to opt-in?",
        classes: "govuk-fieldset__legend--m"
      },
      classes: "govuk-!-margin-top-6"
    },
    items: [
      {
        text: 'Yes, opt-in to donated laptops'
      },
      {
        text: 'No, we do not want donated devices'
      },
      {
        text: 'I will decide later'
      }
    ]
  } | decorateFormAttributes(["refurbished"]) ) }}
{% endblock %}
