{% extends "_wizard-form.html" %}

{% if data.features.iss %}
  {% set title = "Get laptops for state-funded pupils at independent settings" %}
{% elif data.features.socialCare %}
  {% set title = "Order laptops and internet access for care leavers" %}
{% else %}
  {% set title = "You’re signed in as " + data['school-details'].name %}
{% endif %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {% if data.features.iss %}
      Get laptops and <span class="app-no-wrap">internet access</span> for <span class="app-no-wrap">state-funded</span> pupils at <span class="app-no-wrap">independent settings</span>
    {% else %}
      {{ title }}
    {% endif %}
  </h1>

{% if data.features.iss %}
  <p>
    Laptops are available for state-funded pupils that {{ data.rb }} funds to attend independent special schools or independent alternative provision.
  </p>
  <p>
    Use this service to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      check you’ve been allocated the correct number of laptops
    </li>
    <li>
      place orders for laptops
    </li>
    <li>
      request internet access for eligible pupils
    </li>
  </ul>
{% elif data.features.socialCare %}
  <p>
    You can now order laptops for care leavers aged 16 to 25 who do not have access to a laptop or tablet from any other source.
  </p>
  <p>
    Use this service to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      check you’ve been allocated the correct number of laptops
    </li>
    <li>
      place orders for laptops
    </li>
    <li>
      request internet access for eligible care leavers
    </li>
  </ul>
{% else %}
  <p>You can use this service to:</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
    {% if data.features['order-in-service'] %}
      <li>place orders</li>
    {% else %}
      <li>access the Computacenter TechSource website to place orders</li>
      <li>give us technical details for Chromebooks if you’ll be ordering them</li>
    {% endif %}
    <li>check how many devices you can order</li>
    <li>manage who can use this service</li>
  </ul>
{% endif %}
{% endblock %}
