{% extends "_wizard-form.html" %}
{% set isOrderUser = data['school-details'].order_user %}
{% if data.features.iss %}
  {% set title = "Get laptops for state-funded pupils at independent settings" %}
  {% else %}
  {% set title = "You’re signed in as " + data['school-details'].name %}
{% endif %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {% if data.features.iss %}
      Get laptops for and internet access <span class="app-no-wrap">state-funded</span> pupils at independent settings
    {% else %}
      {{ title }}
    {% endif %}
  </h1>

{% if data.features.iss %}
  <p>
    Laptops are available for state-funded pupils that {{ data.rb }} funds to attend independent special schools or independent alternative provision.
  </p>
  <p>
    Use this service to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      check you’ve been allocated the correct number of laptops
    </li>
    <li>
      place orders for laptops
    </li>
    <li>
      request internet access for eligible pupils
    </li>
  </ul>
{% else %}
  <p>You can use the ‘Get help with technology’ service to:</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
    <li>check how many devices you can order</li>
    {% if isOrderUser %}
      <li>access the Computacenter TechSource website to place orders{% if not data.features.push %} when devices are made available{% endif %}</li>
    {% endif %}
    <li>give us technical details for Chromebooks if you’ll be ordering them</li>
    <li>manage who can order devices</li>
  </ul>
{% endif %}
{% endblock %}
