{% extends "_wizard-form.html" %}
{% set title = "What happens next" %}
{% set buttonText = "Finish and go to homepage" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p>You can continue to use this service to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>add more users</li>
    <li>change your Chromebook settings</li>
    <li>review your allocation</li>
    <li>request devices for clinically vulnerable children who are shielding</li>
    <li>request an allocation of 4G wireless routers</li>
    <li>request data increases for mobile devices</li>
  </ul>

  <p class="govuk-!-margin-bottom-6 ">If your school is affected by local coronavirus restrictions, we’ll contact you as soon as you’re able to place orders.</p>
{% endblock %}
