{% extends "_wizard-form.html" %}
{% set title = "What happens next" %}
{% set buttonText = "Finish and go to homepage" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <p>You can continue to use this service to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>add more users</li>
    <li>change your Chromebook settings</li>
    <li>review your allocation</li>
    <li>request devices for clinically vulnerable students who are shielding</li>
  </ul>
  <p class="govuk-!-margin-bottom-6">When your TechSource account is ready you can order your devices.</p>
{% endblock %}
