{% extends "layout.html" %}
{% set title = "Manage users" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/school"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <p>No more than {{ data['max-school-order-users'] }} users will be allowed to place orders.</p>

    <p>Everyone with access can:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>add or edit existing users</li>
      <li>change who places orders for devices</li>
    </ul>

    {{ govukButton({
      text: 'Invite a new user',
      href: '/school/users/new',
      classes: 'govuk-!-margin-bottom-8'
    }) }}

    <h2 class="govuk-heading-l">Users</h2>
    {% set isSchoolUser = true %}
    {% for user in data['school-users'] %}
      {% include "_shared/_user.html" %}
    {% endfor %}
  </div>
</div>

{% endblock %}
