{% extends "layout.html" %}
{% set title = "Invite a new user" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/school/users"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/school/users" method="post">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p>New users:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>will get an invite to the Computacenter TechSource website</li>
        <li>will have access to this service</li>
        <li>can also add new users or edit existing ones</li>
      </ul>

      <p>Add someone who:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>is planning the response to local coronavirus restrictions</li>
        <li>understands what devices are needed and who will get them</li>
        <li>can configure devices or give technical information</li>
      </ul>

      {{ govukInput({
        label: {
          text: "Name",
          classes: "govuk-label--m"
        }
      } | decorateFormAttributes(["school", "new-invite-name"]) )}}

      <!-- Add in details about named contacts not generic ones -->

      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--m"
        }
      } | decorateFormAttributes(["school", "new-invite-email-address"]) )}}

      {{ govukInput({
        classes: "govuk-input--width-10",
        label: {
          text: "Telephone number",
          classes: "govuk-label--m"
        }
      } | decorateFormAttributes(["school", "new-invite-number"]) )}}

      {{ govukButton({
          html: 'Send invite'
      }) }}
    </form>
  </div>
</div>

{% endblock %}
