{% extends "layout.html" %}
{% set title = "Invite a new user" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/school/users"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/school/users" method="post">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      {% include '_shared/invite/_who.html' %}
      {% include '_shared/invite/_school-fields.html' %}

      {{ govukButton({
          html: 'Send invite'
      }) }}
    </form>
  </div>
</div>

{% endblock %}
