{% extends "layout.html" %}
{% set title = "Give someone access to order devices" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/school/users"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/school/users" method="post">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p>Give access to people who:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>are planning the response to a local lockdown</li>
        <li>understand what devices are needed and who they will be for</li>
        <li>know how to configure the devices</li>
      </ul>

      <p>New users:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
        <li>will receive a TechSource account to make device orders</li>
        <li>will have access to this service</li>
        <li>can also add new users or edit existing ones</li>
      </ul>

      {{ govukInput({
        label: {
          text: "Name",
          classes: "govuk-label--m"
        }
      } | decorateFormAttributes(["school", "new-invite-name"]) )}}

      <!-- Add in details about named contacts not generic ones -->

      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--m"
        }
      } | decorateFormAttributes(["school", "new-invite-email-address"]) )}}

      {{ govukInput({
        classes: "govuk-input--width-10",
        label: {
          text: "Telephone number",
          classes: "govuk-label--m"
        }
      } | decorateFormAttributes(["school", "new-invite-number"]) )}}

      {{ govukButton({
          html: 'Send invite'
      }) }}
    </form>
  </div>
</div>

{% endblock %}
