{% set noAllocation = school.total == 0 %}

{% set schoolContactHtml %}
  {% if isHeadteacher %}Headteacher: {% endif %}
  {{ name }}
  <br />{{ emailAddress }}
  {% if number %}
    <br />{{ number }}
  {% endif %}
{% endset %}

{% set statusHtml %}
  {% set urn = school.URN %}
  {% include 'responsible-body/devices/school/_status-tag.html' %}
{% endset %}

{% if noAllocation %}
  {% set orderAction =
    { items: [{ text: 'Get devices for specific circumstances', href: '/responsible-body/devices/request-devices' }] }
  %}
  {% set orderText = 'No because there is no allocation' %}
{% elseif school.can_order %}
  {% if whoOrders != 'The school orders devices' %}
    {% set orderAction =
      { items: [{ text: 'Place orders now', href: '/responsible-body/devices/schools/' + school.URN + '/order' }] }
    %}
  {% endif %}
  {% set orderText = 'Yes, local coronavirus restrictions have been confirmed' %}
{% else %}
  {% set orderAction =
    { items: [{ text: 'Get devices for specific circumstances', href: '/responsible-body/devices/request-devices']} }
  %}
  {% set orderText = 'Not yet because there are no local coronavirus restrictions' %}
{% endif %}

{% set whoOrdersHtml %}
  {{ whoOrders }}
{% endset %}

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-0 govuk-!-margin-top-0',
  rows: [
    {
      key: {
        text: "Status"
      },
      value: {
        html: statusHtml
      }
    },
    {
      key: {
        text: "Who will order?"
      },
      value: {
        html: whoOrders
      },
      actions: {
        items: [
          {
            text: 'Change',
            href: '/responsible-body/devices/schools/' + school.URN + '/who'
          }
        ]
      }
    },
    {
      key: {
        text: "Provisional allocation"
      },
      value: {
        html: school.total + ' devices'
      },
      actions: {
        items: [
          {
            text: 'Query allocation',
            href: '#'
          }
        ]
      }
    },
    {
      key: {
        text: "Can place orders?"
      },
      value: {
        text: orderText
      },
      actions: orderAction
    },
    {
      key: {
        text: "Type of school"
      },
      value: {
        text: "Special school" if school.type == 'Special schools' else school.phase + ' school'
      }
    },
    {
      key: {
        text: "School contact"
      },
      value: {
        html: schoolContactHtml
      },
      actions: {
        items: [
          {
            text: 'Change',
            href: '/responsible-body/devices/schools/' + school.URN + '/who-contact'
          }
        ]
      }
    } if hasSetContactDetails,
    {
      key: {
        text: "Ordering Chromebooks?"
      },
      value: {
        html: data["responsible-body"][school.URN].chromebooks
      },
      actions: {
        items: [
          {
            text: 'Change',
            href: '/responsible-body/devices/schools/' + school.URN + '/chromebooks'
          }
        ]
      }
    } if hasSetChromebookDetails,
    {
      key: {
        text: "Domain"
      },
      value: {
        html: domain
      },
      actions: {
        items: [
          {
            text: 'Change',
            href: '/responsible-body/devices/schools/' + school.URN + '/chromebooks'
          }
        ]
      }
    } if domain,
    {
      key: {
        text: "Recovery email address"
      },
      value: {
        html: recoveryAddress
      },
      actions: {
        items: [
          {
            text: 'Change',
            href: '/responsible-body/devices/schools/' + school.URN + '/chromebooks'
          }
        ]
      }
    } if recoveryAddress
  ]
}) }}
