{% if data.covid and school and school['can_order'] %}
  <span class="govuk-tag govuk-tag--green">Orders open</span>
{% elseif school.total == 0 %}
  <span class="govuk-tag govuk-tag--orange">No allocation</span>
{% elseif (hasCentralAll and not data['responsible-body'][urn].who) or data['responsible-body'][urn].who == 'central' %}
  {% if data['responsible-body'][urn].chromebooks %}
    <span class="govuk-tag govuk-tag--blue">Ready</span>
  {% else %}
    <span class="govuk-tag govuk-tag--grey">Needs information</span>
  {% endif %}
{% else %}
  {% if data['responsible-body'][urn]['person-type'] %}
    <span class="govuk-tag govuk-tag--yellow">School contacted</span>
  {% else %}
    <span class="govuk-tag govuk-tag--grey">Needs a contact</span>
  {% endif %}
{% endif %}
