{% if (hasCentralAll and not data['responsible-body'][urn].who) or data['responsible-body'][urn].who == 'central' %}
  {% if school and school['can_order'] %}
  {% elseif data['responsible-body'][urn].chromebooks %}
  {% else %}
    <span class="govuk-tag govuk-tag--grey">Needs information</span>
  {% endif %}
{% else %}
  {% if school and school['can_order'] %}
  {% elseif data['responsible-body'][urn]['person-type'] %}
    <span class="govuk-tag govuk-tag--yellow">School contacted</span>
  {% else %}
    <span class="govuk-tag govuk-tag--grey">Needs a contact</span>
  {% endif %}
{% endif %}
