{% extends "layout.html" %}
{% set title = school.name %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body/devices/schools"
  }) }}
{% endblock %}

{% set schoolContactHtml %}
  {% if isHeadteacher %}Headteacher: {% endif %}
  {{ name }}
  <br />{{ emailAddress }}
  {% if number %}
    <br />{{ number }}
  {% endif %}
{% endset %}

{% block content %}
{{ appBanner({
  html: '<h2 class="govuk-heading-m">' + success + '</h2>',
  type: "success",
  icon: false
}) if success }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/responsible-body/devices/schools/{{ school.URN }}" method="post">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        {{ title }}
      </h1>

      <div class="{% if not hasSetContactDetails and not hasSetChromebookDetails %}govuk-inset-text{% else %}govuk-!-margin-bottom-6{% endif %} govuk-!-padding-top-0">
        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-0 govuk-!-margin-top-0',
          rows: [
            {
              key: {
                text: "Allocation"
              },
              value: {
                text: school.total + ' devices'
              }
            },
            {
              key: {
                text: "Type of school"
              },
              value: {
                text: "Special school" if school.type == 'Special schools' else school.phase + ' school'
              }
            },
            {
              key: {
                text: "Who orders?"
              },
              value: {
                text: whoOrders
              },
              actions: {
                items: [
                  {
                    href: "/responsible-body/devices/schools/" + school.URN + "/who",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "School contact"
              },
              value: {
                html: schoolContactHtml
              },
              actions: {
                items: [
                  {
                    href: "/responsible-body/devices/schools/" + school.URN + "/who-contact",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            } if hasSetContactDetails,
            {
              key: {
                text: "Ordering Chromebooks?"
              },
              value: {
                text: data["responsible-body"][school.URN].chromebooks
              },
              actions: {
                items: [
                  {
                    href: "/responsible-body/devices/schools/" + school.URN + "/chromebooks",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            } if hasSetChromebookDetails,
            {
              key: {
                text: "Domain"
              },
              value: {
                text: domain
              },
              actions: {
                items: [
                  {
                    href: "/responsible-body/devices/schools/" + school.URN + "/chromebooks",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            } if domain,
            {
              key: {
                text: "Recovery email address"
              },
              value: {
                text: recoveryAddress
              },
              actions: {
                items: [
                  {
                    href: "/responsible-body/devices/schools/" + school.URN + "/chromebooks",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            } if recoveryAddress
          ]
        }) }}
      </div>

      {% if showContactForm %}
        {% include 'responsible-body/devices/school/_contact-details.html' %}

        {{ govukButton({
          text: "Save and send email"
        }) }}
      {% endif %}

      {% if showChromebookForm %}
        <h2 class="govuk-heading-l">Will you be ordering Chromebooks?</h2>
        {% include 'responsible-body/devices/school/_chromebook-details.html' %}

        {{ govukButton({
          text: "Save"
        }) }}
      {% endif %}

      <p>
        <a href="/responsible-body/devices/schools">Return to list of schools</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}
