{% extends "layout.html" %}
{% set title = school.name %}
{% set noAllocation = school.total == 0 %}
{% if data.covid or noAllocation %}
  {% set showForms = false %}
{% else %}
  {% set showForms = showChromebookForm or showContactForm %}
{% endif %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body/devices/schools"
  }) }}
{% endblock %}

{% block content %}
{{ appBanner({
  html: '<h2 class="govuk-heading-m">' + success + '</h2>',
  type: "success",
  icon: false
}) if success }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
  </div>
</div>

{% if noAllocation %}
  {% include 'responsible-body/devices/school/_school-no-allocation.html' %}
{% endif %}

{% if showForms %}
  {% include 'responsible-body/devices/school/_school-prompt.html' %}
{% endif %}

{% if showForms or noAllocation %}
  <h2 class="govuk-heading-l govuk-!-margin-top-6">School details</h2>
{% endif %}
<div class="govuk-!-padding-top-0 govuk-!-margin-top-0 govuk-!-margin-bottom-6">
  {% include 'responsible-body/devices/school/_school-details.html' %}
</div>

<p>
  <a href="/responsible-body/devices/schools">Return to list of schools</a> or <a href="/responsible-body/devices/schools/{{ nextSchoolUrn }}">go to the next school</a>
</p>
{% endblock %}
