{% extends "layout.html" %}
{% set title = "Order devices now" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body/devices/schools/" + school.URN
  }) }}
{% endblock %}

{% block content %}
{{ appBanner({
  html: '<h2 class="govuk-heading-m">' + success + '</h2>',
  type: "success",
  icon: false
}) if success }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ school.name }}</span>
      {{ title }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-order-card">
      <h1 class="govuk-panel__title govuk-!-font-size-36 govuk-!-margin-bottom-2">
        {{ school.total }} devices available
      </h1>
      <div class="govuk-panel__body govuk-!-font-size-24">
        You’ve ordered 0 of {{ school.total }} devices
      </div>
    </div>

    <p class="govuk-body">Order your devices now. Do not delay.</p>
    {% if data.features['delay-delivery']%}
      <p class="govuk-body">We’re experiencing high demand at the moment, but we’re working hard to get devices delivered within 5 working days.</p>
    {% else %}
      <p>They will arrive on the next working day if you order before 4pm.</p>
    {% endif %}

    {% include '_shared/order/_help-signing-in.html' %}
    {% include '_shared/order/_start-now.html' %}
  </div>
</div>
{% endblock %}
