{% extends "layout.html" %}
{% set title = "What network are you requesting data from?" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body/mobile/new"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <form method="post" action="/responsible-body/mobile/check-answers" class="govuk-grid-column-two-thirds">
    {% set paygHtml %}
      {{ govukRadios({
        fieldset: {
          legend: {
            text: "Are they a Pay as you go (PAYG) customer?"
          }
        },
        items: [
          {
            text: "Yes"
          },
          {
            text: "No"
          }
        ]
      }) }}
    {% endset %}

    {{ govukRadios({
      fieldset: {
        legend: {
          text: "What network are you requesting data from?",
          isPageHeading: true,
          classes: "govuk-label--xl govuk-!-margin-bottom-6"
        }
      },
      items: [
        {
          text: "BT Mobile"
        },
        {
          text: "BT Plusnet"
        },
        {
          text: "EE"
        },
        {
          text: "giffgaff"
        },
        {
          text: "Asda Mobile",
        },
        {
          text: "O2",
          conditional: {
            html: paygHtml
          }
        },
        {
          text: "Tesco Mobile"
        },
        {
          text: "Three"
        },
        {
          text: "Sky Mobile"
        },
        {
          text: "Virgin Mobile"
        },
        {
          text: "Vodafone"
        },
        {
          divider: "or"
        },
        {
          text: "Another network",
          conditional: {
            html: notAccountHolderHtml
          }
        }
      ]
    } | decorateFormAttributes('network') ) }}

    {{ govukButton({
      html: 'Continue'
    }) }}
  </form>
</div>
{% endblock %}
