{% if data.features['further-education'] %}
  {% set collegeInList = ', college, or ' %}
  {% set orCollege = ' or college, ' %}
{% endif %}

{% if data.features['further-education'] %}
  {% set collegeInList = ', college, or ' %}
  {% set orCollege = ' or college ' %}
{% else %}
{% endif %}

{% set chromebookFields %}
  {{ govukInput({
    label: {
      text: 'School' + collegeInList + 'local authority domain registered for G Suite for Education',
      classes: 'govuk-label--s'
    },
    hint: {
      text: 'For example, ‘school.co.uk’'
    }
  } | decorateFormAttributes(["domain"] if isSchool else ["responsible-body", school.URN, "domain"]) ) }}

  {{ govukInput({
    label: {
      text: 'Recovery email address',
      classes: 'govuk-label--s'
    },
    hint: {
      text: 'This email address must be on a different domain to the school' + orCollege + 'domain. For example, if the domain is ‘school.com’, then the email must not be ‘recovery@school.com’.'
    }
  } | decorateFormAttributes(["recovery"] if isSchool else ["responsible-body", school.URN, "recovery"]) ) }}


  <p class="govuk-!-margin-top-4">
    If you need help finding these details, email <a href="#">COVID.TECHNOLOGY@education.gov.uk</a>
  </p>
{% endset %}

{{ govukRadios({
  items: [
    {
      text: 'Yes, we will order Chromebooks',
      value: 'Yes',
      conditional: {
        html: chromebookFields
      }
    },
    {
      text: 'No, we will not order Chromebooks'
    },
    {
      text: 'I don’t know',
      conditional: {
        html: '<p class="govuk-body">You cannot place an order until you tell us whether you’ll be ordering Chromebooks or not</p>'
      }
    } if iDontKnow
  ]
} | decorateFormAttributes(["chromebooks"] if isSchool else ["responsible-body", school.URN, "chromebooks"]) ) }}
