{% if data.features['further-education'] %}
  {% set listOfOrgModifier = ', college or ' %}
{% else %}
  {% set listOfOrgModifier = ' or ' %}
{% endif %}

{{ govukInput({
  label: {
    text: 'School' + listOfOrgModifier + 'local authority domain registered for G Suite for Education',
    classes: 'govuk-label--s'
  },
  hint: {
    text: 'For example, ‘school.co.uk’'
  }
} | decorateFormAttributes(["domain"] if isSchool else ["responsible-body", school.URN, "domain"]) ) }}

{{ govukInput({
  label: {
    text: 'Recovery email address',
    classes: 'govuk-label--s'
  },
  hint: {
    text: 'This email address must be on a different domain to the school' + listOfOrgModifier + 'local authority domain. For example, if the domain is ‘school.com’, then the email must not be ‘recovery@school.com’.'
  }
} | decorateFormAttributes(["recovery"] if isSchool else ["responsible-body", school.URN, "recovery"]) ) }}
