{% extends "layout.html" %}
{% set title = "Download your BT hotspot log-ins" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% set downloadAgain = data['downloaded'] == 'yes' %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body/internet"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Download your BT hotspot&nbsp;log-ins{% if downloadAgain %} again{% endif %}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/responsible-body/download" method="post">

      <h2 class="govuk-heading-l">Your allocation</h2>

      <p class="govuk-body">You’ve been allocated 300 log-ins to pass on to schools and families. A log-in is a username and password. BT calls these ‘vouchers’.</p>

      <p>Your allocation was calculated based on school census data and free school meal (FSM) data. The Department for Education has a total of 10,000 BT log-ins to distribute across England.</p>

      <h2 class="govuk-heading-l">Distributing log-ins</h2>

      <p>Not everyone in need will be able to access a BT hotspot, so schools should find out who the vouchers will work for before giving them out.</p>

      <p>
        <a href="#">Read our guide for distributing vouchers to families</a>
      </p>

      <h2 class="govuk-heading-l">Download</h2>

      {{ govukButton({
        html: 'Download again' if downloadAgain else 'Download log-ins'
      }) }}

      <p>Log-ins will be downloaded as a spreadsheet (CSV file).</p>
    </form>
  </div>
  <div class="govuk-grid-column-one-third">
    {{ appRelated({
      title: "Guidance",
      items: [
        {
          href: '#',
          text: 'Guide to distributing vouchers'
        },
        {
          href: '#',
          text: 'More about free access to BT wifi hotspots'
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}
