{% extends "_guide.html" %}

{% block markdown %}
Find out the following from the account holder:

* their name
* their mobile phone number (this should always start with ‘07’)

Check you’ve noted down these details correctly, then record them in the spreadsheet. Also make a note of their mobile network, and whether they’re on a contract or a Pay-as-you-go deal.

We need these details to arrange the increase in data with the relevant mobile network.

Account holders with monthly contracts need to be over the age of 18.
{% endblock %}
