{% extends "_guide.html" %}

{% block markdown %}
To check if the child or young person can benefit from a mobile data increase, you need to find out:

* what their (or their family member’s) mobile network is
* whether they’re on a monthly contract or a Pay-as-you-go deal

### How to check someone’s mobile network

Most smartphones display the name of the network on the top right or left of the screen.

### How to check if someone’s on a Pay-as-you-go deal or a contract

Ask the account holder if they top up their credit at a shop. If they do, they’re likely to be a Pay-as-you-go customer. If they have a monthly direct debit, they probably have a contract.
{% endblock %}
