{% extends "_guide.html" %}

{% block markdown %}
This guide is for anyone who needs to explain the Department for Education’s scheme to increase mobile data allowances for children and young people.

It helps you tell people what’s available and collect the information you need to submit.

### Who can get help

This scheme is open to children and young people who:

* don’t have access to a fixed broadband connection
* cannot afford the additional data needed to access educational resources
* have access to a mobile device that uses a participating network
* are facing disruption to their face-to-face education, or have been advised not to attend school

### What information you’ll need to collect

To request extra mobile data, you will need to collect the following information:

* the account holder’s name
* their mobile number (a number beginning with ‘07’)
* their mobile network
* whether they pay monthly or pay as they go

You also need to explain our privacy policy to the account holder.

### How to save information

You can use the following template spreadsheet to save the information you’re collecting:

* [Excel spreadsheet](#)
{% endblock %}
