{% extends "_guide.html" %}
{% set title = "Overview" %}

{% block markdown %}
## {{ title }}

To check if someone is eligible they must:

* not already have broadband at home

To request extra mobile data for an eligible person we need you to collect:

* the account holder’s name (not the name of the child)
* their mobile number (a number beginning with ‘07’)
* their mobile network
* whether they are on a contract or Pay as you go
* permission to share these details with the Department for Education and the mobile network
{% endblock %}
