{% extends "_guide.html" %}

{% block markdown %}
This guide is for anyone who needs to explain the Department for Education’s pilot offer to increase mobile data allowances for children and young people.

It helps you tell people what’s available and collect the information you need to submit.

### Who can get help

The pilot is open to children from early years up to 16, and care leavers up to 25 if they:

* don’t have access to a fixed broadband connection
* cannot afford the additional data needed to access educational resources or social care services
* cannot access a BT hotspot
* are an existing customer of a participating mobile network operator

### What information you’ll need to collect

To request extra mobile data for an eligible person we need you to collect:

* the account holder’s name (not the name of the child)
* their mobile number (a number beginning with ‘07’)
* their mobile network
* whether they pay monthly or pay as they go
* permission to share these details with the Department for Education and the mobile network

{% if data.features['bulk-upload'] %}
### Where to put this information

Use one of the following template spreadsheets:

* [Excel spreadsheet](#)
* [Google Sheets spreadsheet](#)

Return your completed spreadsheets to email@email.com
{% endif %}

{% endblock %}
