{% extends "_guide.html" %}
{% block markdown %}

What data someone will get depends on their mobile network. Some networks can’t offer data to Pay as you go (PAYG) customers.

You should tell them:
* if there is an offer they can use (or if there is no offer available)
* the details of that offer
* that they’ll receive a text message when their free data has been activated
* when their free data will end
* that this data can be used when tethering a mobile phone to another device for internet access

### Offer details
{% endblock %}

{% block html %}
{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "BT Mobile"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for Writing well for the web.</p>"
      }
    },
    {
      heading: {
        text: "BT Plusnet"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for Writing well for specialists.</p>"
      }
    },
      {
      heading: {
        text: "EE"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for Know your audience.</p>"
      }
    },
      {
      heading: {
        text: "GiffGaff"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for How people read.</p>"
      }
    },
    {
      heading: {
        text: "O2"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for How people read.</p>"
      }
    },
    {
      heading: {
        text: "Tesco Mobile"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for How people read.</p>"
      }
    },
    {
      heading: {
        text: "Three"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for How people read.</p>"
      }
    }, {
      heading: {
        text: "Sky Mobile"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for How people read.</p>"
      }
    }, {
      heading: {
        text: "Virgin Mobile"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for How people read.</p>"
      }
    }, {
      heading: {
        text: "Vodafone"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for How people read.</p>"
      }
    }, {
      heading: {
        text: "Another network"
      },
      content: {
        html: "<p class='govuk-body'>This is the content for How people read.</p>"
      }
    }
  ]
}) }}
{% endblock %}
