{% extends "_wizard-form.html" %}
{% set title = "Confirm they can access the internet" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <p>On their device, ask them to visit this page and follow the instructions there:</p>
  <p class='govuk-inset-text govuk-!-font-weight-bold'>https://get-help-with-tech.education.gov.uk/confirm/12345678</p>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: 'Could they load the page and complete the form?',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        text: 'Yes'
      },
      {
        text: 'No'
      }
    ]
  } | decorateFormAttributes('confirm-access') ) }}
{% endblock %}
