{% extends "_wizard-form.html" %}
{% set title = "We’ve sent them a username and password by text" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {{ govukRadios({
    fieldset: {
      legend: {
        text: 'Have they received them?',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        text: 'Yes'
      },
      {
        text: 'No – try sending another text'
      },
      {
        text: 'No – try sending again by email'
      },
      {
        text: 'No – read out over the phone',
        hint: {
          text: 'Letters in the username and password may be difficult to hear over the phone, for example ‘ffdeeg123!’'
        }
      }
    ]
  } | decorateFormAttributes('login-received') ) }}
{% endblock %}
