{% extends "_wizard-form.html" %}
{% set title = "What network are they on?" %}

{% block form %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-label--xl govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: "BT Mobile"
      },
      {
        text: "BT Plusnet"
      },
      {
        text: "EE"
      },
      {
        text: "giffgaff"
      },
      {
        text: "Asda Mobile"
      },
      {
        text: "O2"
      },
      {
        text: "Tesco Mobile"
      },
      {
        text: "Three"
      },
      {
        text: "Sky Mobile"
      },
      {
        text: "Virgin Mobile"
      },
      {
        text: "Vodafone"
      },
      {
        divider: "or"
      },
      {
        text: "Another network",
        conditional: {
          html: notAccountHolderHtml
        }
      }
    ]
  } | decorateFormAttributes('network') ) }}
{% endblock %}
