{% extends "_wizard-form.html" %}
{% set title = "How do they want to receive their username and password?" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {{ govukRadios({
      items: [
        {
          text: 'Send in a text message',
          value: 'text',
          hint: {
            text: 'We will send a username and password to ' + data['young-person-number']
          }
        },
        {
          text: 'Send by email',
          value: 'email'
        },
        {
          text: 'Read out over the phone',
          value: 'phone',
          hint: {
            text: 'Letters in the username and password may be difficult to hear over the phone, for example ‘ffdeeg123!’'
          }
        }
      ]
  } | decorateFormAttributes('send-login') ) }}
{% endblock %}
