{% extends "_wizard-form.html" %}
{% set title = "Success" %}
{% set notStandardForm = true %}

{% block primary %}
  {{ govukPanel({
    titleText: "Success",
    html: "They now have internet access"
  }) }}

  <div class="govuk-grid-row">
    <form method="post" action="{{ paths.next }}" class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-top-6">What next?</h2>

      <p>[Instructions]</p>

      {{ govukButton({
        html: 'Finish'
      }) }}
    </form>
  </div>
{% endblock %}
