{% extends "_wizard-form.html" %}
{% set title = "Who are you about to talk to?" %}

{% block form %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {{ govukInput({
    label: {
      text: "Name of young person",
      classes: "govuk-label--m"
    }
  } | decorateFormAttributes('young-person-name') )}}

  {{ govukInput({
    label: {
      text: "Their phone number",
      classes: "govuk-label--m"
    },
    classes: "govuk-input--width-10"
  } | decorateFormAttributes('young-person-number') )}}
{% endblock %}
