{% extends "layout.html" %}
{% set title = "You’re signed in as " + data['school-details'].name %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
    <p>
      You can use the ‘Get help with technology’ service to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>manage who will order devices for your school</li>
      <li>access the Computacenter TechSource website to place orders when devices are made available</li>
      <li>give us technical details for Chromebooks if you’ll be ordering them</li>
      <li>view your device allocation</li>
    </ul>
    <a href="sixth-form-increase" role="button" class="govuk-button">
      Continue
    </a>
  </div>
</div>
{% endblock %}
