{% extends "layout.html" %}
{% block pageTitle %}Sign in{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Check your email
    </h1>
    <p class="govuk-body-l">
      <a href="/resonsible-body" style="text-decoration: none; color: inherit">We’ve sent you an email</a>. Click on the link to confirm your address and return to this service.
    </p>
    <p class="govuk-body">
      If our email doesn’t arrive within 5 minutes, check your spam and trash folder, or <a class="govuk-link" href="/sign-in">try again</a>.
    </p>
  </div>
</div>
{% endblock %}
