{% extends "layout.html" %}
{% block pageTitle %}Sign in{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <form action="/account/check-email-mno" method="post" class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sign in</h1>

      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "sign-in-email-address-mno",
        name: "sign-in-email-address-mno"
      }) }}

      {{ govukButton({
        text: "Sign in"
      }) }}
    </form>
  </div>
{% endblock %}
