{% extends "layout.html" %}
{% set title = 'Sign in' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <form action="/account/check-email" method="post" class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>

      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "sign-in-email-address-rb",
        name: "sign-in-email-address-rb"
      }) }}

      {{ govukButton({
        text: "Sign in"
      }) }}
    </form>
  </div>
{% endblock %}
