{% extends "layout.html" %}
{% set title = "Tell us who to contact about ordering devices" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/responsible-body"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {{ govukButton({
      text: 'Tell us about someone new',
      href: '/responsible-body/invite/new-contact'
    }) }}
  </div>
</div>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">Organisation</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for user in data['responsible-body']['school-users'] %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <strong>{{ user.name }}</strong><br />
          {{ user.email }}<br />
          {{ user.number }}
        </td>
        <td class="govuk-table__cell">{{ user.org }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
