{% extends "_email.html" %}

{% set title = "Get laptops and tablets for children who cannot attend school due to coronavirus" %}
{% set to = "headteacher@school.gov.uk" %}

{% block content %}
  <h2 class="govuk-heading-m">{{ title }}</h2>
  <p class="govuk-body">Dear colleague,</p>

  <p>The Department for Education (DfE) is <a href="https://www.gov.uk/guidance/get-laptops-and-tablets-for-children-who-cannot-attend-school-due-to-coronavirus-covid-19">providing laptops and tablets to disadvantaged children in certain year groups</a> who are affected by disruption to face to face education at their school due to local coronavirus (COVID-19) outbreaks.</p>

  <h2 class="govuk-heading-m">Get help with technology</h2>

  <p>You have been given access to the Get help with technology service where you can prepare to order devices for your school.</p>

  <p>You can sign in and use this service to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>tell us who will order devices for your school</li>
    <li>add additional contacts for your school</li>
    <li>see your school’s device allocaton</li>
  </ul>

  <h2 class="govuk-heading-m">Sign in</h2>
  <p>Sign in using your email address ({{ to }}) to get started:</p>
  <p><a href="/account/sign-in-school">https://get-help-with-tech.education.gov.uk/sign-in</a></p>

  <p>Bookmark this page, you will need it if there is a local lockdown.</p>

  <h2 class="govuk-heading-m">Ordering laptops and tablets</h2>

  <p>
    You and all other nominated contacts within your school will receive:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>sign in details to the TechSource platform for placing orders</li>
    <li>sign in details for the Computacenter Support Portal for technical assistance</li>
    <li>an email when the ordering process devices become available as a result of local coronavirus (COVID-19) restrictions</li>
  </ul>

  <p>Email COVID.TECHNOLOGY@education.gov.uk if you need to place an order because your school:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>supports a clinically extremely vulnerable child who is shielding or self-isolating following official advice</li>
    <li>is supporting children who live in an area subject to local restrictions</li>
  </ul>

  <p>Devices will be delivered directly to your school within 2 working days of an order being confirmed.</p>

  <h2 class="govuk-heading-m">Find out more</h2>

  <p>Read <a href="#">How to order laptops and tablets during local coronavirus (COVID-19) outbreaks</a> for full detail on the ordering process.</p>
{% endblock %}
