{% if data.features['15-self'] %}
  {% if reopenedSchool %}
    <p>You can order the rest of your allocation when:</p>
  {% elseif isSchool %}
    <p>You can order your full allocation when:</p>
  {% else %}
    <p>You can order a school’s full allocation when:</p>
  {% endif %}
  <ul class="govuk-list govuk-list--bullet">
    <li>local coronavirus restrictions are confirmed</li>
    <li>15 or more children (in years 3 to 11) are self-isolating having been exposed to a confirmed case outside the school community</li>
  </ul>

  {% if isSchool %}
    <p>We’ll contact you about placing orders if you report disruption through the <a href="https://form.education.gov.uk/service/educational-setting-status">DfE educational settings status form</a>.</p>
  {% else %}
    <p>We’ll contact you about placing orders if a school reports disruption through the <a href="https://form.education.gov.uk/service/educational-setting-status">DfE educational settings status form</a>.</p>
  {% endif %}
{% else %}
  {% if data.features['order-only-what-you-need'] %}
    <p>You should only order the devices you need. You can do this when local coronavirus restrictions are confirmed.</p>
  {% else %}
    <p>You can only place orders when local coronavirus restrictions are confirmed.</p>
  {% endif %}

  <p>We’ll contact you as soon as you’re able to place orders.</p>
{% endif %}
