{% if isSchool %}
  <p>You can order your full allocation when:</p>
{% else %}
  <p>You can order a school’s full allocation when:</p>
{% endif %}
<ul class="govuk-list govuk-list--bullet">
  <li>local coronavirus restrictions are confirmed</li>
  <li>15 or more children (in years 3 to 11) are self-isolating having been exposed to a confirmed case outside the school community</li>
</ul>

<p>We’ll contact you about placing orders when local restrictions are confirmed.</p>

<p>Otherwise you will need to <a href="{{ requestLink }}#self-isolating">tell us if 15 or more children are self-isolating</a> before you can order.</p>
