<p>You need to place orders on a website called TechSource.</p>

<h2 class="govuk-heading-m">Before you start</h2>

<p>It’s important to know your device allocation before you sign in. If you try to order more devices than you’ve been allocated, the order will be cancelled.</p>

<p>Your ‘User ID’ is your email address: [EMAIL ADDRESS]</p>
<p>Use the ‘Forgotten password?’ link if you cannot remember your password.</p>

{% set helpHtml %}
  <p>You need to place orders on a website called TechSource, which is run by Computacenter.</p>
  <p>Your ‘User ID’ is your email address: [EMAIL ADDRESS]</p>
  <p>If you do not remember your password use the ‘Forgotten password?’ link to reset it.</p>
{% endset %}

<!-- {{ govukDetails({
  summaryText: "Help signing in to TechSource",
  html: helpHtml
}) }} -->
