{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  {% block banner %}{% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block page %}{% endblock %}

      {{ govukButton({
        text: buttonText if buttonText else 'Continue',
        href: paths.next,
        classes: 'govuk-!-margin-top-6'
      }) }}
    </div>
  </div>
{% endblock %}
