{% extends "_markdown.html" %}
{% set title = 'Increasing internet access for vulnerable and disadvantaged children' %}

{% block markdown %}
# {{ title }}

Internet access supports remote education, as well as virtual contact between children, their social workers and other services.

We know that many children don’t have reliable internet access, and we’re acting to change this.

## We’re giving children free access to wifi hotspots

The Department for Education has teamed up with BT to give children and young people free access to BT wifi hotspots. If they live in range of a BT hotspot, their school will give them log-in details to access the network.

[More about free access to BT wifi hotspots](/pages/about-bt-wifi)

## We’re increasing data allowances on mobile devices

We’re running a pilot scheme to temporarily increase data allowances on certain mobile devices. This is so disadvantaged children and young people can continue their remote education and maintain contact with social care services without incurring extra data charges.

[More about increasing data allowances on children’s mobile devices](/pages/about-increasing-mobile-data)

## If you have questions

If you have any questions, email [COVID.TECHNOLOGY@education.gov.uk](mailto:COVID.TECHNOLOGY@education.gov.uk?subject=Increasing%20internet%20access) using the subject line ‘Increasing internet access’.
{% endblock %}
' %}
