{% extends "layout.html" %}
{% set title = "Tell us who needs internet access" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    {{ appTaskList({
      classes: "govuk-!-margin-bottom-8",
      items: [{
        text: "How many young people need access",
        href: "/blah",
        id: "personal-details",
        tag: {
          classes: 'govuk-tag--grey',
          text: 'Not started'
        }
      }, {
        text: "Who needs additional mobile data",
        href: "/blah",
        id: "personal-details",
        tag: {
          classes: 'govuk-tag--grey',
          text: 'Not started'
        }
      }]
    }) }}
  </div>
</div>
{% endblock %}
