
{% extends "layout.html" %}
  {% set title = 'Choose the organisation you want to view' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>
    <p>
      You have access to manage ordering on behalf of more than one organisation.
    </p>
    <p>
      Select which one you want to view:
    </p>
    <nav>
      <ul class="govuk-list govuk-list--spaced">
        <li><a href="responsible-body/" class="">{{ data.rb }} – state schools and colleges</a></li>
        <li><a href="school/" class="">{{ data.rb }} – state-funded pupils at independent special schools and alternative provision</a></li>
        <li><a href="#" class="">Odessa Infant School</a></li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
