{% extends "layout.html" %}
{% set title = "Get the internet" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/school"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
  {{ title }}
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Help children get online by giving them 4G wireless routers or requesting extra data for their mobile devices. You can request these for disadvantaged children:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>in years 3 to 11 who do not have access to the internet and whose face-to-face education is disrupted. (In this event, you will also have been invited to order laptops and tablets).</li>
      <li>who are <a href="https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19">extremely clinically vulnerable</a> and need to shield on current official advice (this could be from a doctor or hospital consultant)</li>
      <li>who live in a household that’s been advised to shield because a family member is clinically extremely vulnerable</li>
      <li>who cannot attend school – even though theirs is open – because they live in a different area with local coronavirus restrictions</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/school/internet/mobile">Request extra data for mobile devices</a>
    </h2>

    <p>Request data for children who:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>have access to a mobile device on one of the participating networks</li>
      <li>can use that device to connect to the internet during school hours</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/school/internet/routers">Request 4G wireless routers</a>
    </h2>

    <p>Request 4G wireless routers for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>children without access to a mobile device</li>
      <li>families with multiple children needing internet access</li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    {{ appRelated({
      title: "Guidance",
      items: [
        {
          href: '#',
          text: 'Find out more about internet offers'
        },
        {
          href: '#',
          text: 'Compare internet offers'
        }
      ]
    }) }}
  </div>
</div>
{% endblock %}
