{% extends "layout.html" %}
{% set title = "Get internet access" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/school"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">
  {{ title }}
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Help disadvantaged children get online by requesting extra data for mobile devices or by giving them 4G wireless routers.
    </p>

    <ul class="govuk-list">
      <li><a href="#">Find out more about routers and data</a></li>
      <li><a href="#">Compare ways of getting children online</a></li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">What you can request</h2>

    <p>You can request data or routers for <a href="#">specific circumstances</a>.</p>

    <p>If your school reports a closure or more than 15 children are self-isolating, you can request data and routers for more children.</p>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/school/internet/mobile">Request extra data for mobile devices</a>
    </h2>

    <p>Request data for children who:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>have access to a mobile device on one of the participating networks</li>
      <li>can use that device to connect to the internet during school hours</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <a href="/school/internet/routers">Request 4G wireless routers</a>
    </h2>

    <p>Request routers for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>children without access to a mobile device</li>
      <li>families with multiple children needing internet access</li>
    </ul>
  </div>
  <!-- <div class="govuk-grid-column-one-third">
    {{ appRelated({
      title: "Guidance",
      items: [
        {
          href: '#',
          text: 'Find out more about internet offers'
        },
        {
          href: '#',
          text: 'Compare internet offers'
        }
      ]
    }) }}
  </div> -->
</div>
{% endblock %}
