{% extends "layout.html" %}
{% set title = "Request 4G wireless routers" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/school"
      },
      {
        text: "Get internet access",
        href: "/school/internet"
      },
      {
        text: customBreadcrumbTitle if customBreadcrumbTitle else title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <p>Now that your school has reported disruption to face-to-face education, you can request routers to help disadvantaged children get online.</p>

    <p>Try <a href="#">requesting extra mobile data</a> first. <a href="#">Compare routers and mobile data requests</a> to check which is best for a household.</p>

    <p>We have a limited number of routers available and may not be able to give you the number you request.</p>

    <h2 class="govuk-heading-m">What to put in your request</h2>

    <p>Tell us:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how many routers you need</li>
      <li>the year groups of the children who need them (years 3 to 11 only)</li>
      <li>why you need them</li>
    </ul>

    <p>To help us, please give evidence of:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how you’ve identified disadvantage, such as the number of children receiving free school meals or pupil premium</li>
      <li>your understanding of children’s access to the internet</li>
      <li>disadvantaged pupils joining the school since the Schools Census</li>
    </ul>

    <p>Evidence can be surveys, calls home, awareness of families, demographic data, or questions asked to parents. Please don’t send us any personal information, like names of children, or dates of birth.</p>

    {% include '_shared/request-devices/_where-send-request.html' %}
  </div>
</div>
{% endblock %}
