{% extends "layout.html" %}
{% set title = "Who can order devices" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/school"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ title }}
    </h1>

    <p class="govuk-body-l">Up to 5 people can order devices.</p>

    {% for user in data['school-users'] %}
      {% include "_shared/_user.html" %}
    {% endfor %}

    {{ govukButton({
      text: 'Add someone new',
      href: '/school/devices/manage/new',
      classes: 'govuk-!-margin-top-4'
    }) }}
  </div>
</div>

{% endblock %}
